<h1><center>A PHYLOGENETIC ANALYSIS OF POKEMON</center></h1>

![alt text](image1.jpeg "Title")

# INTRODUCTION
The purpose of this compiler is to build a 'genetic' database of Pokemon (also known as Poket Monsters, ポケットモンスター, or Poketto Monsutā) based on their explicit and unique 'move sets', 'body shapes', 'egg groups', and 'types'.  For context, the data being compiled is from a fantasy game developed by Nintendo in the mid 1990's that has grown in massive popularity over the past few decades.  The game's titular characters are a type of organism that share a single ancestor and have mutated and evolved into various forms based on environment and stress.  The gameplay pits these organisms against each other in paper-rock-scissors style combat around strengths and weaknesses; there is a competative scene around this gameplay in the real world.  Looking into the nuances of how each Pokemon stacks up against its relatives becomes as gritty as number crunching based on statistics AND move-set managemant based on 'evolutionary form'.

Website resources exist for the purpose of helping those interested in this level of competetion.  From official databases to meticulously updated fan-sites and wikis, there is no shortage of data, but they are all in disparate forms.  Amongst all this raw data, there existed a very interesting pattern, that seemed to mimic genetic sequences that I have worked with before. Repeated sequences in moves, shared breeding groups, and fundamental typing became the basis of that pattern.  Through application of 'translation' from raw data to processable genetic sequences development of a phylogenetic tree with about 90% accuracy was developed based on the first 250 organisms (image above).  

This is reworking (v2) of that original web-scrapper and compiler utilizing Pandas, NumPy, Beautiful Soup, and UrlLib.  The goal of this notebook is to sheperd the process of developing this project into a GitHub resource.  The final accomplishment of a working program should compile the raw data for a list of Pokemon into a CSV file (FinalDatabaseYYYY.MM.DD-HH.MM.SS.csv) for downstream phylogenetics translation.  Later additions to this will include the translation of the raw data to genetic information, analysis of molecular variance, phylogenetic processing, and tree imaging.

### Data Source Description
The data sources, from Git Repositories to the myriad of websites, all contain disparate data about the organisms that needs to be compiled together: Serebii has move sets, egg groups, form variations; while the Git Repositories contain base stats, alternate forms, as well as organism types.  Furthermore, the other resources will be the source of Body Types and Location data to further aid in possible phylogeographic analysis.  There are going to be mostly string data coming from these resources, this is optimal as it will provide the best format for 'translation'.  The string data will be appended to the current dataframe as extra columns.

#### GitHub Repository: 
This is a fork of the CSV curated by "simsketch". I used it as a basline, added in the most recent releases and corrected a few errors in some later entries. I leave the repository as a fork and pull it here as a Pandas DF. This is the source for Abilities, Types, Stats, and Generation Debut parameters.

#### Bulbapedia
Bulbapedia is the source for the Body Type parameter. This comes from an image in all Pokemon entries.

#### Serebii
Currently only Move-sets (Level, Form, TM/HM/TR, Egg Moves, Move Tutor Attackes, Max Moves, and Z Moves) are extracted from Serebii. This comes from a table with words and images in all Pokemon entries.

#### PokemonDB
PokemonDB is the source for the Egg Group, Gender Ratios, Steps-to-Hatch, and Locations parameters. This comes from a series of tables, and only Egg Group is currently used.

##### Known Issues:
Currently uses index of 1000+ entries instead of pokedex number to update search

### Results & Discussion
The final results of this project currently is an updated CSV file (FinalDatabaseYYYY.MM.DD-HH.MM.SS.csv) that contains updated data from multiple resources (Bulbapeida, PokemonDB, Serebii & Git Repository now).  This file will then be used as a basis for 'translation' into genetic sequences that can then have their variance calculated through AMOVA (Analysis of Molecular Variance) which will then provide a means to produce another phylogenetic tree.

# CODE TABLE OF CONTENTS:
#### Section 1) Import Libraries
#### Section 2) General Utilities
#### Section 3) Specific Utilities
#### Section 4) Dataframe Compilers
#### Section 5) Group Search - Database Builder
#### Section 6) Single Search - Research Display

### 1) Import Libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib3
import sys
from pathlib import Path
import time
from datetime import datetime
from Bio import Phylo
from Bio.Phylo.TreeConstruction import *
from Bio import AlignIO
from io import StringIO
from more_itertools import unique_everseen
import os
import glob

# disable chained assignments
pd.options.mode.chained_assignment = None 

# Calls in necessary library contianing needed lists and gene translator
%run ./Libraries/GeneProcessors.ipynb
%run ./Libraries/CompilerLists.ipynb

# Gather Date/Time for Saving final CSV
DATE_TIME = datetime.today().strftime('%Y.%m.%d-%H.%M.%S')

LOADING DICTIONARY
MOVES DATABSE FILE EXISTS: 850 ENTRIES - Loaded
SAVING UPDATED DATAFRAME: EG_DICT.csv

###  2) General Utilities

In [32]:
###
# General Utilities made-for use in any program
###
def get_soup(URL):  
    urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
    print(URL + '\n')
    SOUP = BeautifulSoup(requests.get(URL, verify=False).content, "html.parser")
    return SOUP

def progress(count, total, status=''):
    bar_len = 25
    filled_len = int(round(bar_len * count / float(total)))
    percents = round(100.0 * count / float(total), 1)
    bar = '█' * filled_len + '-' * (bar_len - filled_len)
    sys.stdout.write('[%s] %s%s ...%s\r' % (bar, percents, '%', status))
    sys.stdout.flush()
    
def list_duplicate_removal(input_list):
    output_list = []
    for item in input_list:
        if item not in output_list:
            output_list.append(item)
    return output_list

def remove_blank_first_df_col(inputCSVPath):
    df = pd.read_csv(inputCSVPath)
    # If you know the name of the column skip this
    first_column = df.columns[0]
    if 'Unnamed: 0' in first_column:
        # Delete first
        df = df.drop([first_column], axis=1)
        df.to_csv(inputCSVPath, index=False)
    else:
        pass
    
def remove_csv_duplicates(tempCSVPath,finalCSVPath):
    with open(tempCSVPath,'r') as f:
        with open(finalCSVPath,'w') as out_file:
            out_file.writelines(unique_everseen(f))
            
def csv_cleanup(excludedFile):
    # Get a list of all the file paths that ends with .csv from in specified directory
    fileList = glob.glob('./*.csv')
    # Iterate over the list of filepaths & remove each file, preserving the excludedFile.
    for filePath in fileList:
        if filePath == f'.\\{excludedFile}':
            print(f'Preserving: {filePath}')
            pass
        else:
            try:
                print(f'Removing: {filePath}')
                os.remove(filePath)
            except:
                print("Error while deleting file : ", filePath)

### 3) Specific Utilities

In [38]:
###
# Main Functions for List, Name, and Indecies Management
###
def get_full_list():
    DOWNLOAD_CSV = Path('./BASE_DATABASE.csv')
    if DOWNLOAD_CSV.exists():
        fullListDF = pd.read_csv(DOWNLOAD_CSV, index_col=0)
        ENTRY_COUNT = len(fullListDF.index)
        print('DATABSE FILE EXISTS: ' + str(ENTRY_COUNT-1) + ' ENTRIES - Loaded')
    else:
        print('DATABSE FILE DOES NOT EXIST - Downloading')
        fullListDF = pd.read_csv(GIT_CSV, on_bad_lines='warn')
        fullListDF.fillna('-', inplace=True)
        fullListDF = fullListDF.drop(columns=['COLOR','MEGA_EVOLUTION','LEGENDARY', 'HEIGHT', 'WEIGHT', 'TOTAL'])
        fullListDF['REGION'] = ''
        fullListDF['BODY_TYPE'] = ''
        fullListDF['EGG_GROUP1'] = ''
        fullListDF['EGG_GROUP2'] = ''
        fullListDF['STEPS_TO_HATCH'] = ''
        fullListDF['LOCATIONS'] = ''
        fullListDF['MOVES'] = ''
        fullListDF['GENDER_RATIOS(M:F)'] = ''
        fullListDF['GENERATION'] = fullListDF['GENERATION'].astype(str)
        fullListDF['BODY_TYPE'] = fullListDF['BODY_TYPE'].astype(str)
        fullListDF['EGG_GROUP1'] = fullListDF['EGG_GROUP1'].astype(str)
        fullListDF['EGG_GROUP2'] = fullListDF['EGG_GROUP2'].astype(str)
        fullListDF['GENDER_RATIOS(M:F)'] = fullListDF['GENDER_RATIOS(M:F)'].astype(str)
        fullListDF['LOCATIONS'] = fullListDF['LOCATIONS'].astype(str)
        fullListDF = fullListDF[FINAL_ORDER_LIST]
        for index, row in fullListDF.iterrows():
            generationDebut = GENERATIONS_LIST[int(row['GENERATION'])]
            if generationDebut == 'Galarian/Hisuian':
                if row['NAME'] in GALARIAN_FORM_LIST:
                    generationDebut = 'Galarian'
                elif row['NAME'] in GALARIAN_DEBUT_LIST:
                    generationDebut = 'Galarian'
                elif row['NAME'] in HISUIAN_FORM_LIST:
                    generationDebut = 'Hisuian'
                elif row['NAME'] in HISUIAN_DEBUT_LIST:
                    generationDebut = 'Hisuian'
                else:
                    generationDebut = '*NEEDS WORK*'
            fullListDF.at[index,'REGION'] = generationDebut
        ENTRY_COUNT = len(fullListDF.index)
        fullListDF.to_csv(DOWNLOAD_CSV)  
        print('DATABSE FILE DOWNLOADED: '+ str(ENTRY_COUNT-1) +' ENTRIES - Saved')
    return fullListDF

# Pulls all entries from the Base Database File for updating.
def pull_entries(fullListDF,INPUT1=None, INPUT2=None):
    try:
        if INPUT1.isalpha() == True:
            print('Input 1 was Pokemon Name')
            NAME = INPUT1
        else:
            print('Input 1 was Pokedex Number')
            DEXNUMB = INPUT1
    except AttributeError:
        print('Input 1 was Pokedex Number')
        DEXNUMB = INPUT1
    if INPUT2 == None:
        pass
    else:
        if INPUT2.isalpha() == True:
            print('Input 2 was Pokemon Name')
            NAME = INPUT2
        else:
            print('Input 2 was Pokedex Number')
            DEXNUMB = INPUT2
    if 'DEXNUMB' in locals():
        currentEntriesDF = fullListDF[fullListDF['NUMBER'] == DEXNUMB]
        NAME = currentEntriesDF.iloc[0][5]
    elif 'NAME' in locals():
        currentEntriesDF = fullListDF[fullListDF['NAME'] == NAME]
        DEXNUMB = str(currentEntriesDF.iloc[0][0])   
    display(currentEntriesDF)
    currentIndicies = list(currentEntriesDF.index.values)
    print("CURRENT INDICIES")
    print(currentIndicies)
    refName = name_checker(NAME, 3)
    print('Returning Entries for: #'+ str(DEXNUMB) +' - '+ refName)
    return currentEntriesDF, currentIndicies, refName, NAME, DEXNUMB

# Checks to see if the Name has any regular expressions or irregulatires to it.
def name_checker(NAME, REFERENCE):
    if NAME in NAME_IRREGULARITIES_DICT:
        UPDATED_NAME = NAME_IRREGULARITIES_DICT[NAME][REFERENCE]
    else:
        UPDATED_NAME = NAME
    return UPDATED_NAME

# Checks to see if there are alternate forms based on the Name provided.
def alt_form_updater(NAME, currentIndicies, currentEntries):
    for index in currentIndicies:
        if NAME in ALT_FORM_DICT:
            altFormCheck = currentEntries['CODE'][index]
            formName = ALT_FORM_DICT[NAME][altFormCheck-1] + ' ' +NAME
            currentEntries.loc[index, 'NAME'] = formName
            
# Checks to see if there are alternate body types based on the Name provided.            
def alt_body_updater(NAME, currentIndicies, currentEntries):
    for index in currentIndicies:
        tempName = currentEntries['NAME'][index]
        if tempName in ALT_BODY_DICT:
            formBody = ALT_BODY_DICT[tempName]
            currentEntries.loc[index, 'BODY_TYPE'] = formBody

# Updates the Base Database based on the entries requested and makes a FinalDatabase from it then cleans up unwanted CSVs.             
def main_updater(fullListDF):
    UPDATED_DF = pd.DataFrame()
    pullStartRange = int(input("What Entry Number would you like to start at?: "))
    pullEndRange = int(input("What Entry Number would you like to go up to?: "))
    pullCount = pullStartRange
    while pullCount < pullEndRange:
        searchNumb = fullListDF['NUMBER'][pullCount]
        currentEntries, currentIndicies, refName, NAME, DEXNUMB = pull_entries(fullListDF,searchNumb)
        BPimageDictionary = bulbapedia_images(NAME)
        PDBtablesDictionary, PDBtableCount = pokemondb_tables(NAME)
        SBtablesDictionary = serebii_tables(NAME, DEXNUMB)
        BPparsed = bulbapedia_parser(BPimageDictionary, currentEntries, currentIndicies, NAME)
        PDBparsed = pokemondb_parser(PDBtablesDictionary, PDBtableCount, currentEntries, currentIndicies, refName, NAME)
        SBparsed = serebii_parser(SBtablesDictionary, currentEntries, currentIndicies, NAME)
        alt_form_updater(NAME, currentIndicies, currentEntries)
        alt_body_updater(NAME, currentIndicies, currentEntries)
        UPDATED_DF = UPDATED_DF.append(currentEntries, ignore_index = True)
        pullCount = pullCount+1
    display(UPDATED_DF)
    print(type(UPDATED_DF))
    UPDATED_DF = pd.DataFrame(UPDATED_DF)
    tempCSVPath = f'temp{DATE_TIME}.csv'
    UPDATED_DF.to_csv(tempCSVPath)
    finalCSVPath = f'FinalDatabase{DATE_TIME}.csv'
    remove_blank_first_df_col(tempCSVPath)
    remove_csv_duplicates(tempCSVPath,finalCSVPath)
    print(f'Final CSV Saved as: {finalCSVPath}')
    csv_cleanup(finalCSVPath)
    return(finalCSVPath)


###
# Bulbapedia Image Grabber -> Body Type Interpreter & Updater
###
def bulbapedia_images(NAME):    
    URL_NAME = name_checker(NAME,0)  
    URL = 'https://bulbapedia.bulbagarden.net/wiki/' + URL_NAME + '_(Pok%C3%A9mon)'
    SOUP = get_soup(URL)
    BPimageDictionary = {}
    BPimages = SOUP.find_all('img')
    BPimageCount = len(BPimages)
    print('Acquiring ' + str(BPimageCount) + ' Images for ' + URL_NAME + ' from Bulbapedia')
    for i, image in enumerate(BPimages):
        if '-Body' in image['src']:
            BPimageDictionary[i] = image['src']    
        i = i+1
        progress(i,BPimageCount,'Parsing')        
    print('\n')
    return BPimageDictionary

def bulbapedia_parser(BPimageDictionary, currentEntries, currentIndicies, refName):    
    if bool(BPimageDictionary) == False:
        bodyTemp = ['Unknown']
    else:        
        bulb_body_type(BPimageDictionary, currentEntries, currentIndicies)
    
def bulb_body_type(imageDictionary, currentEntries, currentIndicies):
    for entry in imageDictionary:
        bodyTemp = int(imageDictionary[entry].split('32px-Body')[1].split('.png')[0])
    bodyTemp = BODY_TYPE_LIST[bodyTemp-1]
    currentEntries['BODY_TYPE'] = currentEntries['BODY_TYPE'].astype(str)
    for index in currentIndicies:
        currentEntries.at[index, 'BODY_TYPE'] = bodyTemp
    print('Updated Body Type for all entries of ' + currentEntries['NAME'])
    
###
# PokemonDB Table Grabber -> Egg Group, Gender Ratios, Steps-to-Hatch, and Locations Interpreter & Updater
###
def pokemondb_tables(NAME):  
    URL_NAME = name_checker(NAME,1)
    URL = 'https://pokemondb.net/pokedex/' + URL_NAME
    SOUP = get_soup(URL)
    PDBtables = SOUP.find_all('table')
    PDBtablesDictionary = {}
    PDBtableCount = len(PDBtables)
    print('Acquiring ' + str(PDBtableCount) + ' Tables for ' + URL_NAME + ' from PokemonDB')
    for t,tables in enumerate(PDBtables):
        dfTemp = pd.read_html(str(PDBtables))[t]
        PDBtablesDictionary[t] = dfTemp
        t+=1
        progress(t,PDBtableCount,'Collected')
    print('\n')
    return PDBtablesDictionary, PDBtableCount

def pokemondb_parser(PDBtablesDictionary, PDBtableCount, currentEntries, currentIndicies, refName, NAME):  
    EggGroupTemp = PDBtablesDictionary[2][1][0]
    if '—' in EggGroupTemp:
        EggGroup1 = 'Unknown'
        EggGroup2 = 'Unknown'
    elif ', ' in EggGroupTemp:
        EggGroup1 = PDBtablesDictionary[2][1][0].split(', ')[0]
        EggGroup2 = PDBtablesDictionary[2][1][0].split(', ')[1]
    else:
        EggGroup1 = PDBtablesDictionary[2][1][0]
        EggGroup2 = '-'
    genderRatioRaw = PDBtablesDictionary[2][1][1]
    if genderRatioRaw == '—':
        genderRatiosTemp = 'Unknown'
    elif genderRatioRaw == 'Genderless':
        genderRatiosTemp = genderRatioRaw
    else:
        genderRatioM = genderRatioRaw.split(' male, ')[0]
        genderRatioF = genderRatioRaw.split( 'male, ')[1].replace(' female','')
        genderRatiosTemp = genderRatioM + ':' + genderRatioF

    stepsTemp = PDBtablesDictionary[2][1][2]
    if stepsTemp == '—':
        stepsTemp = 'Unknown'
    else:
        stepsTemp = stepsTemp.split('(')[1].split('steps)')[0]
        stepsLow = stepsTemp.split('–')[0]
        stepsHigh = stepsTemp.split('–')[1]
        stepsTemp = str(stepsLow) + '-' + str(stepsHigh)

    finalLocations = []
    print(NAME)
    if NAME in HISUIAN_DEBUT_LIST:
        locationsTemp = 'Unknown'
        finalLocations.append(locationsTemp)
    else:
        locationsTemp = PDBtablesDictionary[PDBtableCount-2] 
        locTemp = locationsTemp[1].values.tolist()
        locTemp = list_duplicate_removal(locTemp)
        removeList = ['Trade/migrate from another game','Not available in this game']
        currentEntries['LOCATIONS'] = currentEntries['LOCATIONS'].astype(str)
        for l,location in enumerate(locTemp):
            if location in removeList:
                pass
            elif 'Evolve ' in location:
                pass
            elif ',' in location:
                splitLoc = location.split(', ')
                for s, split in enumerate(splitLoc):
                    if split.isnumeric() == True:
                        newSplit = 'Route ' + str(split)
                    else:
                        newSplit = split
                    finalLocations.append(newSplit)
            else:
                finalLocations.append(location)
                
    for index in currentIndicies:
        currentEntries.loc[index, 'EGG_GROUP1'] = EggGroup1
        currentEntries.loc[index, 'EGG_GROUP2'] = EggGroup2
        currentEntries.loc[index, 'GENDER_RATIOS(M:F)'] = genderRatiosTemp
        currentEntries.loc[index, 'STEPS_TO_HATCH'] = stepsTemp
        try:
            currentEntries.at[index, 'LOCATIONS'] = finalLocations
        except ValueError:
            currentEntries.loc[index, 'LOCATIONS'] = finalLocations
    print('Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of ' + refName)
    
###
# Serebii Table Grabber -> Move Set Interpreter & Updater
###
def serebii_tables(NAME, DEXNUMB):
    URL_NAME = name_checker(NAME,2)  
    URL = 'https://www.serebii.net/pokedex-swsh/' + URL_NAME.lower()
    SOUP = get_soup(URL)
    SBtablesDictionary = {}
    SBtables = SOUP.find_all('table')
    SBtableCount = len(SBtables)
    if SBtableCount == 0:        
        print('Generation VIII Data Not Available, using Generation VII Data')
        if len(str(DEXNUMB)) == 1:
            URLDEXNUMB = '00' + str(DEXNUMB)
        elif len(str(DEXNUMB)) == 2:
            URLDEXNUMB = '0' + str(DEXNUMB)
        elif len(str(DEXNUMB)) >= 3:
            URLDEXNUMB = str(DEXNUMB)
        URL = 'https://www.serebii.net/pokedex-sm/' + URLDEXNUMB + '.shtml'
        SOUP = get_soup(URL)
        SBtables = SOUP.find_all('table')
        SBtableCount = len(SBtables)
    print('Acquiring ' + str(SBtableCount) + ' Tables for ' + URL_NAME + ' from Serebii')
    for t, table in enumerate(SBtables):
        try:
            dfTemp = pd.read_html(str(SBtables))[t]
        except IndexError:
            dfTemp = 'IndexError at table['+ str(t) + ']'
        SBtablesDictionary[t] = dfTemp
        t+=1
        progress(t,SBtableCount,'Collected')
    print('\n')
    return SBtablesDictionary

def SBtablesDictionary_to_list(searchTable, movesFull):
    diffTables = ['Egg Moves (Details)','Usable Z Moves','Usable Max Moves'] # eventually if searchTable[0][0] == NaN is a possible catch all
    if searchTable[0][0] in diffTables:
        movesTemp = searchTable[0]
    else:   
        movesTemp = searchTable[1]
    movesTemp = movesTemp.reset_index(drop=True)
    movesTemp.columns = movesTemp.iloc[0] 
    movesTemp = movesTemp[1:]
    movesTemp = movesTemp.values.tolist()
    movesTemp = list_duplicate_removal(movesTemp)
    movesFull.extend(movesTemp[1:])
    print(searchTable[0][0] + ' added to Full Moves List')
    return movesTemp

def serebii_parser(SBtablesDictionary, currentEntries, currentIndicies, refName):
    currentEntries['MOVES'] = currentEntries['MOVES'].astype(str)
    for index in currentIndicies:
        tempRegion = currentEntries['REGION'][index]
        movesFull = []
        for table in SBtablesDictionary:
            try:
                searchTable = SBtablesDictionary[table]
                if 'M/F' in refName:
                    if index < currentIndicies[len(currentIndicies)-1]:
                        if searchTable[0][0] == 'Level Up - Male':
                            maleMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                    else:
                        if searchTable[0][0] == 'Level Up - Female':
                            femaleMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                if 'Galarian' in tempRegion:
                    if searchTable[0][0] == 'Galarian Form Level Up':
                        galMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                elif 'Alolan' in tempRegion:
                    if searchTable[0][0] == 'Alola Form Level Up':
                            aloMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                else:
                    if searchTable[0][0] == 'Standard Level Up':
                        stdMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                    elif searchTable[0][0] == 'Generation VII Level Up':
                        gen7Moves = SBtablesDictionary_to_list(searchTable, movesFull)        
                if searchTable[0][0] == 'Sword & Shield Technical Machine Attacks':
                    swshtmMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                if searchTable[0][0] == 'Technical Machine Attacks':
                    tmMoves = SBtablesDictionary_to_list(searchTable, movesFull)     
                if searchTable[0][0] == 'Technical Record Attacks':
                    trMoves = SBtablesDictionary_to_list(searchTable, movesFull)          
                if searchTable[0][0] == 'BDSP Technical Machine Attacks':
                    bdsptmMoves = SBtablesDictionary_to_list(searchTable, movesFull)          
                if searchTable[0][0] == 'TM & HM Attacks':
                    tmhmMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                if searchTable[0][0] == 'Egg Moves (Details)':   
                    eggMoves =SBtablesDictionary_to_list(searchTable, movesFull)
                if searchTable[0][0] == "Ultra Sun/Ultra Moon Move Tutor Attacks":
                    usummtMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                if searchTable[0][0] == "Usable Max Moves":
                    maxMoves = SBtablesDictionary_to_list(searchTable, movesFull)
                if searchTable[0][0] == 'Usable Z Moves':
                    zMoves = SBtablesDictionary_to_list(searchTable, movesFull)
            except:
                pass
        print('FULL MOVE SET COMPILED')
        for m,move in enumerate(movesFull):
            if 'BDSP Only' in move:
                movesFull[m] = move.replace('BDSP Only','')
            elif 'USUM Only' in move:
                movesFull[m] = move.replace('USUM Only','')
        currentEntries.at[index, 'MOVES'] = movesFull
    print('Updated Full Move Set for all entries of ' + refName)

# SPACE FOR FUTURE PROCESSING
def pdb_egg_Groups():
    pass

def pdb_locations():
    pass

### Section 4) Dataframe Compilers

In [34]:
fullListDF = get_full_list()
display(movesRNADF)
display(eggGroupsRNADF)
display(bodyTypesRNADF)

DATABSE FILE DOES NOT EXIST - Downloading
DATABSE FILE DOWNLOADED: 1058 ENTRIES - Saved

                Name          RNA_Seq
0              Pound  UUAGAGCUGUUACUG
1        Karate Chop  CCUGAGCCACCUCCG
2        Double Slap  UUAGAGUUGUUACUA
3        Comet Punch  UUAGAGCUUUUACUA
4         Mega Punch  UUAGAGCUUCUUCUA
..               ...              ...
845  Bleakwind Storm  GGAAACGGAGGGGGC
846   Wildbolt Storm  AUUAACAUUAUCAUA
847   Sandsear Storm  GAAAACGAAGAAGAG
848   Lunar Blessing  AAAUGGAAA------
849       Take Heart  AAAUGGAAA------

[850 rows x 2 columns]

,Input,Nucleotide Sequence
0,Fae(Fairy),AUGUGUGCUUGUUGUGUUAUUAAUUAUCCUCAUUUAAGGUGUGAUA...
1,Plant&Ha-Plants(Grass),AUGUGUGCUGAACAAGUUGCUGCUUAUCCUCAUGCUAGGGCUGAUA...
2,Mineral,AUGUGUGCUGAACAAGUUAUUAAUUAUCCUCAUUUAGAAAAUGAUA...
3,Ryu(Dragon),AUGCAAGCUGAACAACAAAUUAAUUAUCCUCAAUUAAGGAAUGAUC...
4,Arthropods & Mullosks(Bug),AUGUGUGCUGAACAAGUUAUUAAUGUUCCUCAUGUUAGGAAUGAUA...
5,Human-Like,AUGUGUGCUUUAUUAGUUAUUUUAUAUCCUCAUUUAAGGAAUGAUA...
6,Monster,AUGCCUGCUGAACAACCUAUUAAUUAUCCUCAUUUAAGGAAUGAUA...
7,Ghost&Soft-Bodied(Amorphous),AUGUGUGCUGAACAAUAUAUUAAUUAUCCUCAUUUAAGGAAUGAUA...
8,Aquatic-Terrestrial(W1),AUGUGUGCUGAACAAGUUAUUAAUUAUCCUCAUUUAAGGAGUGAUA...
9,Fish-Cephelopod(W2),AUGAGUAGUGAAAGUAGUAUUAAUAGUAGUAGUAGUAGGAGUGAUA...
10,AquaticInvertebrates(W3),AUGAGUGCUAGUAGUGUUAGUAAUUAUCCUCAUAGUAGGAGUGAUA...
11,Birds&Bats(Flying),AUGUGUGCUGGACAAGGAAUUAAUUAUCCUGGAUUAAGGAAUGAUA...
12,Terrestrial(Field),AUGUGUGCUGAAUUAUUAAUUAAUUUACCUCAUUUAAGGAAUGAUA...
13,Undiscovered (No Egg Discovered/Produced),AUGUGUGCUGAACAAUGGAUUAAUUAUCCUCAUUUAAGGAAUGAUA...
14,Undiscovered(NoEggDiscovered/Produced),AUGUGGUGGUGGUGGUGGUGGUGGUGGUGGUGGUGGUGGUGGUGGU...
15,Undiscovered(Baby),AUGUGUGCUUGGUGGUGGAUUAAUUGGCCUCAUUUAUGGAAUGAUA...
16,Ditto,AUGUGUGCUGAACAAGUUAUUAAUUAUCCUCAUUUAAGGAAUGAUA...

                  Input Nucleotide Sequence
0               Bipedal        AGUAUUGCAUUU
1             Quadraped        AGCAUUGCGUUU
2        Bipedal&Tailed        AGUAUCGCAUUU
3             Head&Arms        AGUAUUGCAUUC
4             Head&Legs        AGUAUUGCGUUU
5             Head&Base        AGUAUUGCGUUC
6              OnlyHead        AGUAUAGCGUUC
7                Finned        AGUAUCGCUUUU
8            Serpentine        AGUAUCGCGUUC
9           SingleWings        AGUAUUGCCUUC
10            Insectiod        AGCAUUGCCUUU
11            Two+Wings        AGCAUUGCCUUC
12  Tentacled/MultiBody        AGCAUUGCAUUC
13            MultiBody        AGCAUUGCGUUC

### Section 5) Group Search - Database Builder

In [42]:
# 192 = Mew
# 300 = Celebi
# 463 = Deoxyis
#ERROR AT 656-569 Darmanitan
# 593 = Arceus
# 770 = Genesect
# 855 = Volcanion
# 954 = Melmetal
# 1058 = Enamorus

finalCSVPath = main_updater(fullListDF)

What Entry Number would you like to start at?: 660
What Entry Number would you like to go up to?: 1059
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
660,556,1,5561,5,Unovan,Maractus,,,,Grass,...,,,75,86,67,106,67,60,,

CURRENT INDICIES
[660]
Returning Entries for: #556 - Maractus
https://bulbapedia.bulbagarden.net/wiki/Maractus_(Pok%C3%A9mon)

Acquiring 116 Images for Maractus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Maractus

Acquiring 24 Tables for Maractus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/maractus

Acquiring 39 Tables for Maractus from Serebii
[█████████████████████████] 100.0% ...Collected

660    \nUpdated Body Type for all entries of Maractus
Name: NAME, dtype: object
Maractus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Maractus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Maractus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
661,557,1,5571,5,Unovan,Dwebble,,,,Bug,...,,,50,65,85,35,35,55,,

CURRENT INDICIES
[661]
Returning Entries for: #557 - Dwebble
https://bulbapedia.bulbagarden.net/wiki/Dwebble_(Pok%C3%A9mon)

Acquiring 126 Images for Dwebble from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dwebble

Acquiring 20 Tables for Dwebble from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dwebble

Acquiring 39 Tables for Dwebble from Serebii
[█████████████████████████] 100.0% ...Collected

661    \nUpdated Body Type for all entries of Dwebble
Name: NAME, dtype: object
Dwebble
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dwebble
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dwebble
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
662,558,1,5581,5,Unovan,Crustle,,,,Bug,...,,,70,105,125,65,75,45,,

CURRENT INDICIES
[662]
Returning Entries for: #558 - Crustle
https://bulbapedia.bulbagarden.net/wiki/Crustle_(Pok%C3%A9mon)

Acquiring 130 Images for Crustle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Crustle

Acquiring 21 Tables for Crustle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/crustle

Acquiring 39 Tables for Crustle from Serebii
[█████████████████████████] 100.0% ...Collected

662    \nUpdated Body Type for all entries of Crustle
Name: NAME, dtype: object
Crustle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Crustle
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Crustle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
663,559,1,5591,5,Unovan,Scraggy,,,,Dark,...,,,50,75,70,35,70,48,,

CURRENT INDICIES
[663]
Returning Entries for: #559 - Scraggy
https://bulbapedia.bulbagarden.net/wiki/Scraggy_(Pok%C3%A9mon)

Acquiring 184 Images for Scraggy from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Scraggy

Acquiring 20 Tables for Scraggy from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/scraggy

Acquiring 39 Tables for Scraggy from Serebii
[█████████████████████████] 100.0% ...Collected

663    \nUpdated Body Type for all entries of Scraggy
Name: NAME, dtype: object
Scraggy
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Scraggy
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Scraggy
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
664,560,1,5601,5,Unovan,Scrafty,,,,Dark,...,,,65,90,115,45,115,58,,

CURRENT INDICIES
[664]
Returning Entries for: #560 - Scrafty
https://bulbapedia.bulbagarden.net/wiki/Scrafty_(Pok%C3%A9mon)

Acquiring 179 Images for Scrafty from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Scrafty

Acquiring 20 Tables for Scrafty from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/scrafty

Acquiring 39 Tables for Scrafty from Serebii
[█████████████████████████] 100.0% ...Collected

664    \nUpdated Body Type for all entries of Scrafty
Name: NAME, dtype: object
Scrafty
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Scrafty
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Scrafty
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
665,561,1,5611,5,Unovan,Sigilyph,,,,Psychic,...,,,72,58,80,103,80,97,,

CURRENT INDICIES
[665]
Returning Entries for: #561 - Sigilyph
https://bulbapedia.bulbagarden.net/wiki/Sigilyph_(Pok%C3%A9mon)

Acquiring 132 Images for Sigilyph from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sigilyph

Acquiring 20 Tables for Sigilyph from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sigilyph

Acquiring 39 Tables for Sigilyph from Serebii
[█████████████████████████] 100.0% ...Collected

665    \nUpdated Body Type for all entries of Sigilyph
Name: NAME, dtype: object
Sigilyph
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sigilyph
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sigilyph
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
666,562,1,5621,5,Unovan,Yamask,,,,Ghost,...,,,38,30,85,55,65,30,,
667,562,2,5622,8,Galarian,Yamask,,,,Ghost,...,,,38,55,85,30,65,30,,

CURRENT INDICIES
[666, 667]
Returning Entries for: #562 - Yamask
https://bulbapedia.bulbagarden.net/wiki/Yamask_(Pok%C3%A9mon)

Acquiring 168 Images for Yamask from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Yamask

Acquiring 30 Tables for Yamask from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/yamask

Acquiring 93 Tables for Yamask from Serebii
[█████████████████████████] 100.0% ...Collected

666    \nUpdated Body Type for all entries of Yamask
667    \nUpdated Body Type for all entries of Yamask
Name: NAME, dtype: object
Yamask
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Yamask
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Galarian Form Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Yamask
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
666,562,1,5621,5,Unovan,Yamask,,,,Ghost,...,,,38,30,85,55,65,30,,
667,562,2,5622,8,Galarian,Yamask,,,,Ghost,...,,,38,55,85,30,65,30,,

CURRENT INDICIES
[666, 667]
Returning Entries for: #562 - Yamask
https://bulbapedia.bulbagarden.net/wiki/Yamask_(Pok%C3%A9mon)

Acquiring 168 Images for Yamask from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Yamask

Acquiring 30 Tables for Yamask from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/yamask

Acquiring 93 Tables for Yamask from Serebii
[█████████████████████████] 100.0% ...Collected

666    \nUpdated Body Type for all entries of Yamask
667    \nUpdated Body Type for all entries of Yamask
Name: NAME, dtype: object
Yamask
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Yamask
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Galarian Form Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Yamask
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
668,563,1,5631,5,Unovan,Cofagrigus,,,,Ghost,...,,,58,50,145,95,105,30,,

CURRENT INDICIES
[668]
Returning Entries for: #563 - Cofagrigus
https://bulbapedia.bulbagarden.net/wiki/Cofagrigus_(Pok%C3%A9mon)

Acquiring 116 Images for Cofagrigus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cofagrigus

Acquiring 22 Tables for Cofagrigus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cofagrigus

Acquiring 39 Tables for Cofagrigus from Serebii
[█████████████████████████] 100.0% ...Collected

668    \nUpdated Body Type for all entries of Cofagrigus
Name: NAME, dtype: object
Cofagrigus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cofagrigus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cofagrigus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
669,564,1,5641,5,Unovan,Tirtouga,,,,Water,...,,,54,78,103,53,45,22,,

CURRENT INDICIES
[669]
Returning Entries for: #564 - Tirtouga
https://bulbapedia.bulbagarden.net/wiki/Tirtouga_(Pok%C3%A9mon)

Acquiring 167 Images for Tirtouga from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tirtouga

Acquiring 24 Tables for Tirtouga from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tirtouga

Acquiring 39 Tables for Tirtouga from Serebii
[█████████████████████████] 100.0% ...Collected

669    \nUpdated Body Type for all entries of Tirtouga
Name: NAME, dtype: object
Tirtouga
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tirtouga
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tirtouga
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
670,565,1,5651,5,Unovan,Carracosta,,,,Water,...,,,74,108,133,83,65,32,,

CURRENT INDICIES
[670]
Returning Entries for: #565 - Carracosta
https://bulbapedia.bulbagarden.net/wiki/Carracosta_(Pok%C3%A9mon)

Acquiring 171 Images for Carracosta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Carracosta

Acquiring 23 Tables for Carracosta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/carracosta

Acquiring 39 Tables for Carracosta from Serebii
[█████████████████████████] 100.0% ...Collected

670    \nUpdated Body Type for all entries of Carracosta
Name: NAME, dtype: object
Carracosta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Carracosta
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Carracosta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
671,566,1,5661,5,Unovan,Archen,,,,Rock,...,,,55,112,45,74,45,70,,

CURRENT INDICIES
[671]
Returning Entries for: #566 - Archen
https://bulbapedia.bulbagarden.net/wiki/Archen_(Pok%C3%A9mon)

Acquiring 128 Images for Archen from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Archen

Acquiring 20 Tables for Archen from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/archen

Acquiring 39 Tables for Archen from Serebii
[█████████████████████████] 100.0% ...Collected

671    \nUpdated Body Type for all entries of Archen
Name: NAME, dtype: object
Archen
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Archen
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Archen
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
672,567,1,5671,5,Unovan,Archeops,,,,Rock,...,,,75,140,65,112,65,110,,

CURRENT INDICIES
[672]
Returning Entries for: #567 - Archeops
https://bulbapedia.bulbagarden.net/wiki/Archeops_(Pok%C3%A9mon)

Acquiring 133 Images for Archeops from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Archeops

Acquiring 19 Tables for Archeops from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/archeops

Acquiring 39 Tables for Archeops from Serebii
[█████████████████████████] 100.0% ...Collected

672    \nUpdated Body Type for all entries of Archeops
Name: NAME, dtype: object
Archeops
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Archeops
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Archeops
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
673,568,1,5681,5,Unovan,Trubbish,,,,Poison,...,,,50,50,62,40,62,65,,

CURRENT INDICIES
[673]
Returning Entries for: #568 - Trubbish
https://bulbapedia.bulbagarden.net/wiki/Trubbish_(Pok%C3%A9mon)

Acquiring 127 Images for Trubbish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Trubbish

Acquiring 20 Tables for Trubbish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/trubbish

Acquiring 39 Tables for Trubbish from Serebii
[█████████████████████████] 100.0% ...Collected

673    \nUpdated Body Type for all entries of Trubbish
Name: NAME, dtype: object
Trubbish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Trubbish
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Trubbish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
674,569,1,5691,5,Unovan,Garbodor,,,,Poison,...,,,80,95,82,60,82,75,,

CURRENT INDICIES
[674]
Returning Entries for: #569 - Garbodor
https://bulbapedia.bulbagarden.net/wiki/Garbodor_(Pok%C3%A9mon)

Acquiring 151 Images for Garbodor from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Garbodor

Acquiring 22 Tables for Garbodor from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/garbodor

Acquiring 53 Tables for Garbodor from Serebii
[█████████████████████████] 100.0% ...Collected

674    \nUpdated Body Type for all entries of Garbodor
Name: NAME, dtype: object
Garbodor
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Garbodor
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Garbodor
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
675,570,1,5701,5,Unovan,Zorua,,,,Dark,...,,,40,65,40,80,40,65,,

CURRENT INDICIES
[675]
Returning Entries for: #570 - Zorua
https://bulbapedia.bulbagarden.net/wiki/Zorua_(Pok%C3%A9mon)

Acquiring 171 Images for Zorua from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zorua

Acquiring 24 Tables for Zorua from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zorua

Acquiring 55 Tables for Zorua from Serebii
[█████████████████████████] 100.0% ...Collected

675    \nUpdated Body Type for all entries of Zorua
Name: NAME, dtype: object
Zorua
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zorua
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zorua
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
676,571,1,5711,5,Unovan,Zoroark,,,,Dark,...,,,60,105,60,120,60,105,,

CURRENT INDICIES
[676]
Returning Entries for: #571 - Zoroark
https://bulbapedia.bulbagarden.net/wiki/Zoroark_(Pok%C3%A9mon)

Acquiring 184 Images for Zoroark from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zoroark

Acquiring 25 Tables for Zoroark from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zoroark

Acquiring 55 Tables for Zoroark from Serebii
[█████████████████████████] 100.0% ...Collected

676    \nUpdated Body Type for all entries of Zoroark
Name: NAME, dtype: object
Zoroark
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zoroark
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zoroark
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
677,572,1,5721,5,Unovan,Minccino,,,,Normal,...,,,55,50,40,40,40,75,,

CURRENT INDICIES
[677]
Returning Entries for: #572 - Minccino
https://bulbapedia.bulbagarden.net/wiki/Minccino_(Pok%C3%A9mon)

Acquiring 171 Images for Minccino from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Minccino

Acquiring 20 Tables for Minccino from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/minccino

Acquiring 39 Tables for Minccino from Serebii
[█████████████████████████] 100.0% ...Collected

677    \nUpdated Body Type for all entries of Minccino
Name: NAME, dtype: object
Minccino
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Minccino
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Minccino
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
678,573,1,5731,5,Unovan,Cinccino,,,,Normal,...,,,75,95,60,65,60,115,,

CURRENT INDICIES
[678]
Returning Entries for: #573 - Cinccino
https://bulbapedia.bulbagarden.net/wiki/Cinccino_(Pok%C3%A9mon)

Acquiring 173 Images for Cinccino from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cinccino

Acquiring 21 Tables for Cinccino from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cinccino

Acquiring 39 Tables for Cinccino from Serebii
[█████████████████████████] 100.0% ...Collected

678    \nUpdated Body Type for all entries of Cinccino
Name: NAME, dtype: object
Cinccino
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cinccino
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cinccino
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
679,574,1,5741,5,Unovan,Gothita,,,,Psychic,...,,,45,30,50,55,65,45,,

CURRENT INDICIES
[679]
Returning Entries for: #574 - Gothita
https://bulbapedia.bulbagarden.net/wiki/Gothita_(Pok%C3%A9mon)

Acquiring 135 Images for Gothita from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gothita

Acquiring 20 Tables for Gothita from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gothita

Acquiring 39 Tables for Gothita from Serebii
[█████████████████████████] 100.0% ...Collected

679    \nUpdated Body Type for all entries of Gothita
Name: NAME, dtype: object
Gothita
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gothita
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gothita
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
680,575,1,5751,5,Unovan,Gothorita,,,,Psychic,...,,,60,45,70,75,85,55,,

CURRENT INDICIES
[680]
Returning Entries for: #575 - Gothorita
https://bulbapedia.bulbagarden.net/wiki/Gothorita_(Pok%C3%A9mon)

Acquiring 135 Images for Gothorita from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gothorita

Acquiring 20 Tables for Gothorita from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gothorita

Acquiring 39 Tables for Gothorita from Serebii
[█████████████████████████] 100.0% ...Collected

680    \nUpdated Body Type for all entries of Gothorita
Name: NAME, dtype: object
Gothorita
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gothorita
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gothorita
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
681,576,1,5761,5,Unovan,Gothitelle,,,,Psychic,...,,,70,55,95,95,110,65,,

CURRENT INDICIES
[681]
Returning Entries for: #576 - Gothitelle
https://bulbapedia.bulbagarden.net/wiki/Gothitelle_(Pok%C3%A9mon)

Acquiring 142 Images for Gothitelle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gothitelle

Acquiring 20 Tables for Gothitelle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gothitelle

Acquiring 39 Tables for Gothitelle from Serebii
[█████████████████████████] 100.0% ...Collected

681    \nUpdated Body Type for all entries of Gothitelle
Name: NAME, dtype: object
Gothitelle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gothitelle
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gothitelle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
682,577,1,5771,5,Unovan,Solosis,,,,Psychic,...,,,45,30,40,105,50,20,,

CURRENT INDICIES
[682]
Returning Entries for: #577 - Solosis
https://bulbapedia.bulbagarden.net/wiki/Solosis_(Pok%C3%A9mon)

Acquiring 144 Images for Solosis from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Solosis

Acquiring 20 Tables for Solosis from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/solosis

Acquiring 39 Tables for Solosis from Serebii
[█████████████████████████] 100.0% ...Collected

682    \nUpdated Body Type for all entries of Solosis
Name: NAME, dtype: object
Solosis
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Solosis
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Solosis
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
683,578,1,5781,5,Unovan,Duosion,,,,Psychic,...,,,65,40,50,125,60,30,,

CURRENT INDICIES
[683]
Returning Entries for: #578 - Duosion
https://bulbapedia.bulbagarden.net/wiki/Duosion_(Pok%C3%A9mon)

Acquiring 144 Images for Duosion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Duosion

Acquiring 20 Tables for Duosion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/duosion

Acquiring 39 Tables for Duosion from Serebii
[█████████████████████████] 100.0% ...Collected

683    \nUpdated Body Type for all entries of Duosion
Name: NAME, dtype: object
Duosion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Duosion
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Duosion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
684,579,1,5791,5,Unovan,Reuniclus,,,,Psychic,...,,,110,65,75,125,85,30,,

CURRENT INDICIES
[684]
Returning Entries for: #579 - Reuniclus
https://bulbapedia.bulbagarden.net/wiki/Reuniclus_(Pok%C3%A9mon)

Acquiring 155 Images for Reuniclus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Reuniclus

Acquiring 22 Tables for Reuniclus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/reuniclus

Acquiring 39 Tables for Reuniclus from Serebii
[█████████████████████████] 100.0% ...Collected

684    \nUpdated Body Type for all entries of Reuniclus
Name: NAME, dtype: object
Reuniclus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Reuniclus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Reuniclus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
685,580,1,5801,5,Unovan,Ducklett,,,,Water,...,,,62,44,50,44,50,55,,

CURRENT INDICIES
[685]
Returning Entries for: #580 - Ducklett
https://bulbapedia.bulbagarden.net/wiki/Ducklett_(Pok%C3%A9mon)

Acquiring 64 Images for Ducklett from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Ducklett

Acquiring 19 Tables for Ducklett from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/ducklett

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/580.shtml

Acquiring 35 Tables for Ducklett from Serebii
[█████████████████████████] 100.0% ...Collected

685    \nUpdated Body Type for all entries of Ducklett
Name: NAME, dtype: object
Ducklett
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Ducklett
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Ducklett
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
686,581,1,5811,5,Unovan,Swanna,,,,Water,...,,,75,87,63,87,63,98,,

CURRENT INDICIES
[686]
Returning Entries for: #581 - Swanna
https://bulbapedia.bulbagarden.net/wiki/Swanna_(Pok%C3%A9mon)

Acquiring 64 Images for Swanna from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Swanna

Acquiring 19 Tables for Swanna from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/swanna

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/581.shtml

Acquiring 35 Tables for Swanna from Serebii
[█████████████████████████] 100.0% ...Collected

686    \nUpdated Body Type for all entries of Swanna
Name: NAME, dtype: object
Swanna
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Swanna
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Swanna
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
687,582,1,5821,5,Unovan,Vanillite,,,,Ice,...,,,36,50,50,65,60,44,,

CURRENT INDICIES
[687]
Returning Entries for: #582 - Vanillite
https://bulbapedia.bulbagarden.net/wiki/Vanillite_(Pok%C3%A9mon)

Acquiring 116 Images for Vanillite from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vanillite

Acquiring 19 Tables for Vanillite from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vanillite

Acquiring 38 Tables for Vanillite from Serebii
[█████████████████████████] 100.0% ...Collected

687    \nUpdated Body Type for all entries of Vanillite
Name: NAME, dtype: object
Vanillite
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vanillite
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vanillite
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
688,583,1,5831,5,Unovan,Vanillish,,,,Ice,...,,,51,65,65,80,75,59,,

CURRENT INDICIES
[688]
Returning Entries for: #583 - Vanillish
https://bulbapedia.bulbagarden.net/wiki/Vanillish_(Pok%C3%A9mon)

Acquiring 111 Images for Vanillish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vanillish

Acquiring 19 Tables for Vanillish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vanillish

Acquiring 38 Tables for Vanillish from Serebii
[█████████████████████████] 100.0% ...Collected

688    \nUpdated Body Type for all entries of Vanillish
Name: NAME, dtype: object
Vanillish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vanillish
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vanillish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
689,584,1,5841,5,Unovan,Vanilluxe,,,,Ice,...,,,71,95,85,110,95,79,,

CURRENT INDICIES
[689]
Returning Entries for: #584 - Vanilluxe
https://bulbapedia.bulbagarden.net/wiki/Vanilluxe_(Pok%C3%A9mon)

Acquiring 114 Images for Vanilluxe from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vanilluxe

Acquiring 19 Tables for Vanilluxe from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vanilluxe

Acquiring 38 Tables for Vanilluxe from Serebii
[█████████████████████████] 100.0% ...Collected

689    \nUpdated Body Type for all entries of Vanilluxe
Name: NAME, dtype: object
Vanilluxe
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vanilluxe
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vanilluxe
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
690,585,1,5851,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
691,585,2,5852,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
692,585,3,5853,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
693,585,4,5854,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,

CURRENT INDICIES
[690, 691, 692, 693]
Returning Entries for: #585 - Deerling
https://bulbapedia.bulbagarden.net/wiki/Deerling_(Pok%C3%A9mon)

Acquiring 223 Images for Deerling from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Deerling

Acquiring 23 Tables for Deerling from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/deerling

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/585.shtml

Acquiring 39 Tables for Deerling from Serebii
[█████████████████████████] 100.0% ...Collected

690    \nUpdated Body Type for all entries of Deerling
691    \nUpdated Body Type for all entries of Deerling
692    \nUpdated Body Type for all entries of Deerling
693    \nUpdated Body Type for all entries of Deerling
Name: NAME, dtype: object
Deerling
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Deerling
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Deerling
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
690,585,1,5851,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
691,585,2,5852,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
692,585,3,5853,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
693,585,4,5854,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,

CURRENT INDICIES
[690, 691, 692, 693]
Returning Entries for: #585 - Deerling
https://bulbapedia.bulbagarden.net/wiki/Deerling_(Pok%C3%A9mon)

Acquiring 223 Images for Deerling from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Deerling

Acquiring 23 Tables for Deerling from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/deerling

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/585.shtml

Acquiring 39 Tables for Deerling from Serebii
[█████████████████████████] 100.0% ...Collected

690    \nUpdated Body Type for all entries of Deerling
691    \nUpdated Body Type for all entries of Deerling
692    \nUpdated Body Type for all entries of Deerling
693    \nUpdated Body Type for all entries of Deerling
Name: NAME, dtype: object
Deerling
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Deerling
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Deerling
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
690,585,1,5851,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
691,585,2,5852,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
692,585,3,5853,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
693,585,4,5854,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,

CURRENT INDICIES
[690, 691, 692, 693]
Returning Entries for: #585 - Deerling
https://bulbapedia.bulbagarden.net/wiki/Deerling_(Pok%C3%A9mon)

Acquiring 223 Images for Deerling from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Deerling

Acquiring 23 Tables for Deerling from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/deerling

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/585.shtml

Acquiring 39 Tables for Deerling from Serebii
[█████████████████████████] 100.0% ...Collected

690    \nUpdated Body Type for all entries of Deerling
691    \nUpdated Body Type for all entries of Deerling
692    \nUpdated Body Type for all entries of Deerling
693    \nUpdated Body Type for all entries of Deerling
Name: NAME, dtype: object
Deerling
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Deerling
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Deerling
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
690,585,1,5851,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
691,585,2,5852,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
692,585,3,5853,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,
693,585,4,5854,5,Unovan,Deerling,,,,Normal,...,,,60,60,50,40,50,75,,

CURRENT INDICIES
[690, 691, 692, 693]
Returning Entries for: #585 - Deerling
https://bulbapedia.bulbagarden.net/wiki/Deerling_(Pok%C3%A9mon)

Acquiring 223 Images for Deerling from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Deerling

Acquiring 23 Tables for Deerling from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/deerling

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/585.shtml

Acquiring 39 Tables for Deerling from Serebii
[█████████████████████████] 100.0% ...Collected

690    \nUpdated Body Type for all entries of Deerling
691    \nUpdated Body Type for all entries of Deerling
692    \nUpdated Body Type for all entries of Deerling
693    \nUpdated Body Type for all entries of Deerling
Name: NAME, dtype: object
Deerling
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Deerling
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Deerling
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
694,586,1,5861,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
695,586,2,5862,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
696,586,3,5863,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
697,586,4,5864,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,

CURRENT INDICIES
[694, 695, 696, 697]
Returning Entries for: #586 - Sawsbuck
https://bulbapedia.bulbagarden.net/wiki/Sawsbuck_(Pok%C3%A9mon)

Acquiring 224 Images for Sawsbuck from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sawsbuck

Acquiring 25 Tables for Sawsbuck from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sawsbuck

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/586.shtml

Acquiring 39 Tables for Sawsbuck from Serebii
[█████████████████████████] 100.0% ...Collected

694    \nUpdated Body Type for all entries of Sawsbuck
695    \nUpdated Body Type for all entries of Sawsbuck
696    \nUpdated Body Type for all entries of Sawsbuck
697    \nUpdated Body Type for all entries of Sawsbuck
Name: NAME, dtype: object
Sawsbuck
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sawsbuck
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sawsbuck
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
694,586,1,5861,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
695,586,2,5862,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
696,586,3,5863,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
697,586,4,5864,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,

CURRENT INDICIES
[694, 695, 696, 697]
Returning Entries for: #586 - Sawsbuck
https://bulbapedia.bulbagarden.net/wiki/Sawsbuck_(Pok%C3%A9mon)

Acquiring 224 Images for Sawsbuck from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sawsbuck

Acquiring 25 Tables for Sawsbuck from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sawsbuck

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/586.shtml

Acquiring 39 Tables for Sawsbuck from Serebii
[█████████████████████████] 100.0% ...Collected

694    \nUpdated Body Type for all entries of Sawsbuck
695    \nUpdated Body Type for all entries of Sawsbuck
696    \nUpdated Body Type for all entries of Sawsbuck
697    \nUpdated Body Type for all entries of Sawsbuck
Name: NAME, dtype: object
Sawsbuck
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sawsbuck
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sawsbuck
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
694,586,1,5861,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
695,586,2,5862,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
696,586,3,5863,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
697,586,4,5864,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,

CURRENT INDICIES
[694, 695, 696, 697]
Returning Entries for: #586 - Sawsbuck
https://bulbapedia.bulbagarden.net/wiki/Sawsbuck_(Pok%C3%A9mon)

Acquiring 224 Images for Sawsbuck from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sawsbuck

Acquiring 25 Tables for Sawsbuck from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sawsbuck

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/586.shtml

Acquiring 39 Tables for Sawsbuck from Serebii
[█████████████████████████] 100.0% ...Collected

694    \nUpdated Body Type for all entries of Sawsbuck
695    \nUpdated Body Type for all entries of Sawsbuck
696    \nUpdated Body Type for all entries of Sawsbuck
697    \nUpdated Body Type for all entries of Sawsbuck
Name: NAME, dtype: object
Sawsbuck
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sawsbuck
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sawsbuck
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
694,586,1,5861,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
695,586,2,5862,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
696,586,3,5863,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,
697,586,4,5864,5,Unovan,Sawsbuck,,,,Normal,...,,,80,100,70,60,70,95,,

CURRENT INDICIES
[694, 695, 696, 697]
Returning Entries for: #586 - Sawsbuck
https://bulbapedia.bulbagarden.net/wiki/Sawsbuck_(Pok%C3%A9mon)

Acquiring 224 Images for Sawsbuck from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sawsbuck

Acquiring 25 Tables for Sawsbuck from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sawsbuck

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/586.shtml

Acquiring 39 Tables for Sawsbuck from Serebii
[█████████████████████████] 100.0% ...Collected

694    \nUpdated Body Type for all entries of Sawsbuck
695    \nUpdated Body Type for all entries of Sawsbuck
696    \nUpdated Body Type for all entries of Sawsbuck
697    \nUpdated Body Type for all entries of Sawsbuck
Name: NAME, dtype: object
Sawsbuck
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sawsbuck
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sawsbuck
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
698,587,1,5871,5,Unovan,Emolga,,,,Electric,...,,,55,75,60,75,60,103,,

CURRENT INDICIES
[698]
Returning Entries for: #587 - Emolga
https://bulbapedia.bulbagarden.net/wiki/Emolga_(Pok%C3%A9mon)

Acquiring 135 Images for Emolga from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Emolga

Acquiring 22 Tables for Emolga from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/emolga

Acquiring 39 Tables for Emolga from Serebii
[█████████████████████████] 100.0% ...Collected

698    \nUpdated Body Type for all entries of Emolga
Name: NAME, dtype: object
Emolga
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Emolga
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Emolga
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
699,588,1,5881,5,Unovan,Karrablast,,,,Bug,...,,,50,75,45,40,45,60,,

CURRENT INDICIES
[699]
Returning Entries for: #588 - Karrablast
https://bulbapedia.bulbagarden.net/wiki/Karrablast_(Pok%C3%A9mon)

Acquiring 129 Images for Karrablast from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Karrablast

Acquiring 19 Tables for Karrablast from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/karrablast

Acquiring 38 Tables for Karrablast from Serebii
[█████████████████████████] 100.0% ...Collected

699    \nUpdated Body Type for all entries of Karrablast
Name: NAME, dtype: object
Karrablast
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Karrablast
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Karrablast
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
700,589,1,5891,5,Unovan,Escavalier,,,,Bug,...,,,70,135,105,60,105,20,,

CURRENT INDICIES
[700]
Returning Entries for: #589 - Escavalier
https://bulbapedia.bulbagarden.net/wiki/Escavalier_(Pok%C3%A9mon)

Acquiring 140 Images for Escavalier from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Escavalier

Acquiring 20 Tables for Escavalier from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/escavalier

Acquiring 39 Tables for Escavalier from Serebii
[█████████████████████████] 100.0% ...Collected

700    \nUpdated Body Type for all entries of Escavalier
Name: NAME, dtype: object
Escavalier
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Escavalier
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Escavalier
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
701,590,1,5901,5,Unovan,Foongus,,,,Grass,...,,,69,55,45,55,55,15,,

CURRENT INDICIES
[701]
Returning Entries for: #590 - Foongus
https://bulbapedia.bulbagarden.net/wiki/Foongus_(Pok%C3%A9mon)

Acquiring 119 Images for Foongus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Foongus

Acquiring 19 Tables for Foongus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/foongus

Acquiring 39 Tables for Foongus from Serebii
[█████████████████████████] 100.0% ...Collected

701    \nUpdated Body Type for all entries of Foongus
Name: NAME, dtype: object
Foongus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Foongus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Foongus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
702,591,1,5911,5,Unovan,Amoonguss,,,,Grass,...,,,114,85,70,85,80,30,,

CURRENT INDICIES
[702]
Returning Entries for: #591 - Amoonguss
https://bulbapedia.bulbagarden.net/wiki/Amoonguss_(Pok%C3%A9mon)

Acquiring 129 Images for Amoonguss from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Amoonguss

Acquiring 19 Tables for Amoonguss from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/amoonguss

Acquiring 39 Tables for Amoonguss from Serebii
[█████████████████████████] 100.0% ...Collected

702    \nUpdated Body Type for all entries of Amoonguss
Name: NAME, dtype: object
Amoonguss
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Amoonguss
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Amoonguss
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
703,592,1,5921,5,Unovan,Frillish,,,,Water,...,,,55,40,50,65,85,40,,

CURRENT INDICIES
[703]
Returning Entries for: #592 - Frillish
https://bulbapedia.bulbagarden.net/wiki/Frillish_(Pok%C3%A9mon)

Acquiring 173 Images for Frillish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Frillish

Acquiring 26 Tables for Frillish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/frillish

Acquiring 42 Tables for Frillish from Serebii
[█████████████████████████] 100.0% ...Collected

703    \nUpdated Body Type for all entries of Frillish
Name: NAME, dtype: object
Frillish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Frillish
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Frillish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
704,593,1,5931,5,Unovan,Jellicent,,,,Water,...,,,100,60,70,85,105,60,,

CURRENT INDICIES
[704]
Returning Entries for: #593 - Jellicent
https://bulbapedia.bulbagarden.net/wiki/Jellicent_(Pok%C3%A9mon)

Acquiring 170 Images for Jellicent from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Jellicent

Acquiring 26 Tables for Jellicent from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/jellicent

Acquiring 42 Tables for Jellicent from Serebii
[█████████████████████████] 100.0% ...Collected

704    \nUpdated Body Type for all entries of Jellicent
Name: NAME, dtype: object
Jellicent
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Jellicent
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Jellicent
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
705,594,1,5941,5,Unovan,Alomomola,,,,Water,...,,,165,75,80,40,45,65,,

CURRENT INDICIES
[705]
Returning Entries for: #594 - Alomomola
https://bulbapedia.bulbagarden.net/wiki/Alomomola_(Pok%C3%A9mon)

Acquiring 60 Images for Alomomola from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Alomomola

Acquiring 19 Tables for Alomomola from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/alomomola

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/594.shtml

Acquiring 36 Tables for Alomomola from Serebii
[█████████████████████████] 100.0% ...Collected

705    \nUpdated Body Type for all entries of Alomomola
Name: NAME, dtype: object
Alomomola
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Alomomola
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Alomomola
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
706,595,1,5951,5,Unovan,Joltik,,,,Bug,...,,,50,47,50,57,50,65,,

CURRENT INDICIES
[706]
Returning Entries for: #595 - Joltik
https://bulbapedia.bulbagarden.net/wiki/Joltik_(Pok%C3%A9mon)

Acquiring 128 Images for Joltik from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Joltik

Acquiring 20 Tables for Joltik from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/joltik

Acquiring 39 Tables for Joltik from Serebii
[█████████████████████████] 100.0% ...Collected

706    \nUpdated Body Type for all entries of Joltik
Name: NAME, dtype: object
Joltik
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Joltik
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Joltik
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
707,596,1,5961,5,Unovan,Galvantula,,,,Bug,...,,,70,77,60,97,60,108,,

CURRENT INDICIES
[707]
Returning Entries for: #596 - Galvantula
https://bulbapedia.bulbagarden.net/wiki/Galvantula_(Pok%C3%A9mon)

Acquiring 132 Images for Galvantula from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Galvantula

Acquiring 22 Tables for Galvantula from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/galvantula

Acquiring 39 Tables for Galvantula from Serebii
[█████████████████████████] 100.0% ...Collected

707    \nUpdated Body Type for all entries of Galvantula
Name: NAME, dtype: object
Galvantula
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Galvantula
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Galvantula
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
708,597,1,5971,5,Unovan,Ferroseed,,,,Grass,...,,,44,50,91,24,86,10,,

CURRENT INDICIES
[708]
Returning Entries for: #597 - Ferroseed
https://bulbapedia.bulbagarden.net/wiki/Ferroseed_(Pok%C3%A9mon)

Acquiring 136 Images for Ferroseed from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Ferroseed

Acquiring 20 Tables for Ferroseed from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/ferroseed

Acquiring 40 Tables for Ferroseed from Serebii
[█████████████████████████] 100.0% ...Collected

708    \nUpdated Body Type for all entries of Ferroseed
Name: NAME, dtype: object
Ferroseed
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Ferroseed
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Ferroseed
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
709,598,1,5981,5,Unovan,Ferrothorn,,,,Grass,...,,,74,94,131,54,116,20,,

CURRENT INDICIES
[709]
Returning Entries for: #598 - Ferrothorn
https://bulbapedia.bulbagarden.net/wiki/Ferrothorn_(Pok%C3%A9mon)

Acquiring 148 Images for Ferrothorn from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Ferrothorn

Acquiring 22 Tables for Ferrothorn from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/ferrothorn

Acquiring 40 Tables for Ferrothorn from Serebii
[█████████████████████████] 100.0% ...Collected

709    \nUpdated Body Type for all entries of Ferrothorn
Name: NAME, dtype: object
Ferrothorn
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Ferrothorn
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Ferrothorn
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
710,599,1,5991,5,Unovan,Klink,,,,Steel,...,,,40,55,70,45,60,30,,

CURRENT INDICIES
[710]
Returning Entries for: #599 - Klink
https://bulbapedia.bulbagarden.net/wiki/Klink_(Pok%C3%A9mon)

Acquiring 87 Images for Klink from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Klink

Acquiring 18 Tables for Klink from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/klink

Acquiring 37 Tables for Klink from Serebii
[█████████████████████████] 100.0% ...Collected

710    \nUpdated Body Type for all entries of Klink
Name: NAME, dtype: object
Klink
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Klink
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Klink
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
711,600,1,6001,5,Unovan,Klang,,,,Steel,...,,,60,80,95,70,85,50,,

CURRENT INDICIES
[711]
Returning Entries for: #600 - Klang
https://bulbapedia.bulbagarden.net/wiki/Klang_(Pok%C3%A9mon)

Acquiring 88 Images for Klang from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Klang

Acquiring 18 Tables for Klang from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/klang

Acquiring 37 Tables for Klang from Serebii
[█████████████████████████] 100.0% ...Collected

711    \nUpdated Body Type for all entries of Klang
Name: NAME, dtype: object
Klang
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Klang
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Klang
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
712,601,1,6011,5,Unovan,Klinklang,,,,Steel,...,,,60,100,115,70,85,90,,

CURRENT INDICIES
[712]
Returning Entries for: #601 - Klinklang
https://bulbapedia.bulbagarden.net/wiki/Klinklang_(Pok%C3%A9mon)

Acquiring 92 Images for Klinklang from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Klinklang

Acquiring 19 Tables for Klinklang from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/klinklang

Acquiring 37 Tables for Klinklang from Serebii
[█████████████████████████] 100.0% ...Collected

712    \nUpdated Body Type for all entries of Klinklang
Name: NAME, dtype: object
Klinklang
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Klinklang
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Klinklang
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
713,602,1,6021,5,Unovan,Tynamo,,,,Electric,...,,,35,55,40,45,40,60,,

CURRENT INDICIES
[713]
Returning Entries for: #602 - Tynamo
https://bulbapedia.bulbagarden.net/wiki/Tynamo_(Pok%C3%A9mon)

Acquiring 63 Images for Tynamo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tynamo

Acquiring 15 Tables for Tynamo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tynamo

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/602.shtml

Acquiring 33 Tables for Tynamo from Serebii
[█████████████████████████] 100.0% ...Collected

713    \nUpdated Body Type for all entries of Tynamo
Name: NAME, dtype: object
Tynamo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tynamo
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tynamo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
714,603,1,6031,5,Unovan,Eelektrik,,,,Electric,...,,,65,85,70,75,70,40,,

CURRENT INDICIES
[714]
Returning Entries for: #603 - Eelektrik
https://bulbapedia.bulbagarden.net/wiki/Eelektrik_(Pok%C3%A9mon)

Acquiring 64 Images for Eelektrik from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eelektrik

Acquiring 21 Tables for Eelektrik from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eelektrik

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/603.shtml

Acquiring 38 Tables for Eelektrik from Serebii
[█████████████████████████] 100.0% ...Collected

714    \nUpdated Body Type for all entries of Eelektrik
Name: NAME, dtype: object
Eelektrik
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eelektrik
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eelektrik
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
715,604,1,6041,5,Unovan,Eelektross,,,,Electric,...,,,85,115,80,105,80,50,,

CURRENT INDICIES
[715]
Returning Entries for: #604 - Eelektross
https://bulbapedia.bulbagarden.net/wiki/Eelektross_(Pok%C3%A9mon)

Acquiring 62 Images for Eelektross from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eelektross

Acquiring 19 Tables for Eelektross from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eelektross

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/604.shtml

Acquiring 45 Tables for Eelektross from Serebii
[█████████████████████████] 100.0% ...Collected

715    \nUpdated Body Type for all entries of Eelektross
Name: NAME, dtype: object
Eelektross
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eelektross
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eelektross
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
716,605,1,6051,5,Unovan,Elgyem,,,,Psychic,...,,,55,55,55,85,55,30,,

CURRENT INDICIES
[716]
Returning Entries for: #605 - Elgyem
https://bulbapedia.bulbagarden.net/wiki/Elgyem_(Pok%C3%A9mon)

Acquiring 117 Images for Elgyem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Elgyem

Acquiring 20 Tables for Elgyem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/elgyem

Acquiring 39 Tables for Elgyem from Serebii
[█████████████████████████] 100.0% ...Collected

716    \nUpdated Body Type for all entries of Elgyem
Name: NAME, dtype: object
Elgyem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Elgyem
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Elgyem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
717,606,1,6061,5,Unovan,Beheeyem,,,,Psychic,...,,,75,75,75,125,95,40,,

CURRENT INDICIES
[717]
Returning Entries for: #606 - Beheeyem
https://bulbapedia.bulbagarden.net/wiki/Beheeyem_(Pok%C3%A9mon)

Acquiring 122 Images for Beheeyem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Beheeyem

Acquiring 20 Tables for Beheeyem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/beheeyem

Acquiring 39 Tables for Beheeyem from Serebii
[█████████████████████████] 100.0% ...Collected

717    \nUpdated Body Type for all entries of Beheeyem
Name: NAME, dtype: object
Beheeyem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Beheeyem
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Beheeyem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
718,607,1,6071,5,Unovan,Litwick,,,,Ghost,...,,,50,30,55,65,55,20,,

CURRENT INDICIES
[718]
Returning Entries for: #607 - Litwick
https://bulbapedia.bulbagarden.net/wiki/Litwick_(Pok%C3%A9mon)

Acquiring 117 Images for Litwick from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Litwick

Acquiring 24 Tables for Litwick from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/litwick

Acquiring 39 Tables for Litwick from Serebii
[█████████████████████████] 100.0% ...Collected

718    \nUpdated Body Type for all entries of Litwick
Name: NAME, dtype: object
Litwick
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Litwick
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Litwick
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
719,608,1,6081,5,Unovan,Lampent,,,,Ghost,...,,,60,40,60,95,60,55,,

CURRENT INDICIES
[719]
Returning Entries for: #608 - Lampent
https://bulbapedia.bulbagarden.net/wiki/Lampent_(Pok%C3%A9mon)

Acquiring 118 Images for Lampent from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lampent

Acquiring 24 Tables for Lampent from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lampent

Acquiring 39 Tables for Lampent from Serebii
[█████████████████████████] 100.0% ...Collected

719    \nUpdated Body Type for all entries of Lampent
Name: NAME, dtype: object
Lampent
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lampent
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lampent
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
720,609,1,6091,5,Unovan,Chandelure,,,,Ghost,...,,,60,55,90,145,90,80,,

CURRENT INDICIES
[720]
Returning Entries for: #609 - Chandelure
https://bulbapedia.bulbagarden.net/wiki/Chandelure_(Pok%C3%A9mon)

Acquiring 123 Images for Chandelure from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Chandelure

Acquiring 25 Tables for Chandelure from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/chandelure

Acquiring 39 Tables for Chandelure from Serebii
[█████████████████████████] 100.0% ...Collected

720    \nUpdated Body Type for all entries of Chandelure
Name: NAME, dtype: object
Chandelure
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Chandelure
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Chandelure
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
721,610,1,6101,5,Unovan,Axew,,,,Dragon,...,,,46,87,60,30,40,57,,

CURRENT INDICIES
[721]
Returning Entries for: #610 - Axew
https://bulbapedia.bulbagarden.net/wiki/Axew_(Pok%C3%A9mon)

Acquiring 126 Images for Axew from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Axew

Acquiring 20 Tables for Axew from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/axew

Acquiring 40 Tables for Axew from Serebii
[█████████████████████████] 100.0% ...Collected

721    \nUpdated Body Type for all entries of Axew
Name: NAME, dtype: object
Axew
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Axew
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Axew
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
722,611,1,6111,5,Unovan,Fraxure,,,,Dragon,...,,,66,117,70,40,50,67,,

CURRENT INDICIES
[722]
Returning Entries for: #611 - Fraxure
https://bulbapedia.bulbagarden.net/wiki/Fraxure_(Pok%C3%A9mon)

Acquiring 129 Images for Fraxure from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Fraxure

Acquiring 20 Tables for Fraxure from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/fraxure

Acquiring 40 Tables for Fraxure from Serebii
[█████████████████████████] 100.0% ...Collected

722    \nUpdated Body Type for all entries of Fraxure
Name: NAME, dtype: object
Fraxure
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Fraxure
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Fraxure
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
723,612,1,6121,5,Unovan,Haxorus,,,,Dragon,...,,,76,147,90,60,70,97,,

CURRENT INDICIES
[723]
Returning Entries for: #612 - Haxorus
https://bulbapedia.bulbagarden.net/wiki/Haxorus_(Pok%C3%A9mon)

Acquiring 143 Images for Haxorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Haxorus

Acquiring 20 Tables for Haxorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/haxorus

Acquiring 40 Tables for Haxorus from Serebii
[█████████████████████████] 100.0% ...Collected

723    \nUpdated Body Type for all entries of Haxorus
Name: NAME, dtype: object
Haxorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Haxorus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Haxorus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
724,613,1,6131,5,Unovan,Cubchoo,,,,Ice,...,,,55,70,40,60,40,40,,

CURRENT INDICIES
[724]
Returning Entries for: #613 - Cubchoo
https://bulbapedia.bulbagarden.net/wiki/Cubchoo_(Pok%C3%A9mon)

Acquiring 131 Images for Cubchoo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cubchoo

Acquiring 19 Tables for Cubchoo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cubchoo

Acquiring 38 Tables for Cubchoo from Serebii
[█████████████████████████] 100.0% ...Collected

724    \nUpdated Body Type for all entries of Cubchoo
Name: NAME, dtype: object
Cubchoo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cubchoo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cubchoo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
725,614,1,6141,5,Unovan,Beartic,,,,Ice,...,,,95,130,80,70,80,50,,

CURRENT INDICIES
[725]
Returning Entries for: #614 - Beartic
https://bulbapedia.bulbagarden.net/wiki/Beartic_(Pok%C3%A9mon)

Acquiring 144 Images for Beartic from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Beartic

Acquiring 22 Tables for Beartic from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/beartic

Acquiring 38 Tables for Beartic from Serebii
[█████████████████████████] 100.0% ...Collected

725    \nUpdated Body Type for all entries of Beartic
Name: NAME, dtype: object
Beartic
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Beartic
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Beartic
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
726,615,1,6151,5,Unovan,Cryogonal,,,,Ice,...,,,80,50,50,95,135,105,,

CURRENT INDICIES
[726]
Returning Entries for: #615 - Cryogonal
https://bulbapedia.bulbagarden.net/wiki/Cryogonal_(Pok%C3%A9mon)

Acquiring 89 Images for Cryogonal from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cryogonal

Acquiring 18 Tables for Cryogonal from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cryogonal

Acquiring 36 Tables for Cryogonal from Serebii
[█████████████████████████] 100.0% ...Collected

726    \nUpdated Body Type for all entries of Cryogonal
Name: NAME, dtype: object
Cryogonal
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cryogonal
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cryogonal
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
727,616,1,6161,5,Unovan,Shelmet,,,,Bug,...,,,50,40,85,40,65,25,,

CURRENT INDICIES
[727]
Returning Entries for: #616 - Shelmet
https://bulbapedia.bulbagarden.net/wiki/Shelmet_(Pok%C3%A9mon)

Acquiring 100 Images for Shelmet from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Shelmet

Acquiring 20 Tables for Shelmet from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/shelmet

Acquiring 39 Tables for Shelmet from Serebii
[█████████████████████████] 100.0% ...Collected

727    \nUpdated Body Type for all entries of Shelmet
Name: NAME, dtype: object
Shelmet
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Shelmet
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Shelmet
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
728,617,1,6171,5,Unovan,Accelgor,,,,Bug,...,,,80,70,40,100,60,145,,

CURRENT INDICIES
[728]
Returning Entries for: #617 - Accelgor
https://bulbapedia.bulbagarden.net/wiki/Accelgor_(Pok%C3%A9mon)

Acquiring 109 Images for Accelgor from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Accelgor

Acquiring 21 Tables for Accelgor from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/accelgor

Acquiring 39 Tables for Accelgor from Serebii
[█████████████████████████] 100.0% ...Collected

728    \nUpdated Body Type for all entries of Accelgor
Name: NAME, dtype: object
Accelgor
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Accelgor
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Accelgor
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
729,618,1,6181,5,Unovan,Stunfisk,,,,Electric,...,,,109,66,84,81,99,32,,
730,618,2,6182,8,Galarian,Stunfisk,,,,Ground,...,,,109,81,99,66,84,32,,

CURRENT INDICIES
[729, 730]
Returning Entries for: #618 - Stunfisk
https://bulbapedia.bulbagarden.net/wiki/Stunfisk_(Pok%C3%A9mon)

Acquiring 329 Images for Stunfisk from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Stunfisk

Acquiring 32 Tables for Stunfisk from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/stunfisk

Acquiring 107 Tables for Stunfisk from Serebii
[█████████████████████████] 100.0% ...Collected

729    \nUpdated Body Type for all entries of Stunfisk
730    \nUpdated Body Type for all entries of Stunfisk
Name: NAME, dtype: object
Stunfisk
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Stunfisk
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Galarian Form Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Stunfisk
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
729,618,1,6181,5,Unovan,Stunfisk,,,,Electric,...,,,109,66,84,81,99,32,,
730,618,2,6182,8,Galarian,Stunfisk,,,,Ground,...,,,109,81,99,66,84,32,,

CURRENT INDICIES
[729, 730]
Returning Entries for: #618 - Stunfisk
https://bulbapedia.bulbagarden.net/wiki/Stunfisk_(Pok%C3%A9mon)

Acquiring 329 Images for Stunfisk from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Stunfisk

Acquiring 32 Tables for Stunfisk from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/stunfisk

Acquiring 107 Tables for Stunfisk from Serebii
[█████████████████████████] 100.0% ...Collected

729    \nUpdated Body Type for all entries of Stunfisk
730    \nUpdated Body Type for all entries of Stunfisk
Name: NAME, dtype: object
Stunfisk
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Stunfisk
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Galarian Form Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Stunfisk
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
731,619,1,6191,5,Unovan,Mienfoo,,,,Fighting,...,,,45,85,50,55,50,65,,

CURRENT INDICIES
[731]
Returning Entries for: #619 - Mienfoo
https://bulbapedia.bulbagarden.net/wiki/Mienfoo_(Pok%C3%A9mon)

Acquiring 149 Images for Mienfoo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mienfoo

Acquiring 20 Tables for Mienfoo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mienfoo

Acquiring 39 Tables for Mienfoo from Serebii
[█████████████████████████] 100.0% ...Collected

731    \nUpdated Body Type for all entries of Mienfoo
Name: NAME, dtype: object
Mienfoo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mienfoo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mienfoo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
732,620,1,6201,5,Unovan,Mienshao,,,,Fighting,...,,,65,125,60,95,60,105,,

CURRENT INDICIES
[732]
Returning Entries for: #620 - Mienshao
https://bulbapedia.bulbagarden.net/wiki/Mienshao_(Pok%C3%A9mon)

Acquiring 154 Images for Mienshao from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mienshao

Acquiring 21 Tables for Mienshao from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mienshao

Acquiring 39 Tables for Mienshao from Serebii
[█████████████████████████] 100.0% ...Collected

732    \nUpdated Body Type for all entries of Mienshao
Name: NAME, dtype: object
Mienshao
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mienshao
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mienshao
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
733,621,1,6211,5,Unovan,Druddigon,,,,Dragon,...,,,77,120,90,60,90,48,,

CURRENT INDICIES
[733]
Returning Entries for: #621 - Druddigon
https://bulbapedia.bulbagarden.net/wiki/Druddigon_(Pok%C3%A9mon)

Acquiring 127 Images for Druddigon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Druddigon

Acquiring 20 Tables for Druddigon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/druddigon

Acquiring 40 Tables for Druddigon from Serebii
[█████████████████████████] 100.0% ...Collected

733    \nUpdated Body Type for all entries of Druddigon
Name: NAME, dtype: object
Druddigon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Druddigon
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Druddigon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
734,622,1,6221,5,Unovan,Golett,,,,Ground,...,,,59,74,50,35,50,35,,

CURRENT INDICIES
[734]
Returning Entries for: #622 - Golett
https://bulbapedia.bulbagarden.net/wiki/Golett_(Pok%C3%A9mon)

Acquiring 112 Images for Golett from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Golett

Acquiring 18 Tables for Golett from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/golett

Acquiring 36 Tables for Golett from Serebii
[█████████████████████████] 100.0% ...Collected

734    \nUpdated Body Type for all entries of Golett
Name: NAME, dtype: object
Golett
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Golett
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Golett
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
735,623,1,6231,5,Unovan,Golurk,,,,Ground,...,,,89,124,80,55,80,55,,

CURRENT INDICIES
[735]
Returning Entries for: #623 - Golurk
https://bulbapedia.bulbagarden.net/wiki/Golurk_(Pok%C3%A9mon)

Acquiring 138 Images for Golurk from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Golurk

Acquiring 19 Tables for Golurk from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/golurk

Acquiring 36 Tables for Golurk from Serebii
[█████████████████████████] 100.0% ...Collected

735    \nUpdated Body Type for all entries of Golurk
Name: NAME, dtype: object
Golurk
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Golurk
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Golurk
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
736,624,1,6241,5,Unovan,Pawniard,,,,Dark,...,,,45,85,70,40,40,60,,

CURRENT INDICIES
[736]
Returning Entries for: #624 - Pawniard
https://bulbapedia.bulbagarden.net/wiki/Pawniard_(Pok%C3%A9mon)

Acquiring 132 Images for Pawniard from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pawniard

Acquiring 20 Tables for Pawniard from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pawniard

Acquiring 40 Tables for Pawniard from Serebii
[█████████████████████████] 100.0% ...Collected

736    \nUpdated Body Type for all entries of Pawniard
Name: NAME, dtype: object
Pawniard
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pawniard
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pawniard
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
737,625,1,6251,5,Unovan,Bisharp,,,,Dark,...,,,65,125,100,60,70,70,,

CURRENT INDICIES
[737]
Returning Entries for: #625 - Bisharp
https://bulbapedia.bulbagarden.net/wiki/Bisharp_(Pok%C3%A9mon)

Acquiring 139 Images for Bisharp from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bisharp

Acquiring 20 Tables for Bisharp from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bisharp

Acquiring 40 Tables for Bisharp from Serebii
[█████████████████████████] 100.0% ...Collected

737    \nUpdated Body Type for all entries of Bisharp
Name: NAME, dtype: object
Bisharp
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bisharp
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bisharp
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
738,626,1,6261,5,Unovan,Bouffalant,,,,Normal,...,,,95,110,95,40,95,55,,

CURRENT INDICIES
[738]
Returning Entries for: #626 - Bouffalant
https://bulbapedia.bulbagarden.net/wiki/Bouffalant_(Pok%C3%A9mon)

Acquiring 167 Images for Bouffalant from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bouffalant

Acquiring 24 Tables for Bouffalant from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bouffalant

Acquiring 39 Tables for Bouffalant from Serebii
[█████████████████████████] 100.0% ...Collected

738    \nUpdated Body Type for all entries of Bouffalant
Name: NAME, dtype: object
Bouffalant
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bouffalant
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bouffalant
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
739,627,1,6271,5,Unovan,Rufflet,,,,Normal,...,,,70,83,50,37,50,60,,

CURRENT INDICIES
[739]
Returning Entries for: #627 - Rufflet
https://bulbapedia.bulbagarden.net/wiki/Rufflet_(Pok%C3%A9mon)

Acquiring 97 Images for Rufflet from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rufflet

Acquiring 16 Tables for Rufflet from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rufflet

Acquiring 49 Tables for Rufflet from Serebii
[█████████████████████████] 100.0% ...Collected

739    \nUpdated Body Type for all entries of Rufflet
Name: NAME, dtype: object
Rufflet
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rufflet
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rufflet
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
740,628,1,6281,5,Unovan,Braviary,,,,Normal,...,,,100,123,75,57,75,80,,

CURRENT INDICIES
[740]
Returning Entries for: #628 - Braviary
https://bulbapedia.bulbagarden.net/wiki/Braviary_(Pok%C3%A9mon)

Acquiring 105 Images for Braviary from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Braviary

Acquiring 24 Tables for Braviary from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/braviary

Acquiring 54 Tables for Braviary from Serebii
[█████████████████████████] 100.0% ...Collected

740    \nUpdated Body Type for all entries of Braviary
Name: NAME, dtype: object
Braviary
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Braviary
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Braviary
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
741,629,1,6291,5,Unovan,Vullaby,,,,Dark,...,,,70,55,75,45,65,60,,

CURRENT INDICIES
[741]
Returning Entries for: #629 - Vullaby
https://bulbapedia.bulbagarden.net/wiki/Vullaby_(Pok%C3%A9mon)

Acquiring 113 Images for Vullaby from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vullaby

Acquiring 20 Tables for Vullaby from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vullaby

Acquiring 39 Tables for Vullaby from Serebii
[█████████████████████████] 100.0% ...Collected

741    \nUpdated Body Type for all entries of Vullaby
Name: NAME, dtype: object
Vullaby
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vullaby
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vullaby
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
742,630,1,6301,5,Unovan,Mandibuzz,,,,Dark,...,,,110,65,105,55,95,80,,

CURRENT INDICIES
[742]
Returning Entries for: #630 - Mandibuzz
https://bulbapedia.bulbagarden.net/wiki/Mandibuzz_(Pok%C3%A9mon)

Acquiring 117 Images for Mandibuzz from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mandibuzz

Acquiring 22 Tables for Mandibuzz from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mandibuzz

Acquiring 39 Tables for Mandibuzz from Serebii
[█████████████████████████] 100.0% ...Collected

742    \nUpdated Body Type for all entries of Mandibuzz
Name: NAME, dtype: object
Mandibuzz
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mandibuzz
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mandibuzz
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
743,631,1,6311,5,Unovan,Heatmor,,,,Fire,...,,,85,97,66,105,66,65,,

CURRENT INDICIES
[743]
Returning Entries for: #631 - Heatmor
https://bulbapedia.bulbagarden.net/wiki/Heatmor_(Pok%C3%A9mon)

Acquiring 143 Images for Heatmor from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Heatmor

Acquiring 24 Tables for Heatmor from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/heatmor

Acquiring 39 Tables for Heatmor from Serebii
[█████████████████████████] 100.0% ...Collected

743    \nUpdated Body Type for all entries of Heatmor
Name: NAME, dtype: object
Heatmor
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Heatmor
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Heatmor
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
744,632,1,6321,5,Unovan,Durant,,,,Bug,...,,,58,109,112,48,48,109,,

CURRENT INDICIES
[744]
Returning Entries for: #632 - Durant
https://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)

Acquiring 114 Images for Durant from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Durant

Acquiring 20 Tables for Durant from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/durant

Acquiring 40 Tables for Durant from Serebii
[█████████████████████████] 100.0% ...Collected

744    \nUpdated Body Type for all entries of Durant
Name: NAME, dtype: object
Durant
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Durant
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Durant
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
745,633,1,6331,5,Unovan,Deino,,,,Dark,...,,,52,65,50,45,50,38,,

CURRENT INDICIES
[745]
Returning Entries for: #633 - Deino
https://bulbapedia.bulbagarden.net/wiki/Deino_(Pok%C3%A9mon)

Acquiring 118 Images for Deino from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Deino

Acquiring 19 Tables for Deino from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/deino

Acquiring 39 Tables for Deino from Serebii
[█████████████████████████] 100.0% ...Collected

745    \nUpdated Body Type for all entries of Deino
Name: NAME, dtype: object
Deino
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Deino
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Deino
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
746,634,1,6341,5,Unovan,Zweilous,,,,Dark,...,,,72,85,70,65,70,58,,

CURRENT INDICIES
[746]
Returning Entries for: #634 - Zweilous
https://bulbapedia.bulbagarden.net/wiki/Zweilous_(Pok%C3%A9mon)

Acquiring 120 Images for Zweilous from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zweilous

Acquiring 20 Tables for Zweilous from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zweilous

Acquiring 39 Tables for Zweilous from Serebii
[█████████████████████████] 100.0% ...Collected

746    \nUpdated Body Type for all entries of Zweilous
Name: NAME, dtype: object
Zweilous
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zweilous
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zweilous
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
747,635,1,6351,5,Unovan,Hydreigon,,,,Dark,...,,,92,105,90,125,90,98,,

CURRENT INDICIES
[747]
Returning Entries for: #635 - Hydreigon
https://bulbapedia.bulbagarden.net/wiki/Hydreigon_(Pok%C3%A9mon)

Acquiring 161 Images for Hydreigon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hydreigon

Acquiring 21 Tables for Hydreigon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hydreigon

Acquiring 40 Tables for Hydreigon from Serebii
[█████████████████████████] 100.0% ...Collected

747    \nUpdated Body Type for all entries of Hydreigon
Name: NAME, dtype: object
Hydreigon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hydreigon
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hydreigon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
748,636,1,6361,5,Unovan,Larvesta,,,,Bug,...,,,55,85,55,50,55,60,,

CURRENT INDICIES
[748]
Returning Entries for: #636 - Larvesta
https://bulbapedia.bulbagarden.net/wiki/Larvesta_(Pok%C3%A9mon)

Acquiring 110 Images for Larvesta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Larvesta

Acquiring 20 Tables for Larvesta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/larvesta

Acquiring 39 Tables for Larvesta from Serebii
[█████████████████████████] 100.0% ...Collected

748    \nUpdated Body Type for all entries of Larvesta
Name: NAME, dtype: object
Larvesta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Larvesta
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Larvesta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
749,637,1,6371,5,Unovan,Volcarona,,,,Bug,...,,,85,60,65,135,105,100,,

CURRENT INDICIES
[749]
Returning Entries for: #637 - Volcarona
https://bulbapedia.bulbagarden.net/wiki/Volcarona_(Pok%C3%A9mon)

Acquiring 122 Images for Volcarona from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Volcarona

Acquiring 23 Tables for Volcarona from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/volcarona

Acquiring 39 Tables for Volcarona from Serebii
[█████████████████████████] 100.0% ...Collected

749    \nUpdated Body Type for all entries of Volcarona
Name: NAME, dtype: object
Volcarona
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Volcarona
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Volcarona
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
750,638,1,6381,5,Unovan,Cobalion,,,,Steel,...,,,91,90,129,90,72,108,,

CURRENT INDICIES
[750]
Returning Entries for: #638 - Cobalion
https://bulbapedia.bulbagarden.net/wiki/Cobalion_(Pok%C3%A9mon)

Acquiring 103 Images for Cobalion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cobalion

Acquiring 18 Tables for Cobalion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cobalion

Acquiring 36 Tables for Cobalion from Serebii
[█████████████████████████] 100.0% ...Collected

750    \nUpdated Body Type for all entries of Cobalion
Name: NAME, dtype: object
Cobalion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cobalion
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cobalion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
751,639,1,6391,5,Unovan,Terrakion,,,,Rock,...,,,91,129,90,72,90,108,,

CURRENT INDICIES
[751]
Returning Entries for: #639 - Terrakion
https://bulbapedia.bulbagarden.net/wiki/Terrakion_(Pok%C3%A9mon)

Acquiring 106 Images for Terrakion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Terrakion

Acquiring 18 Tables for Terrakion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/terrakion

Acquiring 35 Tables for Terrakion from Serebii
[█████████████████████████] 100.0% ...Collected

751    \nUpdated Body Type for all entries of Terrakion
Name: NAME, dtype: object
Terrakion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Terrakion
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Terrakion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
752,640,1,6401,5,Unovan,Virizion,,,,Grass,...,,,91,90,72,90,129,108,,

CURRENT INDICIES
[752]
Returning Entries for: #640 - Virizion
https://bulbapedia.bulbagarden.net/wiki/Virizion_(Pok%C3%A9mon)

Acquiring 108 Images for Virizion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Virizion

Acquiring 18 Tables for Virizion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/virizion

Acquiring 35 Tables for Virizion from Serebii
[█████████████████████████] 100.0% ...Collected

752    \nUpdated Body Type for all entries of Virizion
Name: NAME, dtype: object
Virizion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Virizion
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Virizion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
753,641,1,6411,5,Unovan,Tornadus,,,,Flying,...,,,79,115,70,125,80,111,,
754,641,2,6412,5,Unovan,Tornadus,,,,Flying,...,,,79,100,80,110,90,121,,

CURRENT INDICIES
[753, 754]
Returning Entries for: #641 - Tornadus
https://bulbapedia.bulbagarden.net/wiki/Tornadus_(Pok%C3%A9mon)

Acquiring 157 Images for Tornadus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tornadus

Acquiring 23 Tables for Tornadus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tornadus

Acquiring 49 Tables for Tornadus from Serebii
[█████████████████████████] 100.0% ...Collected

753    \nUpdated Body Type for all entries of Tornadus
754    \nUpdated Body Type for all entries of Tornadus
Name: NAME, dtype: object
Tornadus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tornadus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tornadus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
753,641,1,6411,5,Unovan,Tornadus,,,,Flying,...,,,79,115,70,125,80,111,,
754,641,2,6412,5,Unovan,Tornadus,,,,Flying,...,,,79,100,80,110,90,121,,

CURRENT INDICIES
[753, 754]
Returning Entries for: #641 - Tornadus
https://bulbapedia.bulbagarden.net/wiki/Tornadus_(Pok%C3%A9mon)

Acquiring 157 Images for Tornadus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tornadus

Acquiring 23 Tables for Tornadus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tornadus

Acquiring 49 Tables for Tornadus from Serebii
[█████████████████████████] 100.0% ...Collected

753    \nUpdated Body Type for all entries of Tornadus
754    \nUpdated Body Type for all entries of Tornadus
Name: NAME, dtype: object
Tornadus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tornadus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tornadus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
755,642,1,6421,5,Unovan,Thundurus,,,,Electric,...,,,79,115,70,125,80,111,,
756,642,2,6422,5,Unovan,Thundurus,,,,Electric,...,,,79,105,70,145,80,101,,

CURRENT INDICIES
[755, 756]
Returning Entries for: #642 - Thundurus
https://bulbapedia.bulbagarden.net/wiki/Thundurus_(Pok%C3%A9mon)

Acquiring 164 Images for Thundurus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Thundurus

Acquiring 23 Tables for Thundurus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/thundurus

Acquiring 49 Tables for Thundurus from Serebii
[█████████████████████████] 100.0% ...Collected

755    \nUpdated Body Type for all entries of Thundurus
756    \nUpdated Body Type for all entries of Thundurus
Name: NAME, dtype: object
Thundurus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Thundurus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Thundurus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
755,642,1,6421,5,Unovan,Thundurus,,,,Electric,...,,,79,115,70,125,80,111,,
756,642,2,6422,5,Unovan,Thundurus,,,,Electric,...,,,79,105,70,145,80,101,,

CURRENT INDICIES
[755, 756]
Returning Entries for: #642 - Thundurus
https://bulbapedia.bulbagarden.net/wiki/Thundurus_(Pok%C3%A9mon)

Acquiring 164 Images for Thundurus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Thundurus

Acquiring 23 Tables for Thundurus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/thundurus

Acquiring 49 Tables for Thundurus from Serebii
[█████████████████████████] 100.0% ...Collected

755    \nUpdated Body Type for all entries of Thundurus
756    \nUpdated Body Type for all entries of Thundurus
Name: NAME, dtype: object
Thundurus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Thundurus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Thundurus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
757,643,1,6431,5,Unovan,Reshiram,,,,Dragon,...,,,100,120,100,150,120,90,,

CURRENT INDICIES
[757]
Returning Entries for: #643 - Reshiram
https://bulbapedia.bulbagarden.net/wiki/Reshiram_(Pok%C3%A9mon)

Acquiring 125 Images for Reshiram from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Reshiram

Acquiring 18 Tables for Reshiram from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/reshiram

Acquiring 36 Tables for Reshiram from Serebii
[█████████████████████████] 100.0% ...Collected

757    \nUpdated Body Type for all entries of Reshiram
Name: NAME, dtype: object
Reshiram
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Reshiram
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Reshiram
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
758,644,1,6441,5,Unovan,Zekrom,,,,Dragon,...,,,100,150,120,120,100,90,,

CURRENT INDICIES
[758]
Returning Entries for: #644 - Zekrom
https://bulbapedia.bulbagarden.net/wiki/Zekrom_(Pok%C3%A9mon)

Acquiring 125 Images for Zekrom from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zekrom

Acquiring 18 Tables for Zekrom from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zekrom

Acquiring 36 Tables for Zekrom from Serebii
[█████████████████████████] 100.0% ...Collected

758    \nUpdated Body Type for all entries of Zekrom
Name: NAME, dtype: object
Zekrom
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zekrom
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zekrom
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
759,645,1,6451,5,Unovan,Landorus,,,,Ground,...,,,89,125,90,115,80,101,,
760,645,2,6452,5,Unovan,Landorus,,,,Ground,...,,,89,145,90,105,80,91,,

CURRENT INDICIES
[759, 760]
Returning Entries for: #645 - Landorus
https://bulbapedia.bulbagarden.net/wiki/Landorus_(Pok%C3%A9mon)

Acquiring 159 Images for Landorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Landorus

Acquiring 22 Tables for Landorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/landorus

Acquiring 48 Tables for Landorus from Serebii
[█████████████████████████] 100.0% ...Collected

759    \nUpdated Body Type for all entries of Landorus
760    \nUpdated Body Type for all entries of Landorus
Name: NAME, dtype: object
Landorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Landorus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Landorus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
759,645,1,6451,5,Unovan,Landorus,,,,Ground,...,,,89,125,90,115,80,101,,
760,645,2,6452,5,Unovan,Landorus,,,,Ground,...,,,89,145,90,105,80,91,,

CURRENT INDICIES
[759, 760]
Returning Entries for: #645 - Landorus
https://bulbapedia.bulbagarden.net/wiki/Landorus_(Pok%C3%A9mon)

Acquiring 159 Images for Landorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Landorus

Acquiring 22 Tables for Landorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/landorus

Acquiring 48 Tables for Landorus from Serebii
[█████████████████████████] 100.0% ...Collected

759    \nUpdated Body Type for all entries of Landorus
760    \nUpdated Body Type for all entries of Landorus
Name: NAME, dtype: object
Landorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Landorus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Landorus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
761,646,1,6461,5,Unovan,Kyurem,,,,Dragon,...,,,125,130,90,130,90,95,,
762,646,2,6462,5,Unovan,Kyurem,,,,Dragon,...,,,125,120,90,170,100,95,,
763,646,3,6463,5,Unovan,Kyurem,,,,Dragon,...,,,125,170,100,120,90,95,,

CURRENT INDICIES
[761, 762, 763]
Returning Entries for: #646 - Kyurem
https://bulbapedia.bulbagarden.net/wiki/Kyurem_(Pok%C3%A9mon)

Acquiring 223 Images for Kyurem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kyurem

Acquiring 36 Tables for Kyurem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kyurem

Acquiring 59 Tables for Kyurem from Serebii
[█████████████████████████] 100.0% ...Collected

761    \nUpdated Body Type for all entries of Kyurem
762    \nUpdated Body Type for all entries of Kyurem
763    \nUpdated Body Type for all entries of Kyurem
Name: NAME, dtype: object
Kyurem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kyurem
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kyurem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
761,646,1,6461,5,Unovan,Kyurem,,,,Dragon,...,,,125,130,90,130,90,95,,
762,646,2,6462,5,Unovan,Kyurem,,,,Dragon,...,,,125,120,90,170,100,95,,
763,646,3,6463,5,Unovan,Kyurem,,,,Dragon,...,,,125,170,100,120,90,95,,

CURRENT INDICIES
[761, 762, 763]
Returning Entries for: #646 - Kyurem
https://bulbapedia.bulbagarden.net/wiki/Kyurem_(Pok%C3%A9mon)

Acquiring 223 Images for Kyurem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kyurem

Acquiring 36 Tables for Kyurem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kyurem

Acquiring 59 Tables for Kyurem from Serebii
[█████████████████████████] 100.0% ...Collected

761    \nUpdated Body Type for all entries of Kyurem
762    \nUpdated Body Type for all entries of Kyurem
763    \nUpdated Body Type for all entries of Kyurem
Name: NAME, dtype: object
Kyurem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kyurem
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kyurem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
761,646,1,6461,5,Unovan,Kyurem,,,,Dragon,...,,,125,130,90,130,90,95,,
762,646,2,6462,5,Unovan,Kyurem,,,,Dragon,...,,,125,120,90,170,100,95,,
763,646,3,6463,5,Unovan,Kyurem,,,,Dragon,...,,,125,170,100,120,90,95,,

CURRENT INDICIES
[761, 762, 763]
Returning Entries for: #646 - Kyurem
https://bulbapedia.bulbagarden.net/wiki/Kyurem_(Pok%C3%A9mon)

Acquiring 223 Images for Kyurem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kyurem

Acquiring 36 Tables for Kyurem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kyurem

Acquiring 59 Tables for Kyurem from Serebii
[█████████████████████████] 100.0% ...Collected

761    \nUpdated Body Type for all entries of Kyurem
762    \nUpdated Body Type for all entries of Kyurem
763    \nUpdated Body Type for all entries of Kyurem
Name: NAME, dtype: object
Kyurem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kyurem
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kyurem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
764,647,1,6471,5,Unovan,Keldeo,,,,Water,...,,,91,72,90,129,90,108,,
765,647,2,6472,5,Unovan,Keldeo,,,,Water,...,,,91,72,90,129,90,108,,

CURRENT INDICIES
[764, 765]
Returning Entries for: #647 - Keldeo
https://bulbapedia.bulbagarden.net/wiki/Keldeo_(Pok%C3%A9mon)

Acquiring 163 Images for Keldeo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Keldeo

Acquiring 26 Tables for Keldeo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/keldeo

Acquiring 38 Tables for Keldeo from Serebii
[█████████████████████████] 100.0% ...Collected

764    \nUpdated Body Type for all entries of Keldeo
765    \nUpdated Body Type for all entries of Keldeo
Name: NAME, dtype: object
Keldeo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Keldeo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Keldeo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
764,647,1,6471,5,Unovan,Keldeo,,,,Water,...,,,91,72,90,129,90,108,,
765,647,2,6472,5,Unovan,Keldeo,,,,Water,...,,,91,72,90,129,90,108,,

CURRENT INDICIES
[764, 765]
Returning Entries for: #647 - Keldeo
https://bulbapedia.bulbagarden.net/wiki/Keldeo_(Pok%C3%A9mon)

Acquiring 163 Images for Keldeo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Keldeo

Acquiring 26 Tables for Keldeo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/keldeo

Acquiring 38 Tables for Keldeo from Serebii
[█████████████████████████] 100.0% ...Collected

764    \nUpdated Body Type for all entries of Keldeo
765    \nUpdated Body Type for all entries of Keldeo
Name: NAME, dtype: object
Keldeo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Keldeo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Keldeo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
766,648,1,6481,5,Unovan,Meloetta,,,,Normal,...,,,100,77,77,128,128,90,,
767,648,2,6482,5,Unovan,Meloetta,,,,Normal,...,,,100,128,90,77,77,128,,

CURRENT INDICIES
[766, 767]
Returning Entries for: #648 - Meloetta
https://bulbapedia.bulbagarden.net/wiki/Meloetta_(Pok%C3%A9mon)

Acquiring 115 Images for Meloetta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Meloetta

Acquiring 24 Tables for Meloetta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meloetta

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/648.shtml

Acquiring 38 Tables for Meloetta from Serebii
[█████████████████████████] 100.0% ...Collected

766    \nUpdated Body Type for all entries of Meloetta
767    \nUpdated Body Type for all entries of Meloetta
Name: NAME, dtype: object
Meloetta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meloetta
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meloetta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
766,648,1,6481,5,Unovan,Meloetta,,,,Normal,...,,,100,77,77,128,128,90,,
767,648,2,6482,5,Unovan,Meloetta,,,,Normal,...,,,100,128,90,77,77,128,,

CURRENT INDICIES
[766, 767]
Returning Entries for: #648 - Meloetta
https://bulbapedia.bulbagarden.net/wiki/Meloetta_(Pok%C3%A9mon)

Acquiring 115 Images for Meloetta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Meloetta

Acquiring 24 Tables for Meloetta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meloetta

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/648.shtml

Acquiring 38 Tables for Meloetta from Serebii
[█████████████████████████] 100.0% ...Collected

766    \nUpdated Body Type for all entries of Meloetta
767    \nUpdated Body Type for all entries of Meloetta
Name: NAME, dtype: object
Meloetta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meloetta
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meloetta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
768,649,1,6491,5,Unovan,Genesect,,,,Bug,...,,,71,120,95,120,95,99,,

CURRENT INDICIES
[768]
Returning Entries for: #649 - Genesect
https://bulbapedia.bulbagarden.net/wiki/Genesect_(Pok%C3%A9mon)

Acquiring 239 Images for Genesect from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Genesect

Acquiring 17 Tables for Genesect from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/genesect

Acquiring 51 Tables for Genesect from Serebii
[█████████████████████████] 100.0% ...Collected

768    \nUpdated Body Type for all entries of Genesect
Name: NAME, dtype: object
Genesect
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Genesect
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Genesect
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
769,650,1,6501,6,Kalosian,Chespin,,,,Grass,...,,,56,61,65,48,45,38,,

CURRENT INDICIES
[769]
Returning Entries for: #650 - Chespin
https://bulbapedia.bulbagarden.net/wiki/Chespin_(Pok%C3%A9mon)

Acquiring 100 Images for Chespin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Chespin

Acquiring 20 Tables for Chespin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/chespin

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/650.shtml

Acquiring 37 Tables for Chespin from Serebii
[█████████████████████████] 100.0% ...Collected

769    \nUpdated Body Type for all entries of Chespin
Name: NAME, dtype: object
Chespin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Chespin
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Chespin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
770,651,1,6511,6,Kalosian,Quilladin,,,,Grass,...,,,61,78,95,56,58,57,,

CURRENT INDICIES
[770]
Returning Entries for: #651 - Quilladin
https://bulbapedia.bulbagarden.net/wiki/Quilladin_(Pok%C3%A9mon)

Acquiring 56 Images for Quilladin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Quilladin

Acquiring 22 Tables for Quilladin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/quilladin

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/651.shtml

Acquiring 39 Tables for Quilladin from Serebii
[█████████████████████████] 100.0% ...Collected

770    \nUpdated Body Type for all entries of Quilladin
Name: NAME, dtype: object
Quilladin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Quilladin
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Quilladin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
771,652,1,6521,6,Kalosian,Chesnaught,,,,Grass,...,,,88,107,122,74,75,64,,

CURRENT INDICIES
[771]
Returning Entries for: #652 - Chesnaught
https://bulbapedia.bulbagarden.net/wiki/Chesnaught_(Pok%C3%A9mon)

Acquiring 56 Images for Chesnaught from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Chesnaught

Acquiring 24 Tables for Chesnaught from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/chesnaught

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/652.shtml

Acquiring 36 Tables for Chesnaught from Serebii
[█████████████████████████] 100.0% ...Collected

771    \nUpdated Body Type for all entries of Chesnaught
Name: NAME, dtype: object
Chesnaught
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Chesnaught
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Chesnaught
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
772,653,1,6531,6,Kalosian,Fennekin,,,,Fire,...,,,40,45,40,62,60,60,,

CURRENT INDICIES
[772]
Returning Entries for: #653 - Fennekin
https://bulbapedia.bulbagarden.net/wiki/Fennekin_(Pok%C3%A9mon)

Acquiring 103 Images for Fennekin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Fennekin

Acquiring 20 Tables for Fennekin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/fennekin

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/653.shtml

Acquiring 37 Tables for Fennekin from Serebii
[█████████████████████████] 100.0% ...Collected

772    \nUpdated Body Type for all entries of Fennekin
Name: NAME, dtype: object
Fennekin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Fennekin
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Fennekin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
773,654,1,6541,6,Kalosian,Braixen,,,,Fire,...,,,59,59,58,90,70,73,,

CURRENT INDICIES
[773]
Returning Entries for: #654 - Braixen
https://bulbapedia.bulbagarden.net/wiki/Braixen_(Pok%C3%A9mon)

Acquiring 57 Images for Braixen from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Braixen

Acquiring 20 Tables for Braixen from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/braixen

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/654.shtml

Acquiring 36 Tables for Braixen from Serebii
[█████████████████████████] 100.0% ...Collected

773    \nUpdated Body Type for all entries of Braixen
Name: NAME, dtype: object
Braixen
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Braixen
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Braixen
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
774,655,1,6551,6,Kalosian,Delphox,,,,Fire,...,,,75,69,72,114,100,104,,

CURRENT INDICIES
[774]
Returning Entries for: #655 - Delphox
https://bulbapedia.bulbagarden.net/wiki/Delphox_(Pok%C3%A9mon)

Acquiring 55 Images for Delphox from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Delphox

Acquiring 22 Tables for Delphox from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/delphox

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/655.shtml

Acquiring 36 Tables for Delphox from Serebii
[█████████████████████████] 100.0% ...Collected

774    \nUpdated Body Type for all entries of Delphox
Name: NAME, dtype: object
Delphox
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Delphox
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Delphox
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
775,656,1,6561,6,Kalosian,Froakie,,,,Water,...,,,41,56,40,62,44,71,,

CURRENT INDICIES
[775]
Returning Entries for: #656 - Froakie
https://bulbapedia.bulbagarden.net/wiki/Froakie_(Pok%C3%A9mon)

Acquiring 101 Images for Froakie from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Froakie

Acquiring 20 Tables for Froakie from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/froakie

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/656.shtml

Acquiring 37 Tables for Froakie from Serebii
[█████████████████████████] 100.0% ...Collected

775    \nUpdated Body Type for all entries of Froakie
Name: NAME, dtype: object
Froakie
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Froakie
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Froakie
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
776,657,1,6571,6,Kalosian,Frogadier,,,,Water,...,,,54,63,52,83,56,97,,

CURRENT INDICIES
[776]
Returning Entries for: #657 - Frogadier
https://bulbapedia.bulbagarden.net/wiki/Frogadier_(Pok%C3%A9mon)

Acquiring 56 Images for Frogadier from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Frogadier

Acquiring 20 Tables for Frogadier from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/frogadier

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/657.shtml

Acquiring 37 Tables for Frogadier from Serebii
[█████████████████████████] 100.0% ...Collected

776    \nUpdated Body Type for all entries of Frogadier
Name: NAME, dtype: object
Frogadier
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Frogadier
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Frogadier
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
777,658,1,6581,6,Kalosian,Greninja,,,,Water,...,,,72,95,67,103,71,122,,
778,658,2,6582,7,Alolan,Greninja,,,,Water,...,,,72,145,67,153,71,132,,

CURRENT INDICIES
[777, 778]
Returning Entries for: #658 - Greninja
https://bulbapedia.bulbagarden.net/wiki/Greninja_(Pok%C3%A9mon)

Acquiring 100 Images for Greninja from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Greninja

Acquiring 30 Tables for Greninja from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/greninja

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/658.shtml

Acquiring 46 Tables for Greninja from Serebii
[█████████████████████████] 100.0% ...Collected

777    \nUpdated Body Type for all entries of Greninja
778    \nUpdated Body Type for all entries of Greninja
Name: NAME, dtype: object
Greninja
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Greninja
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Greninja
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
777,658,1,6581,6,Kalosian,Greninja,,,,Water,...,,,72,95,67,103,71,122,,
778,658,2,6582,7,Alolan,Greninja,,,,Water,...,,,72,145,67,153,71,132,,

CURRENT INDICIES
[777, 778]
Returning Entries for: #658 - Greninja
https://bulbapedia.bulbagarden.net/wiki/Greninja_(Pok%C3%A9mon)

Acquiring 100 Images for Greninja from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Greninja

Acquiring 30 Tables for Greninja from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/greninja

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/658.shtml

Acquiring 46 Tables for Greninja from Serebii
[█████████████████████████] 100.0% ...Collected

777    \nUpdated Body Type for all entries of Greninja
778    \nUpdated Body Type for all entries of Greninja
Name: NAME, dtype: object
Greninja
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Greninja
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Greninja
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
779,659,1,6591,6,Kalosian,Bunnelby,,,,Normal,...,,,38,36,38,32,36,57,,

CURRENT INDICIES
[779]
Returning Entries for: #659 - Bunnelby
https://bulbapedia.bulbagarden.net/wiki/Bunnelby_(Pok%C3%A9mon)

Acquiring 119 Images for Bunnelby from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bunnelby

Acquiring 19 Tables for Bunnelby from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bunnelby

Acquiring 38 Tables for Bunnelby from Serebii
[█████████████████████████] 100.0% ...Collected

779    \nUpdated Body Type for all entries of Bunnelby
Name: NAME, dtype: object
Bunnelby
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bunnelby
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bunnelby
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
780,660,1,6601,6,Kalosian,Diggersby,,,,Normal,...,,,85,56,77,50,77,78,,

CURRENT INDICIES
[780]
Returning Entries for: #660 - Diggersby
https://bulbapedia.bulbagarden.net/wiki/Diggersby_(Pok%C3%A9mon)

Acquiring 135 Images for Diggersby from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Diggersby

Acquiring 20 Tables for Diggersby from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/diggersby

Acquiring 39 Tables for Diggersby from Serebii
[█████████████████████████] 100.0% ...Collected

780    \nUpdated Body Type for all entries of Diggersby
Name: NAME, dtype: object
Diggersby
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Diggersby
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Diggersby
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
781,661,1,6611,6,Kalosian,Fletchling,,,,Normal,...,,,45,50,43,40,38,62,,

CURRENT INDICIES
[781]
Returning Entries for: #661 - Fletchling
https://bulbapedia.bulbagarden.net/wiki/Fletchling_(Pok%C3%A9mon)

Acquiring 92 Images for Fletchling from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Fletchling

Acquiring 20 Tables for Fletchling from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/fletchling

Acquiring 39 Tables for Fletchling from Serebii
[█████████████████████████] 100.0% ...Collected

781    \nUpdated Body Type for all entries of Fletchling
Name: NAME, dtype: object
Fletchling
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Fletchling
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Fletchling
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
782,662,1,6621,6,Kalosian,Fletchinder,,,,Fire,...,,,62,73,55,56,52,84,,

CURRENT INDICIES
[782]
Returning Entries for: #662 - Fletchinder
https://bulbapedia.bulbagarden.net/wiki/Fletchinder_(Pok%C3%A9mon)

Acquiring 93 Images for Fletchinder from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Fletchinder

Acquiring 22 Tables for Fletchinder from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/fletchinder

Acquiring 39 Tables for Fletchinder from Serebii
[█████████████████████████] 100.0% ...Collected

782    \nUpdated Body Type for all entries of Fletchi...
Name: NAME, dtype: object
Fletchinder
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Fletchinder
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Fletchinder
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
783,663,1,6631,6,Kalosian,Talonflame,,,,Fire,...,,,78,81,71,74,69,126,,

CURRENT INDICIES
[783]
Returning Entries for: #663 - Talonflame
https://bulbapedia.bulbagarden.net/wiki/Talonflame_(Pok%C3%A9mon)

Acquiring 101 Images for Talonflame from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Talonflame

Acquiring 21 Tables for Talonflame from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/talonflame

Acquiring 39 Tables for Talonflame from Serebii
[█████████████████████████] 100.0% ...Collected

783    \nUpdated Body Type for all entries of Talonflame
Name: NAME, dtype: object
Talonflame
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Talonflame
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Talonflame
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
784,664,1,6641,6,Kalosian,Scatterbug,,,,Bug,...,,,38,35,40,27,25,35,,

CURRENT INDICIES
[784]
Returning Entries for: #664 - Scatterbug
https://bulbapedia.bulbagarden.net/wiki/Scatterbug_(Pok%C3%A9mon)

Acquiring 55 Images for Scatterbug from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Scatterbug

Acquiring 15 Tables for Scatterbug from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/scatterbug

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/664.shtml

Acquiring 33 Tables for Scatterbug from Serebii
[█████████████████████████] 100.0% ...Collected

784    \nUpdated Body Type for all entries of Scatterbug
Name: NAME, dtype: object
Scatterbug
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Scatterbug
Generation VII Level Up added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Scatterbug
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
785,665,1,6651,6,Kalosian,Spewpa,,,,Bug,...,,,45,22,60,27,30,29,,

CURRENT INDICIES
[785]
Returning Entries for: #665 - Spewpa
https://bulbapedia.bulbagarden.net/wiki/Spewpa_(Pok%C3%A9mon)

Acquiring 57 Images for Spewpa from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Spewpa

Acquiring 21 Tables for Spewpa from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/spewpa

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/665.shtml

Acquiring 39 Tables for Spewpa from Serebii
[█████████████████████████] 100.0% ...Collected

785    \nUpdated Body Type for all entries of Spewpa
Name: NAME, dtype: object
Spewpa
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Spewpa
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Spewpa
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
786,666,1,6661,6,Kalosian,Vivillon,,,,Bug,...,,,80,52,50,90,50,89,,

CURRENT INDICIES
[786]
Returning Entries for: #666 - Vivillon
https://bulbapedia.bulbagarden.net/wiki/Vivillon_(Pok%C3%A9mon)

Acquiring 96 Images for Vivillon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vivillon

Acquiring 23 Tables for Vivillon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vivillon

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/666.shtml

Acquiring 44 Tables for Vivillon from Serebii
[█████████████████████████] 100.0% ...Collected

786    \nUpdated Body Type for all entries of Vivillon
Name: NAME, dtype: object
Vivillon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vivillon
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vivillon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
787,667,1,6671,6,Kalosian,Litleo,,,,Fire,...,,,62,50,58,73,54,72,,

CURRENT INDICIES
[787]
Returning Entries for: #667 - Litleo
https://bulbapedia.bulbagarden.net/wiki/Litleo_(Pok%C3%A9mon)

Acquiring 56 Images for Litleo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Litleo

Acquiring 19 Tables for Litleo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/litleo

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/667.shtml

Acquiring 37 Tables for Litleo from Serebii
[█████████████████████████] 100.0% ...Collected

787    \nUpdated Body Type for all entries of Litleo
Name: NAME, dtype: object
Litleo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Litleo
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Litleo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
788,668,1,6681,6,Kalosian,Pyroar,,,,Fire,...,,,86,68,72,109,66,106,,

CURRENT INDICIES
[788]
Returning Entries for: #668 - Pyroar
https://bulbapedia.bulbagarden.net/wiki/Pyroar_(Pok%C3%A9mon)

Acquiring 84 Images for Pyroar from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pyroar

Acquiring 19 Tables for Pyroar from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pyroar

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/668.shtml

Acquiring 40 Tables for Pyroar from Serebii
[█████████████████████████] 100.0% ...Collected

788    \nUpdated Body Type for all entries of Pyroar
Name: NAME, dtype: object
Pyroar
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pyroar
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pyroar
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
789,669,1,6691,6,Kalosian,Flabebe,,,,Fairy,...,,,44,38,39,61,79,42,,

CURRENT INDICIES
[789]
Returning Entries for: #669 - Flabebe
https://bulbapedia.bulbagarden.net/wiki/Flabebe_(Pok%C3%A9mon)

Acquiring 181 Images for Flabebe from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Flabebe

Acquiring 19 Tables for Flabebe from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/flabebe

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/669.shtml

Acquiring 39 Tables for Flabebe from Serebii
[█████████████████████████] 100.0% ...Collected

789    \nUpdated Body Type for all entries of Flabebe
Name: NAME, dtype: object
Flabebe
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Flabebe
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Flabebe
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
790,670,1,6701,6,Kalosian,Floette,,,,Fairy,...,,,54,45,47,75,98,52,,

CURRENT INDICIES
[790]
Returning Entries for: #670 - Floette
https://bulbapedia.bulbagarden.net/wiki/Floette_(Pok%C3%A9mon)

Acquiring 196 Images for Floette from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Floette

Acquiring 20 Tables for Floette from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/floette

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/670.shtml

Acquiring 45 Tables for Floette from Serebii
[█████████████████████████] 100.0% ...Collected

790    \nUpdated Body Type for all entries of Floette
Name: NAME, dtype: object
Floette
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Floette
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Floette
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
791,671,1,6711,6,Kalosian,Florges,,,,Fairy,...,,,78,65,68,112,154,75,,

CURRENT INDICIES
[791]
Returning Entries for: #671 - Florges
https://bulbapedia.bulbagarden.net/wiki/Florges_(Pok%C3%A9mon)

Acquiring 165 Images for Florges from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Florges

Acquiring 21 Tables for Florges from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/florges

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/671.shtml

Acquiring 45 Tables for Florges from Serebii
[█████████████████████████] 100.0% ...Collected

791    \nUpdated Body Type for all entries of Florges
Name: NAME, dtype: object
Florges
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Florges
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Florges
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
792,672,1,6721,6,Kalosian,Skiddo,,,,Grass,...,,,66,65,48,62,57,52,,

CURRENT INDICIES
[792]
Returning Entries for: #672 - Skiddo
https://bulbapedia.bulbagarden.net/wiki/Skiddo_(Pok%C3%A9mon)

Acquiring 53 Images for Skiddo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Skiddo

Acquiring 21 Tables for Skiddo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/skiddo

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/672.shtml

Acquiring 36 Tables for Skiddo from Serebii
[█████████████████████████] 100.0% ...Collected

792    \nUpdated Body Type for all entries of Skiddo
Name: NAME, dtype: object
Skiddo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Skiddo
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Skiddo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
793,673,1,6731,6,Kalosian,Gogoat,,,,Grass,...,,,123,100,62,97,81,68,,

CURRENT INDICIES
[793]
Returning Entries for: #673 - Gogoat
https://bulbapedia.bulbagarden.net/wiki/Gogoat_(Pok%C3%A9mon)

Acquiring 56 Images for Gogoat from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gogoat

Acquiring 23 Tables for Gogoat from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gogoat

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/673.shtml

Acquiring 35 Tables for Gogoat from Serebii
[█████████████████████████] 100.0% ...Collected

793    \nUpdated Body Type for all entries of Gogoat
Name: NAME, dtype: object
Gogoat
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gogoat
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gogoat
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
794,674,1,6741,6,Kalosian,Pancham,,,,Fighting,...,,,67,82,62,46,48,43,,

CURRENT INDICIES
[794]
Returning Entries for: #674 - Pancham
https://bulbapedia.bulbagarden.net/wiki/Pancham_(Pok%C3%A9mon)

Acquiring 135 Images for Pancham from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pancham

Acquiring 20 Tables for Pancham from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pancham

Acquiring 39 Tables for Pancham from Serebii
[█████████████████████████] 100.0% ...Collected

794    \nUpdated Body Type for all entries of Pancham
Name: NAME, dtype: object
Pancham
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pancham
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pancham
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
795,675,1,6751,6,Kalosian,Pangoro,,,,Fighting,...,,,95,124,78,69,71,58,,

CURRENT INDICIES
[795]
Returning Entries for: #675 - Pangoro
https://bulbapedia.bulbagarden.net/wiki/Pangoro_(Pok%C3%A9mon)

Acquiring 149 Images for Pangoro from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pangoro

Acquiring 22 Tables for Pangoro from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pangoro

Acquiring 39 Tables for Pangoro from Serebii
[█████████████████████████] 100.0% ...Collected

795    \nUpdated Body Type for all entries of Pangoro
Name: NAME, dtype: object
Pangoro
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pangoro
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pangoro
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
796,676,1,6761,6,Kalosian,Furfrou,,,,Normal,...,,,75,80,60,65,90,102,,

CURRENT INDICIES
[796]
Returning Entries for: #676 - Furfrou
https://bulbapedia.bulbagarden.net/wiki/Furfrou_(Pok%C3%A9mon)

Acquiring 151 Images for Furfrou from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Furfrou

Acquiring 19 Tables for Furfrou from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/furfrou

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/676.shtml

Acquiring 40 Tables for Furfrou from Serebii
[█████████████████████████] 100.0% ...Collected

796    \nUpdated Body Type for all entries of Furfrou
Name: NAME, dtype: object
Furfrou
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Furfrou
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Furfrou
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
797,677,1,6771,6,Kalosian,Espurr,,,,Psychic,...,,,62,48,54,63,60,68,,

CURRENT INDICIES
[797]
Returning Entries for: #677 - Espurr
https://bulbapedia.bulbagarden.net/wiki/Espurr_(Pok%C3%A9mon)

Acquiring 106 Images for Espurr from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Espurr

Acquiring 20 Tables for Espurr from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/espurr

Acquiring 39 Tables for Espurr from Serebii
[█████████████████████████] 100.0% ...Collected

797    \nUpdated Body Type for all entries of Espurr
Name: NAME, dtype: object
Espurr
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Espurr
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Espurr
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
798,678,1,6781,6,Kalosian,Meowstic M,,,,Psychic,...,,,74,48,76,83,81,104,,
799,678,2,6782,6,Kalosian,Meowstic F,,,,Psychic,...,,,74,48,76,83,81,104,,

CURRENT INDICIES
[798, 799]
Returning Entries for: #678 - Meowstic M/F
https://bulbapedia.bulbagarden.net/wiki/Meowstic_(Pok%C3%A9mon)

Acquiring 187 Images for Meowstic from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/meowstic

Acquiring 32 Tables for meowstic from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meowstic

Acquiring 102 Tables for meowstic from Serebii
[█████████████████████████] 100.0% ...Collected

798    \nUpdated Body Type for all entries of Meowstic M
799    \nUpdated Body Type for all entries of Meowstic F
Name: NAME, dtype: object
Meowstic M
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meowstic M/F
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meowstic M
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
798,678,1,6781,6,Kalosian,Meowstic M,,,,Psychic,...,,,74,48,76,83,81,104,,
799,678,2,6782,6,Kalosian,Meowstic F,,,,Psychic,...,,,74,48,76,83,81,104,,

CURRENT INDICIES
[798, 799]
Returning Entries for: #678 - Meowstic M/F
https://bulbapedia.bulbagarden.net/wiki/Meowstic_(Pok%C3%A9mon)

Acquiring 187 Images for Meowstic from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/meowstic

Acquiring 32 Tables for meowstic from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meowstic

Acquiring 102 Tables for meowstic from Serebii
[█████████████████████████] 100.0% ...Collected

798    \nUpdated Body Type for all entries of Meowstic M
799    \nUpdated Body Type for all entries of Meowstic F
Name: NAME, dtype: object
Meowstic M
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meowstic M/F
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meowstic M
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
800,679,1,6791,6,Kalosian,Honedge,,,,Steel,...,,,45,80,100,35,37,28,,

CURRENT INDICIES
[800]
Returning Entries for: #679 - Honedge
https://bulbapedia.bulbagarden.net/wiki/Honedge_(Pok%C3%A9mon)

Acquiring 94 Images for Honedge from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Honedge

Acquiring 19 Tables for Honedge from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/honedge

Acquiring 39 Tables for Honedge from Serebii
[█████████████████████████] 100.0% ...Collected

800    \nUpdated Body Type for all entries of Honedge
Name: NAME, dtype: object
Honedge
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Honedge
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Honedge
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
801,680,1,6801,6,Kalosian,Doublade,,,,Steel,...,,,59,110,150,45,49,35,,

CURRENT INDICIES
[801]
Returning Entries for: #680 - Doublade
https://bulbapedia.bulbagarden.net/wiki/Doublade_(Pok%C3%A9mon)

Acquiring 92 Images for Doublade from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Doublade

Acquiring 19 Tables for Doublade from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/doublade

Acquiring 39 Tables for Doublade from Serebii
[█████████████████████████] 100.0% ...Collected

801    \nUpdated Body Type for all entries of Doublade
Name: NAME, dtype: object
Doublade
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Doublade
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Doublade
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
802,681,1,6811,6,Kalosian,Aegislash,,,,Steel,...,,,60,50,150,50,150,60,,
803,681,2,6812,6,Kalosian,Aegislash,,,,Steel,...,,,60,150,50,150,50,60,,

CURRENT INDICIES
[802, 803]
Returning Entries for: #681 - Aegislash
https://bulbapedia.bulbagarden.net/wiki/Aegislash_(Pok%C3%A9mon)

Acquiring 139 Images for Aegislash from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Aegislash

Acquiring 29 Tables for Aegislash from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/aegislash

Acquiring 43 Tables for Aegislash from Serebii
[█████████████████████████] 100.0% ...Collected

802    \nUpdated Body Type for all entries of Aegislash
803    \nUpdated Body Type for all entries of Aegislash
Name: NAME, dtype: object
Aegislash
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Aegislash
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Aegislash
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
802,681,1,6811,6,Kalosian,Aegislash,,,,Steel,...,,,60,50,150,50,150,60,,
803,681,2,6812,6,Kalosian,Aegislash,,,,Steel,...,,,60,150,50,150,50,60,,

CURRENT INDICIES
[802, 803]
Returning Entries for: #681 - Aegislash
https://bulbapedia.bulbagarden.net/wiki/Aegislash_(Pok%C3%A9mon)

Acquiring 139 Images for Aegislash from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Aegislash

Acquiring 29 Tables for Aegislash from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/aegislash

Acquiring 43 Tables for Aegislash from Serebii
[█████████████████████████] 100.0% ...Collected

802    \nUpdated Body Type for all entries of Aegislash
803    \nUpdated Body Type for all entries of Aegislash
Name: NAME, dtype: object
Aegislash
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Aegislash
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Aegislash
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
804,682,1,6821,6,Kalosian,Spritzee,,,,Fairy,...,,,78,52,60,63,65,23,,

CURRENT INDICIES
[804]
Returning Entries for: #682 - Spritzee
https://bulbapedia.bulbagarden.net/wiki/Spritzee_(Pok%C3%A9mon)

Acquiring 101 Images for Spritzee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Spritzee

Acquiring 20 Tables for Spritzee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/spritzee

Acquiring 39 Tables for Spritzee from Serebii
[█████████████████████████] 100.0% ...Collected

804    \nUpdated Body Type for all entries of Spritzee
Name: NAME, dtype: object
Spritzee
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Spritzee
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Spritzee
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
805,683,1,6831,6,Kalosian,Aromatisse,,,,Fairy,...,,,101,72,72,99,89,29,,

CURRENT INDICIES
[805]
Returning Entries for: #683 - Aromatisse
https://bulbapedia.bulbagarden.net/wiki/Aromatisse_(Pok%C3%A9mon)

Acquiring 104 Images for Aromatisse from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Aromatisse

Acquiring 20 Tables for Aromatisse from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/aromatisse

Acquiring 39 Tables for Aromatisse from Serebii
[█████████████████████████] 100.0% ...Collected

805    \nUpdated Body Type for all entries of Aromatisse
Name: NAME, dtype: object
Aromatisse
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Aromatisse
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Aromatisse
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
806,684,1,6841,6,Kalosian,Swirlix,,,,Fairy,...,,,62,48,66,59,57,49,,

CURRENT INDICIES
[806]
Returning Entries for: #684 - Swirlix
https://bulbapedia.bulbagarden.net/wiki/Swirlix_(Pok%C3%A9mon)

Acquiring 105 Images for Swirlix from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Swirlix

Acquiring 20 Tables for Swirlix from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/swirlix

Acquiring 39 Tables for Swirlix from Serebii
[█████████████████████████] 100.0% ...Collected

806    \nUpdated Body Type for all entries of Swirlix
Name: NAME, dtype: object
Swirlix
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Swirlix
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Swirlix
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
807,685,1,6851,6,Kalosian,Slurpuff,,,,Fairy,...,,,82,80,86,85,75,72,,

CURRENT INDICIES
[807]
Returning Entries for: #685 - Slurpuff
https://bulbapedia.bulbagarden.net/wiki/Slurpuff_(Pok%C3%A9mon)

Acquiring 105 Images for Slurpuff from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Slurpuff

Acquiring 20 Tables for Slurpuff from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/slurpuff

Acquiring 39 Tables for Slurpuff from Serebii
[█████████████████████████] 100.0% ...Collected

807    \nUpdated Body Type for all entries of Slurpuff
Name: NAME, dtype: object
Slurpuff
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Slurpuff
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Slurpuff
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
808,686,1,6861,6,Kalosian,Inkay,,,,Dark,...,,,53,54,53,37,46,45,,

CURRENT INDICIES
[808]
Returning Entries for: #686 - Inkay
https://bulbapedia.bulbagarden.net/wiki/Inkay_(Pok%C3%A9mon)

Acquiring 108 Images for Inkay from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Inkay

Acquiring 20 Tables for Inkay from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/inkay

Acquiring 39 Tables for Inkay from Serebii
[█████████████████████████] 100.0% ...Collected

808    \nUpdated Body Type for all entries of Inkay
Name: NAME, dtype: object
Inkay
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Inkay
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Inkay
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
809,687,1,6871,6,Kalosian,Malamar,,,,Dark,...,,,86,92,88,68,75,73,,

CURRENT INDICIES
[809]
Returning Entries for: #687 - Malamar
https://bulbapedia.bulbagarden.net/wiki/Malamar_(Pok%C3%A9mon)

Acquiring 112 Images for Malamar from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Malamar

Acquiring 20 Tables for Malamar from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/malamar

Acquiring 39 Tables for Malamar from Serebii
[█████████████████████████] 100.0% ...Collected

809    \nUpdated Body Type for all entries of Malamar
Name: NAME, dtype: object
Malamar
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Malamar
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Malamar
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
810,688,1,6881,6,Kalosian,Binacle,,,,Rock,...,,,42,52,67,39,56,50,,

CURRENT INDICIES
[810]
Returning Entries for: #688 - Binacle
https://bulbapedia.bulbagarden.net/wiki/Binacle_(Pok%C3%A9mon)

Acquiring 116 Images for Binacle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Binacle

Acquiring 19 Tables for Binacle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/binacle

Acquiring 38 Tables for Binacle from Serebii
[█████████████████████████] 100.0% ...Collected

810    \nUpdated Body Type for all entries of Binacle
Name: NAME, dtype: object
Binacle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Binacle
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Binacle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
811,689,1,6891,6,Kalosian,Barbaracle,,,,Rock,...,,,72,105,115,54,86,68,,

CURRENT INDICIES
[811]
Returning Entries for: #689 - Barbaracle
https://bulbapedia.bulbagarden.net/wiki/Barbaracle_(Pok%C3%A9mon)

Acquiring 126 Images for Barbaracle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Barbaracle

Acquiring 20 Tables for Barbaracle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/barbaracle

Acquiring 39 Tables for Barbaracle from Serebii
[█████████████████████████] 100.0% ...Collected

811    \nUpdated Body Type for all entries of Barbaracle
Name: NAME, dtype: object
Barbaracle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Barbaracle
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Barbaracle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
812,690,1,6901,6,Kalosian,Skrelp,,,,Poison,...,,,50,60,60,60,60,30,,

CURRENT INDICIES
[812]
Returning Entries for: #690 - Skrelp
https://bulbapedia.bulbagarden.net/wiki/Skrelp_(Pok%C3%A9mon)

Acquiring 112 Images for Skrelp from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Skrelp

Acquiring 20 Tables for Skrelp from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/skrelp

Acquiring 39 Tables for Skrelp from Serebii
[█████████████████████████] 100.0% ...Collected

812    \nUpdated Body Type for all entries of Skrelp
Name: NAME, dtype: object
Skrelp
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Skrelp
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Skrelp
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
813,691,1,6911,6,Kalosian,Dragalge,,,,Poison,...,,,65,75,90,97,123,44,,

CURRENT INDICIES
[813]
Returning Entries for: #691 - Dragalge
https://bulbapedia.bulbagarden.net/wiki/Dragalge_(Pok%C3%A9mon)

Acquiring 115 Images for Dragalge from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dragalge

Acquiring 21 Tables for Dragalge from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dragalge

Acquiring 40 Tables for Dragalge from Serebii
[█████████████████████████] 100.0% ...Collected

813    \nUpdated Body Type for all entries of Dragalge
Name: NAME, dtype: object
Dragalge
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dragalge
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dragalge
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
814,692,1,6921,6,Kalosian,Clauncher,,,,Water,...,,,50,53,62,58,63,44,,

CURRENT INDICIES
[814]
Returning Entries for: #692 - Clauncher
https://bulbapedia.bulbagarden.net/wiki/Clauncher_(Pok%C3%A9mon)

Acquiring 133 Images for Clauncher from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Clauncher

Acquiring 20 Tables for Clauncher from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/clauncher

Acquiring 39 Tables for Clauncher from Serebii
[█████████████████████████] 100.0% ...Collected

814    \nUpdated Body Type for all entries of Clauncher
Name: NAME, dtype: object
Clauncher
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Clauncher
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Clauncher
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
815,693,1,6931,6,Kalosian,Clawitzer,,,,Water,...,,,71,73,88,120,89,59,,

CURRENT INDICIES
[815]
Returning Entries for: #693 - Clawitzer
https://bulbapedia.bulbagarden.net/wiki/Clawitzer_(Pok%C3%A9mon)

Acquiring 140 Images for Clawitzer from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Clawitzer

Acquiring 21 Tables for Clawitzer from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/clawitzer

Acquiring 39 Tables for Clawitzer from Serebii
[█████████████████████████] 100.0% ...Collected

815    \nUpdated Body Type for all entries of Clawitzer
Name: NAME, dtype: object
Clawitzer
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Clawitzer
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Clawitzer
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
816,694,1,6941,6,Kalosian,Helioptile,,,,Electric,...,,,44,38,33,61,43,70,,

CURRENT INDICIES
[816]
Returning Entries for: #694 - Helioptile
https://bulbapedia.bulbagarden.net/wiki/Helioptile_(Pok%C3%A9mon)

Acquiring 121 Images for Helioptile from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Helioptile

Acquiring 24 Tables for Helioptile from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/helioptile

Acquiring 39 Tables for Helioptile from Serebii
[█████████████████████████] 100.0% ...Collected

816    \nUpdated Body Type for all entries of Helioptile
Name: NAME, dtype: object
Helioptile
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Helioptile
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Helioptile
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
817,695,1,6951,6,Kalosian,Heliolisk,,,,Electric,...,,,62,55,52,109,94,109,,

CURRENT INDICIES
[817]
Returning Entries for: #695 - Heliolisk
https://bulbapedia.bulbagarden.net/wiki/Heliolisk_(Pok%C3%A9mon)

Acquiring 137 Images for Heliolisk from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Heliolisk

Acquiring 25 Tables for Heliolisk from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/heliolisk

Acquiring 39 Tables for Heliolisk from Serebii
[█████████████████████████] 100.0% ...Collected

817    \nUpdated Body Type for all entries of Heliolisk
Name: NAME, dtype: object
Heliolisk
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Heliolisk
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Heliolisk
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
818,696,1,6961,6,Kalosian,Tyrunt,,,,Rock,...,,,58,89,77,45,45,48,,

CURRENT INDICIES
[818]
Returning Entries for: #696 - Tyrunt
https://bulbapedia.bulbagarden.net/wiki/Tyrunt_(Pok%C3%A9mon)

Acquiring 117 Images for Tyrunt from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tyrunt

Acquiring 20 Tables for Tyrunt from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tyrunt

Acquiring 40 Tables for Tyrunt from Serebii
[█████████████████████████] 100.0% ...Collected

818    \nUpdated Body Type for all entries of Tyrunt
Name: NAME, dtype: object
Tyrunt
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tyrunt
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tyrunt
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
819,697,1,6971,6,Kalosian,Tyrantrum,,,,Rock,...,,,82,121,119,69,59,71,,

CURRENT INDICIES
[819]
Returning Entries for: #697 - Tyrantrum
https://bulbapedia.bulbagarden.net/wiki/Tyrantrum_(Pok%C3%A9mon)

Acquiring 123 Images for Tyrantrum from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tyrantrum

Acquiring 20 Tables for Tyrantrum from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tyrantrum

Acquiring 40 Tables for Tyrantrum from Serebii
[█████████████████████████] 100.0% ...Collected

819    \nUpdated Body Type for all entries of Tyrantrum
Name: NAME, dtype: object
Tyrantrum
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tyrantrum
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tyrantrum
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
820,698,1,6981,6,Kalosian,Amaura,,,,Rock,...,,,77,59,50,67,63,46,,

CURRENT INDICIES
[820]
Returning Entries for: #698 - Amaura
https://bulbapedia.bulbagarden.net/wiki/Amaura_(Pok%C3%A9mon)

Acquiring 130 Images for Amaura from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Amaura

Acquiring 20 Tables for Amaura from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/amaura

Acquiring 39 Tables for Amaura from Serebii
[█████████████████████████] 100.0% ...Collected

820    \nUpdated Body Type for all entries of Amaura
Name: NAME, dtype: object
Amaura
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Amaura
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Amaura
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
821,699,1,6991,6,Kalosian,Aurorus,,,,Rock,...,,,123,77,72,99,92,58,,

CURRENT INDICIES
[821]
Returning Entries for: #699 - Aurorus
https://bulbapedia.bulbagarden.net/wiki/Aurorus_(Pok%C3%A9mon)

Acquiring 137 Images for Aurorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Aurorus

Acquiring 20 Tables for Aurorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/aurorus

Acquiring 39 Tables for Aurorus from Serebii
[█████████████████████████] 100.0% ...Collected

821    \nUpdated Body Type for all entries of Aurorus
Name: NAME, dtype: object
Aurorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Aurorus
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Aurorus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
822,700,1,7001,6,Kalosian,Sylveon,,,,Fairy,...,,,95,65,65,110,130,60,,

CURRENT INDICIES
[822]
Returning Entries for: #700 - Sylveon
https://bulbapedia.bulbagarden.net/wiki/Sylveon_(Pok%C3%A9mon)

Acquiring 173 Images for Sylveon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sylveon

Acquiring 18 Tables for Sylveon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sylveon

Acquiring 53 Tables for Sylveon from Serebii
[█████████████████████████] 100.0% ...Collected

822    \nUpdated Body Type for all entries of Sylveon
Name: NAME, dtype: object
Sylveon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sylveon
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sylveon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
823,701,1,7011,6,Kalosian,Hawlucha,,,,Fighting,...,,,78,92,75,74,63,118,,

CURRENT INDICIES
[823]
Returning Entries for: #701 - Hawlucha
https://bulbapedia.bulbagarden.net/wiki/Hawlucha_(Pok%C3%A9mon)

Acquiring 156 Images for Hawlucha from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hawlucha

Acquiring 20 Tables for Hawlucha from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hawlucha

Acquiring 39 Tables for Hawlucha from Serebii
[█████████████████████████] 100.0% ...Collected

823    \nUpdated Body Type for all entries of Hawlucha
Name: NAME, dtype: object
Hawlucha
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hawlucha
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hawlucha
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
824,702,1,7021,6,Kalosian,Dedenne,,,,Electric,...,,,67,58,57,81,67,101,,

CURRENT INDICIES
[824]
Returning Entries for: #702 - Dedenne
https://bulbapedia.bulbagarden.net/wiki/Dedenne_(Pok%C3%A9mon)

Acquiring 110 Images for Dedenne from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dedenne

Acquiring 20 Tables for Dedenne from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dedenne

Acquiring 39 Tables for Dedenne from Serebii
[█████████████████████████] 100.0% ...Collected

824    \nUpdated Body Type for all entries of Dedenne
Name: NAME, dtype: object
Dedenne
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dedenne
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dedenne
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
825,703,1,7031,6,Kalosian,Carbink,,,,Rock,...,,,50,50,150,50,150,50,,

CURRENT INDICIES
[825]
Returning Entries for: #703 - Carbink
https://bulbapedia.bulbagarden.net/wiki/Carbink_(Pok%C3%A9mon)

Acquiring 90 Images for Carbink from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Carbink

Acquiring 18 Tables for Carbink from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/carbink

Acquiring 36 Tables for Carbink from Serebii
[█████████████████████████] 100.0% ...Collected

825    \nUpdated Body Type for all entries of Carbink
Name: NAME, dtype: object
Carbink
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Carbink
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Carbink
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
826,704,1,7041,6,Kalosian,Goomy,,,,Dragon,...,,,45,50,35,55,75,40,,

CURRENT INDICIES
[826]
Returning Entries for: #704 - Goomy
https://bulbapedia.bulbagarden.net/wiki/Goomy_(Pok%C3%A9mon)

Acquiring 96 Images for Goomy from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Goomy

Acquiring 21 Tables for Goomy from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/goomy

Acquiring 51 Tables for Goomy from Serebii
[█████████████████████████] 100.0% ...Collected

826    \nUpdated Body Type for all entries of Goomy
Name: NAME, dtype: object
Goomy
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Goomy
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Goomy
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
827,705,1,7051,6,Kalosian,Sliggoo,,,,Dragon,...,,,68,75,53,83,113,60,,

CURRENT INDICIES
[827]
Returning Entries for: #705 - Sliggoo
https://bulbapedia.bulbagarden.net/wiki/Sliggoo_(Pok%C3%A9mon)

Acquiring 100 Images for Sliggoo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sliggoo

Acquiring 33 Tables for Sliggoo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sliggoo

Acquiring 56 Tables for Sliggoo from Serebii
[█████████████████████████] 100.0% ...Collected

827    \nUpdated Body Type for all entries of Sliggoo
Name: NAME, dtype: object
Sliggoo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sliggoo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sliggoo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
828,706,1,7061,6,Kalosian,Goodra,,,,Dragon,...,,,90,100,70,110,150,80,,

CURRENT INDICIES
[828]
Returning Entries for: #706 - Goodra
https://bulbapedia.bulbagarden.net/wiki/Goodra_(Pok%C3%A9mon)

Acquiring 119 Images for Goodra from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Goodra

Acquiring 33 Tables for Goodra from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/goodra

Acquiring 56 Tables for Goodra from Serebii
[█████████████████████████] 100.0% ...Collected

828    \nUpdated Body Type for all entries of Goodra
Name: NAME, dtype: object
Goodra
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Goodra
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Goodra
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
829,707,1,7071,6,Kalosian,Klefki,,,,Steel,...,,,57,80,91,80,87,75,,

CURRENT INDICIES
[829]
Returning Entries for: #707 - Klefki
https://bulbapedia.bulbagarden.net/wiki/Klefki_(Pok%C3%A9mon)

Acquiring 86 Images for Klefki from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Klefki

Acquiring 19 Tables for Klefki from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/klefki

Acquiring 39 Tables for Klefki from Serebii
[█████████████████████████] 100.0% ...Collected

829    \nUpdated Body Type for all entries of Klefki
Name: NAME, dtype: object
Klefki
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Klefki
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Klefki
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
830,708,1,7081,6,Kalosian,Phantump,,,,Ghost,...,,,43,70,48,50,60,38,,

CURRENT INDICIES
[830]
Returning Entries for: #708 - Phantump
https://bulbapedia.bulbagarden.net/wiki/Phantump_(Pok%C3%A9mon)

Acquiring 115 Images for Phantump from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Phantump

Acquiring 20 Tables for Phantump from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/phantump

Acquiring 39 Tables for Phantump from Serebii
[█████████████████████████] 100.0% ...Collected

830    \nUpdated Body Type for all entries of Phantump
Name: NAME, dtype: object
Phantump
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Phantump
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Phantump
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
831,709,1,7091,6,Kalosian,Trevenant,,,,Ghost,...,,,85,110,76,65,82,56,,

CURRENT INDICIES
[831]
Returning Entries for: #709 - Trevenant
https://bulbapedia.bulbagarden.net/wiki/Trevenant_(Pok%C3%A9mon)

Acquiring 123 Images for Trevenant from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Trevenant

Acquiring 22 Tables for Trevenant from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/trevenant

Acquiring 39 Tables for Trevenant from Serebii
[█████████████████████████] 100.0% ...Collected

831    \nUpdated Body Type for all entries of Trevenant
Name: NAME, dtype: object
Trevenant
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Trevenant
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Trevenant
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
832,710,1,7101,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,49,66,70,44,55,51,,
833,710,2,7102,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,44,66,70,44,55,56,,
834,710,3,7103,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,54,66,70,44,55,46,,
835,710,4,7104,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,59,66,70,44,55,41,,

CURRENT INDICIES
[832, 833, 834, 835]
Returning Entries for: #710 - Pumpkaboo
https://bulbapedia.bulbagarden.net/wiki/Pumpkaboo_(Pok%C3%A9mon)

Acquiring 248 Images for Pumpkaboo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pumpkaboo

Acquiring 42 Tables for Pumpkaboo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pumpkaboo

Acquiring 45 Tables for Pumpkaboo from Serebii
[█████████████████████████] 100.0% ...Collected

832    \nUpdated Body Type for all entries of Pumpkaboo
833    \nUpdated Body Type for all entries of Pumpkaboo
834    \nUpdated Body Type for all entries of Pumpkaboo
835    \nUpdated Body Type for all entries of Pumpkaboo
Name: NAME, dtype: object
Pumpkaboo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pumpkaboo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pumpkaboo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
832,710,1,7101,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,49,66,70,44,55,51,,
833,710,2,7102,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,44,66,70,44,55,56,,
834,710,3,7103,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,54,66,70,44,55,46,,
835,710,4,7104,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,59,66,70,44,55,41,,

CURRENT INDICIES
[832, 833, 834, 835]
Returning Entries for: #710 - Pumpkaboo
https://bulbapedia.bulbagarden.net/wiki/Pumpkaboo_(Pok%C3%A9mon)

Acquiring 248 Images for Pumpkaboo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pumpkaboo

Acquiring 42 Tables for Pumpkaboo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pumpkaboo

Acquiring 45 Tables for Pumpkaboo from Serebii
[█████████████████████████] 100.0% ...Collected

832    \nUpdated Body Type for all entries of Pumpkaboo
833    \nUpdated Body Type for all entries of Pumpkaboo
834    \nUpdated Body Type for all entries of Pumpkaboo
835    \nUpdated Body Type for all entries of Pumpkaboo
Name: NAME, dtype: object
Pumpkaboo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pumpkaboo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pumpkaboo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
832,710,1,7101,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,49,66,70,44,55,51,,
833,710,2,7102,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,44,66,70,44,55,56,,
834,710,3,7103,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,54,66,70,44,55,46,,
835,710,4,7104,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,59,66,70,44,55,41,,

CURRENT INDICIES
[832, 833, 834, 835]
Returning Entries for: #710 - Pumpkaboo
https://bulbapedia.bulbagarden.net/wiki/Pumpkaboo_(Pok%C3%A9mon)

Acquiring 248 Images for Pumpkaboo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pumpkaboo

Acquiring 42 Tables for Pumpkaboo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pumpkaboo

Acquiring 45 Tables for Pumpkaboo from Serebii
[█████████████████████████] 100.0% ...Collected

832    \nUpdated Body Type for all entries of Pumpkaboo
833    \nUpdated Body Type for all entries of Pumpkaboo
834    \nUpdated Body Type for all entries of Pumpkaboo
835    \nUpdated Body Type for all entries of Pumpkaboo
Name: NAME, dtype: object
Pumpkaboo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pumpkaboo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pumpkaboo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
832,710,1,7101,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,49,66,70,44,55,51,,
833,710,2,7102,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,44,66,70,44,55,56,,
834,710,3,7103,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,54,66,70,44,55,46,,
835,710,4,7104,6,Kalosian,Pumpkaboo,,,,Ghost,...,,,59,66,70,44,55,41,,

CURRENT INDICIES
[832, 833, 834, 835]
Returning Entries for: #710 - Pumpkaboo
https://bulbapedia.bulbagarden.net/wiki/Pumpkaboo_(Pok%C3%A9mon)

Acquiring 248 Images for Pumpkaboo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pumpkaboo

Acquiring 42 Tables for Pumpkaboo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pumpkaboo

Acquiring 45 Tables for Pumpkaboo from Serebii
[█████████████████████████] 100.0% ...Collected

832    \nUpdated Body Type for all entries of Pumpkaboo
833    \nUpdated Body Type for all entries of Pumpkaboo
834    \nUpdated Body Type for all entries of Pumpkaboo
835    \nUpdated Body Type for all entries of Pumpkaboo
Name: NAME, dtype: object
Pumpkaboo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pumpkaboo
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pumpkaboo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
836,711,1,7111,6,Kalosian,Gourgeist,,,,Ghost,...,,,65,90,122,58,75,84,,
837,711,2,7112,6,Kalosian,Gourgeist,,,,Ghost,...,,,55,85,122,58,75,99,,
838,711,3,7113,6,Kalosian,Gourgeist,,,,Ghost,...,,,75,95,122,58,75,69,,
839,711,4,7114,6,Kalosian,Gourgeist,,,,Ghost,...,,,85,100,122,58,75,54,,

CURRENT INDICIES
[836, 837, 838, 839]
Returning Entries for: #711 - Gourgeist
https://bulbapedia.bulbagarden.net/wiki/Gourgeist_(Pok%C3%A9mon)

Acquiring 247 Images for Gourgeist from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gourgeist

Acquiring 42 Tables for Gourgeist from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gourgeist

Acquiring 45 Tables for Gourgeist from Serebii
[█████████████████████████] 100.0% ...Collected

836    \nUpdated Body Type for all entries of Gourgeist
837    \nUpdated Body Type for all entries of Gourgeist
838    \nUpdated Body Type for all entries of Gourgeist
839    \nUpdated Body Type for all entries of Gourgeist
Name: NAME, dtype: object
Gourgeist
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gourgeist
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gourgeist
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
836,711,1,7111,6,Kalosian,Gourgeist,,,,Ghost,...,,,65,90,122,58,75,84,,
837,711,2,7112,6,Kalosian,Gourgeist,,,,Ghost,...,,,55,85,122,58,75,99,,
838,711,3,7113,6,Kalosian,Gourgeist,,,,Ghost,...,,,75,95,122,58,75,69,,
839,711,4,7114,6,Kalosian,Gourgeist,,,,Ghost,...,,,85,100,122,58,75,54,,

CURRENT INDICIES
[836, 837, 838, 839]
Returning Entries for: #711 - Gourgeist
https://bulbapedia.bulbagarden.net/wiki/Gourgeist_(Pok%C3%A9mon)

Acquiring 247 Images for Gourgeist from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gourgeist

Acquiring 42 Tables for Gourgeist from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gourgeist

Acquiring 45 Tables for Gourgeist from Serebii
[█████████████████████████] 100.0% ...Collected

836    \nUpdated Body Type for all entries of Gourgeist
837    \nUpdated Body Type for all entries of Gourgeist
838    \nUpdated Body Type for all entries of Gourgeist
839    \nUpdated Body Type for all entries of Gourgeist
Name: NAME, dtype: object
Gourgeist
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gourgeist
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gourgeist
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
836,711,1,7111,6,Kalosian,Gourgeist,,,,Ghost,...,,,65,90,122,58,75,84,,
837,711,2,7112,6,Kalosian,Gourgeist,,,,Ghost,...,,,55,85,122,58,75,99,,
838,711,3,7113,6,Kalosian,Gourgeist,,,,Ghost,...,,,75,95,122,58,75,69,,
839,711,4,7114,6,Kalosian,Gourgeist,,,,Ghost,...,,,85,100,122,58,75,54,,

CURRENT INDICIES
[836, 837, 838, 839]
Returning Entries for: #711 - Gourgeist
https://bulbapedia.bulbagarden.net/wiki/Gourgeist_(Pok%C3%A9mon)

Acquiring 247 Images for Gourgeist from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gourgeist

Acquiring 42 Tables for Gourgeist from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gourgeist

Acquiring 45 Tables for Gourgeist from Serebii
[█████████████████████████] 100.0% ...Collected

836    \nUpdated Body Type for all entries of Gourgeist
837    \nUpdated Body Type for all entries of Gourgeist
838    \nUpdated Body Type for all entries of Gourgeist
839    \nUpdated Body Type for all entries of Gourgeist
Name: NAME, dtype: object
Gourgeist
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gourgeist
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gourgeist
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
836,711,1,7111,6,Kalosian,Gourgeist,,,,Ghost,...,,,65,90,122,58,75,84,,
837,711,2,7112,6,Kalosian,Gourgeist,,,,Ghost,...,,,55,85,122,58,75,99,,
838,711,3,7113,6,Kalosian,Gourgeist,,,,Ghost,...,,,75,95,122,58,75,69,,
839,711,4,7114,6,Kalosian,Gourgeist,,,,Ghost,...,,,85,100,122,58,75,54,,

CURRENT INDICIES
[836, 837, 838, 839]
Returning Entries for: #711 - Gourgeist
https://bulbapedia.bulbagarden.net/wiki/Gourgeist_(Pok%C3%A9mon)

Acquiring 247 Images for Gourgeist from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gourgeist

Acquiring 42 Tables for Gourgeist from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gourgeist

Acquiring 45 Tables for Gourgeist from Serebii
[█████████████████████████] 100.0% ...Collected

836    \nUpdated Body Type for all entries of Gourgeist
837    \nUpdated Body Type for all entries of Gourgeist
838    \nUpdated Body Type for all entries of Gourgeist
839    \nUpdated Body Type for all entries of Gourgeist
Name: NAME, dtype: object
Gourgeist
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gourgeist
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gourgeist
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
840,712,1,7121,6,Kalosian,Bergmite,,,,Ice,...,,,55,69,85,32,35,28,,

CURRENT INDICIES
[840]
Returning Entries for: #712 - Bergmite
https://bulbapedia.bulbagarden.net/wiki/Bergmite_(Pok%C3%A9mon)

Acquiring 96 Images for Bergmite from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bergmite

Acquiring 16 Tables for Bergmite from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bergmite

Acquiring 49 Tables for Bergmite from Serebii
[█████████████████████████] 100.0% ...Collected

840    \nUpdated Body Type for all entries of Bergmite
Name: NAME, dtype: object
Bergmite
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bergmite
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bergmite
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
841,713,1,7131,6,Kalosian,Avalugg,,,,Ice,...,,,95,117,184,44,46,28,,

CURRENT INDICIES
[841]
Returning Entries for: #713 - Avalugg
https://bulbapedia.bulbagarden.net/wiki/Avalugg_(Pok%C3%A9mon)

Acquiring 110 Images for Avalugg from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Avalugg

Acquiring 24 Tables for Avalugg from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/avalugg

Acquiring 54 Tables for Avalugg from Serebii
[█████████████████████████] 100.0% ...Collected

841    \nUpdated Body Type for all entries of Avalugg
Name: NAME, dtype: object
Avalugg
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Avalugg
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Avalugg
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
842,714,1,7141,6,Kalosian,Noibat,,,,Flying,...,,,40,30,35,45,40,55,,

CURRENT INDICIES
[842]
Returning Entries for: #714 - Noibat
https://bulbapedia.bulbagarden.net/wiki/Noibat_(Pok%C3%A9mon)

Acquiring 112 Images for Noibat from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Noibat

Acquiring 20 Tables for Noibat from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/noibat

Acquiring 40 Tables for Noibat from Serebii
[█████████████████████████] 100.0% ...Collected

842    \nUpdated Body Type for all entries of Noibat
Name: NAME, dtype: object
Noibat
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Noibat
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Noibat
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
843,715,1,7151,6,Kalosian,Noivern,,,,Flying,...,,,85,70,80,97,80,123,,

CURRENT INDICIES
[843]
Returning Entries for: #715 - Noivern
https://bulbapedia.bulbagarden.net/wiki/Noivern_(Pok%C3%A9mon)

Acquiring 117 Images for Noivern from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Noivern

Acquiring 21 Tables for Noivern from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/noivern

Acquiring 40 Tables for Noivern from Serebii
[█████████████████████████] 100.0% ...Collected

843    \nUpdated Body Type for all entries of Noivern
Name: NAME, dtype: object
Noivern
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Noivern
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Noivern
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
844,716,1,7161,6,Kalosian,Xerneas,,,,Fairy,...,,,126,131,95,131,98,99,,

CURRENT INDICIES
[844]
Returning Entries for: #716 - Xerneas
https://bulbapedia.bulbagarden.net/wiki/Xerneas_(Pok%C3%A9mon)

Acquiring 140 Images for Xerneas from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Xerneas

Acquiring 18 Tables for Xerneas from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/xerneas

Acquiring 37 Tables for Xerneas from Serebii
[█████████████████████████] 100.0% ...Collected

844    \nUpdated Body Type for all entries of Xerneas
Name: NAME, dtype: object
Xerneas
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Xerneas
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Xerneas
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
845,717,1,7171,6,Kalosian,Yveltal,,,,Dark,...,,,126,131,95,131,98,99,,

CURRENT INDICIES
[845]
Returning Entries for: #717 - Yveltal
https://bulbapedia.bulbagarden.net/wiki/Yveltal_(Pok%C3%A9mon)

Acquiring 100 Images for Yveltal from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Yveltal

Acquiring 18 Tables for Yveltal from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/yveltal

Acquiring 34 Tables for Yveltal from Serebii
[█████████████████████████] 100.0% ...Collected

845    \nUpdated Body Type for all entries of Yveltal
Name: NAME, dtype: object
Yveltal
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Yveltal
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Yveltal
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
846,718,1,7181,6,Kalosian,Zygarde,,,,Dragon,...,,,108,100,121,81,95,95,,
847,718,2,7182,6,Kalosian,Zygarde,,,,Dragon,...,,,54,100,71,61,85,115,,
848,718,3,7183,6,Kalosian,Zygarde,,,,Dragon,...,,,216,100,121,91,95,85,,

CURRENT INDICIES
[846, 847, 848]
Returning Entries for: #718 - Zygarde
https://bulbapedia.bulbagarden.net/wiki/Zygarde_(Pok%C3%A9mon)

Acquiring 226 Images for Zygarde from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zygarde

Acquiring 33 Tables for Zygarde from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zygarde

Acquiring 41 Tables for Zygarde from Serebii
[█████████████████████████] 100.0% ...Collected

846    \nUpdated Body Type for all entries of Zygarde
847    \nUpdated Body Type for all entries of Zygarde
848    \nUpdated Body Type for all entries of Zygarde
Name: NAME, dtype: object
Zygarde
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zygarde
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zygarde
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
846,718,1,7181,6,Kalosian,Zygarde,,,,Dragon,...,,,108,100,121,81,95,95,,
847,718,2,7182,6,Kalosian,Zygarde,,,,Dragon,...,,,54,100,71,61,85,115,,
848,718,3,7183,6,Kalosian,Zygarde,,,,Dragon,...,,,216,100,121,91,95,85,,

CURRENT INDICIES
[846, 847, 848]
Returning Entries for: #718 - Zygarde
https://bulbapedia.bulbagarden.net/wiki/Zygarde_(Pok%C3%A9mon)

Acquiring 226 Images for Zygarde from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zygarde

Acquiring 33 Tables for Zygarde from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zygarde

Acquiring 41 Tables for Zygarde from Serebii
[█████████████████████████] 100.0% ...Collected

846    \nUpdated Body Type for all entries of Zygarde
847    \nUpdated Body Type for all entries of Zygarde
848    \nUpdated Body Type for all entries of Zygarde
Name: NAME, dtype: object
Zygarde
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zygarde
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zygarde
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
846,718,1,7181,6,Kalosian,Zygarde,,,,Dragon,...,,,108,100,121,81,95,95,,
847,718,2,7182,6,Kalosian,Zygarde,,,,Dragon,...,,,54,100,71,61,85,115,,
848,718,3,7183,6,Kalosian,Zygarde,,,,Dragon,...,,,216,100,121,91,95,85,,

CURRENT INDICIES
[846, 847, 848]
Returning Entries for: #718 - Zygarde
https://bulbapedia.bulbagarden.net/wiki/Zygarde_(Pok%C3%A9mon)

Acquiring 226 Images for Zygarde from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zygarde

Acquiring 33 Tables for Zygarde from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zygarde

Acquiring 41 Tables for Zygarde from Serebii
[█████████████████████████] 100.0% ...Collected

846    \nUpdated Body Type for all entries of Zygarde
847    \nUpdated Body Type for all entries of Zygarde
848    \nUpdated Body Type for all entries of Zygarde
Name: NAME, dtype: object
Zygarde
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zygarde
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zygarde
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
849,719,1,7191,6,Kalosian,Diancie,,,,Rock,...,,,50,100,150,100,150,50,,
850,719,2,7192,6,Kalosian,Mega Diancie,,,,Rock,...,,,50,160,110,160,110,110,,

CURRENT INDICIES
[849, 850]
Returning Entries for: #719 - Diancie
https://bulbapedia.bulbagarden.net/wiki/Diancie_(Pok%C3%A9mon)

Acquiring 131 Images for Diancie from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Diancie

Acquiring 24 Tables for Diancie from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/diancie

Acquiring 34 Tables for Diancie from Serebii
[█████████████████████████] 100.0% ...Collected

849       \nUpdated Body Type for all entries of Diancie
850    \nUpdated Body Type for all entries of Mega Di...
Name: NAME, dtype: object
Diancie
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Diancie
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Diancie
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
849,719,1,7191,6,Kalosian,Diancie,,,,Rock,...,,,50,100,150,100,150,50,,
850,719,2,7192,6,Kalosian,Mega Diancie,,,,Rock,...,,,50,160,110,160,110,110,,

CURRENT INDICIES
[849, 850]
Returning Entries for: #719 - Diancie
https://bulbapedia.bulbagarden.net/wiki/Diancie_(Pok%C3%A9mon)

Acquiring 131 Images for Diancie from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Diancie

Acquiring 24 Tables for Diancie from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/diancie

Acquiring 34 Tables for Diancie from Serebii
[█████████████████████████] 100.0% ...Collected

849       \nUpdated Body Type for all entries of Diancie
850    \nUpdated Body Type for all entries of Mega Di...
Name: NAME, dtype: object
Diancie
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Diancie
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Diancie
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
851,720,1,7201,6,Kalosian,Hoopa,,,,Psychic,...,,,80,110,60,150,130,70,,
852,720,2,7202,6,Kalosian,Hoopa,,,,Psychic,...,,,80,160,60,170,130,80,,

CURRENT INDICIES
[851, 852]
Returning Entries for: #720 - Hoopa
https://bulbapedia.bulbagarden.net/wiki/Hoopa_(Pok%C3%A9mon)

Acquiring 101 Images for Hoopa from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hoopa

Acquiring 25 Tables for Hoopa from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hoopa

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/720.shtml

Acquiring 39 Tables for Hoopa from Serebii
[█████████████████████████] 100.0% ...Collected

851    \nUpdated Body Type for all entries of Hoopa
852    \nUpdated Body Type for all entries of Hoopa
Name: NAME, dtype: object
Hoopa
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hoopa
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hoopa
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
851,720,1,7201,6,Kalosian,Hoopa,,,,Psychic,...,,,80,110,60,150,130,70,,
852,720,2,7202,6,Kalosian,Hoopa,,,,Psychic,...,,,80,160,60,170,130,80,,

CURRENT INDICIES
[851, 852]
Returning Entries for: #720 - Hoopa
https://bulbapedia.bulbagarden.net/wiki/Hoopa_(Pok%C3%A9mon)

Acquiring 101 Images for Hoopa from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hoopa

Acquiring 25 Tables for Hoopa from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hoopa

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/720.shtml

Acquiring 39 Tables for Hoopa from Serebii
[█████████████████████████] 100.0% ...Collected

851    \nUpdated Body Type for all entries of Hoopa
852    \nUpdated Body Type for all entries of Hoopa
Name: NAME, dtype: object
Hoopa
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hoopa
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Generation VII Level Up added to Full Moves List
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hoopa
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
853,721,1,7211,6,Kalosian,Volcanion,,,,Fire,...,,,80,110,120,130,90,70,,

CURRENT INDICIES
[853]
Returning Entries for: #721 - Volcanion
https://bulbapedia.bulbagarden.net/wiki/Volcanion_(Pok%C3%A9mon)

Acquiring 101 Images for Volcanion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Volcanion

Acquiring 18 Tables for Volcanion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/volcanion

Acquiring 34 Tables for Volcanion from Serebii
[█████████████████████████] 100.0% ...Collected

853    \nUpdated Body Type for all entries of Volcanion
Name: NAME, dtype: object
Volcanion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Volcanion
Standard Level Up added to Full Moves List
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Volcanion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
854,722,1,7221,7,Alolan,Rowlet,,,,Grass,...,,,68,55,55,50,50,42,,

CURRENT INDICIES
[854]
Returning Entries for: #722 - Rowlet
https://bulbapedia.bulbagarden.net/wiki/Rowlet_(Pok%C3%A9mon)

Acquiring 136 Images for Rowlet from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rowlet

Acquiring 17 Tables for Rowlet from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rowlet

Acquiring 49 Tables for Rowlet from Serebii
[█████████████████████████] 100.0% ...Collected

854    \nUpdated Body Type for all entries of Rowlet
Name: NAME, dtype: object
Rowlet
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rowlet
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rowlet
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
855,723,1,7231,7,Alolan,Dartrix,,,,Grass,...,,,78,75,75,70,70,52,,

CURRENT INDICIES
[855]
Returning Entries for: #723 - Dartrix
https://bulbapedia.bulbagarden.net/wiki/Dartrix_(Pok%C3%A9mon)

Acquiring 91 Images for Dartrix from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dartrix

Acquiring 17 Tables for Dartrix from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dartrix

Acquiring 49 Tables for Dartrix from Serebii
[█████████████████████████] 100.0% ...Collected

855    \nUpdated Body Type for all entries of Dartrix
Name: NAME, dtype: object
Dartrix
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dartrix
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dartrix
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
856,724,1,7241,7,Alolan,Decidueye,,,,Grass,...,,,78,107,75,100,100,70,,

CURRENT INDICIES
[856]
Returning Entries for: #724 - Decidueye
https://bulbapedia.bulbagarden.net/wiki/Decidueye_(Pok%C3%A9mon)

Acquiring 107 Images for Decidueye from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Decidueye

Acquiring 25 Tables for Decidueye from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/decidueye

Acquiring 54 Tables for Decidueye from Serebii
[█████████████████████████] 100.0% ...Collected

856    \nUpdated Body Type for all entries of Decidueye
Name: NAME, dtype: object
Decidueye
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Decidueye
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Decidueye
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
857,725,1,7251,7,Alolan,Litten,,,,Fire,...,,,45,65,40,60,40,70,,

CURRENT INDICIES
[857]
Returning Entries for: #725 - Litten
https://bulbapedia.bulbagarden.net/wiki/Litten_(Pok%C3%A9mon)

Acquiring 147 Images for Litten from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Litten

Acquiring 18 Tables for Litten from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/litten

Acquiring 37 Tables for Litten from Serebii
[█████████████████████████] 100.0% ...Collected

857    \nUpdated Body Type for all entries of Litten
Name: NAME, dtype: object
Litten
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Litten
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Litten
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
858,726,1,7261,7,Alolan,Torracat,,,,Fire,...,,,65,85,50,80,50,90,,

CURRENT INDICIES
[858]
Returning Entries for: #726 - Torracat
https://bulbapedia.bulbagarden.net/wiki/Torracat_(Pok%C3%A9mon)

Acquiring 102 Images for Torracat from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Torracat

Acquiring 18 Tables for Torracat from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/torracat

Acquiring 37 Tables for Torracat from Serebii
[█████████████████████████] 100.0% ...Collected

858    \nUpdated Body Type for all entries of Torracat
Name: NAME, dtype: object
Torracat
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Torracat
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Torracat
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
859,727,1,7271,7,Alolan,Incineroar,,,,Fire,...,,,95,115,90,80,90,60,,

CURRENT INDICIES
[859]
Returning Entries for: #727 - Incineroar
https://bulbapedia.bulbagarden.net/wiki/Incineroar_(Pok%C3%A9mon)

Acquiring 128 Images for Incineroar from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Incineroar

Acquiring 21 Tables for Incineroar from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/incineroar

Acquiring 38 Tables for Incineroar from Serebii
[█████████████████████████] 100.0% ...Collected

859    \nUpdated Body Type for all entries of Incineroar
Name: NAME, dtype: object
Incineroar
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Incineroar
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Incineroar
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
860,728,1,7281,7,Alolan,Popplio,,,,Water,...,,,50,54,54,66,56,40,,

CURRENT INDICIES
[860]
Returning Entries for: #728 - Popplio
https://bulbapedia.bulbagarden.net/wiki/Popplio_(Pok%C3%A9mon)

Acquiring 142 Images for Popplio from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Popplio

Acquiring 19 Tables for Popplio from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/popplio

Acquiring 38 Tables for Popplio from Serebii
[█████████████████████████] 100.0% ...Collected

860    \nUpdated Body Type for all entries of Popplio
Name: NAME, dtype: object
Popplio
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Popplio
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Popplio
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
861,729,1,7291,7,Alolan,Brionne,,,,Water,...,,,60,69,69,91,81,50,,

CURRENT INDICIES
[861]
Returning Entries for: #729 - Brionne
https://bulbapedia.bulbagarden.net/wiki/Brionne_(Pok%C3%A9mon)

Acquiring 100 Images for Brionne from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Brionne

Acquiring 19 Tables for Brionne from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/brionne

Acquiring 38 Tables for Brionne from Serebii
[█████████████████████████] 100.0% ...Collected

861    \nUpdated Body Type for all entries of Brionne
Name: NAME, dtype: object
Brionne
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Brionne
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Brionne
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
862,730,1,7301,7,Alolan,Primarina,,,,Water,...,,,80,74,74,126,116,60,,

CURRENT INDICIES
[862]
Returning Entries for: #730 - Primarina
https://bulbapedia.bulbagarden.net/wiki/Primarina_(Pok%C3%A9mon)

Acquiring 114 Images for Primarina from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Primarina

Acquiring 21 Tables for Primarina from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/primarina

Acquiring 38 Tables for Primarina from Serebii
[█████████████████████████] 100.0% ...Collected

862    \nUpdated Body Type for all entries of Primarina
Name: NAME, dtype: object
Primarina
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Primarina
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Primarina
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
863,731,1,7311,7,Alolan,Pikipek,,,,Normal,...,,,35,75,30,30,30,65,,

CURRENT INDICIES
[863]
Returning Entries for: #731 - Pikipek
https://bulbapedia.bulbagarden.net/wiki/Pikipek_(Pok%C3%A9mon)

Acquiring 49 Images for Pikipek from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pikipek

Acquiring 17 Tables for Pikipek from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pikipek

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/731.shtml

Acquiring 35 Tables for Pikipek from Serebii
[█████████████████████████] 100.0% ...Collected

863    \nUpdated Body Type for all entries of Pikipek
Name: NAME, dtype: object
Pikipek
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pikipek
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pikipek
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
864,732,1,7321,7,Alolan,Trumbeak,,,,Normal,...,,,55,85,50,40,50,75,,

CURRENT INDICIES
[864]
Returning Entries for: #732 - Trumbeak
https://bulbapedia.bulbagarden.net/wiki/Trumbeak_(Pok%C3%A9mon)

Acquiring 47 Images for Trumbeak from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Trumbeak

Acquiring 17 Tables for Trumbeak from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/trumbeak

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/732.shtml

Acquiring 35 Tables for Trumbeak from Serebii
[█████████████████████████] 100.0% ...Collected

864    \nUpdated Body Type for all entries of Trumbeak
Name: NAME, dtype: object
Trumbeak
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Trumbeak
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Trumbeak
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
865,733,1,7331,7,Alolan,Toucannon,,,,Normal,...,,,80,120,75,75,75,60,,

CURRENT INDICIES
[865]
Returning Entries for: #733 - Toucannon
https://bulbapedia.bulbagarden.net/wiki/Toucannon_(Pok%C3%A9mon)

Acquiring 47 Images for Toucannon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Toucannon

Acquiring 19 Tables for Toucannon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/toucannon

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/733.shtml

Acquiring 35 Tables for Toucannon from Serebii
[█████████████████████████] 100.0% ...Collected

865    \nUpdated Body Type for all entries of Toucannon
Name: NAME, dtype: object
Toucannon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Toucannon
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Toucannon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
866,734,1,7341,7,Alolan,Yungoos,,,,Normal,...,,,48,70,30,30,30,45,,

CURRENT INDICIES
[866]
Returning Entries for: #734 - Yungoos
https://bulbapedia.bulbagarden.net/wiki/Yungoos_(Pok%C3%A9mon)

Acquiring 47 Images for Yungoos from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Yungoos

Acquiring 17 Tables for Yungoos from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/yungoos

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/734.shtml

Acquiring 35 Tables for Yungoos from Serebii
[█████████████████████████] 100.0% ...Collected

866    \nUpdated Body Type for all entries of Yungoos
Name: NAME, dtype: object
Yungoos
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Yungoos
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Yungoos
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
867,735,1,7351,7,Alolan,Gumshoos,,,,Normal,...,,,88,110,60,55,60,45,,

CURRENT INDICIES
[867]
Returning Entries for: #735 - Gumshoos
https://bulbapedia.bulbagarden.net/wiki/Gumshoos_(Pok%C3%A9mon)

Acquiring 46 Images for Gumshoos from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gumshoos

Acquiring 17 Tables for Gumshoos from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gumshoos

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/735.shtml

Acquiring 35 Tables for Gumshoos from Serebii
[█████████████████████████] 100.0% ...Collected

867    \nUpdated Body Type for all entries of Gumshoos
Name: NAME, dtype: object
Gumshoos
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gumshoos
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gumshoos
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
868,736,1,7361,7,Alolan,Grubbin,,,,Bug,...,,,47,62,45,55,45,46,,

CURRENT INDICIES
[868]
Returning Entries for: #736 - Grubbin
https://bulbapedia.bulbagarden.net/wiki/Grubbin_(Pok%C3%A9mon)

Acquiring 79 Images for Grubbin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Grubbin

Acquiring 19 Tables for Grubbin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/grubbin

Acquiring 37 Tables for Grubbin from Serebii
[█████████████████████████] 100.0% ...Collected

868    \nUpdated Body Type for all entries of Grubbin
Name: NAME, dtype: object
Grubbin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Grubbin
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Grubbin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
869,737,1,7371,7,Alolan,Charjabug,,,,Bug,...,,,57,82,95,55,75,36,,

CURRENT INDICIES
[869]
Returning Entries for: #737 - Charjabug
https://bulbapedia.bulbagarden.net/wiki/Charjabug_(Pok%C3%A9mon)

Acquiring 88 Images for Charjabug from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Charjabug

Acquiring 21 Tables for Charjabug from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/charjabug

Acquiring 37 Tables for Charjabug from Serebii
[█████████████████████████] 100.0% ...Collected

869    \nUpdated Body Type for all entries of Charjabug
Name: NAME, dtype: object
Charjabug
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Charjabug
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Charjabug
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
870,738,1,7381,7,Alolan,Vikavolt,,,,Bug,...,,,77,70,90,145,75,43,,

CURRENT INDICIES
[870]
Returning Entries for: #738 - Vikavolt
https://bulbapedia.bulbagarden.net/wiki/Vikavolt_(Pok%C3%A9mon)

Acquiring 92 Images for Vikavolt from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Vikavolt

Acquiring 22 Tables for Vikavolt from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/vikavolt

Acquiring 37 Tables for Vikavolt from Serebii
[█████████████████████████] 100.0% ...Collected

870    \nUpdated Body Type for all entries of Vikavolt
Name: NAME, dtype: object
Vikavolt
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Vikavolt
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Vikavolt
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
871,739,1,7391,7,Alolan,Crabrawler,,,,Fighting,...,,,47,82,57,42,47,63,,

CURRENT INDICIES
[871]
Returning Entries for: #739 - Crabrawler
https://bulbapedia.bulbagarden.net/wiki/Crabrawler_(Pok%C3%A9mon)

Acquiring 44 Images for Crabrawler from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Crabrawler

Acquiring 17 Tables for Crabrawler from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/crabrawler

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/739.shtml

Acquiring 35 Tables for Crabrawler from Serebii
[█████████████████████████] 100.0% ...Collected

871    \nUpdated Body Type for all entries of Crabrawler
Name: NAME, dtype: object
Crabrawler
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Crabrawler
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Crabrawler
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
872,740,1,7401,7,Alolan,Crabominable,,,,Fighting,...,,,97,132,77,62,67,43,,

CURRENT INDICIES
[872]
Returning Entries for: #740 - Crabominable
https://bulbapedia.bulbagarden.net/wiki/Crabominable_(Pok%C3%A9mon)

Acquiring 43 Images for Crabominable from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Crabominable

Acquiring 21 Tables for Crabominable from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/crabominable

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/740.shtml

Acquiring 38 Tables for Crabominable from Serebii
[█████████████████████████] 100.0% ...Collected

872    \nUpdated Body Type for all entries of Crabomi...
Name: NAME, dtype: object
Crabominable
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Crabominable
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Crabominable
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
873,741,1,7411,7,Alolan,Oricorio,,,,Fire,...,,,75,70,70,98,70,93,,
874,741,2,7412,7,Alolan,Oricorio,,,,Electric,...,,,75,70,70,98,70,93,,
875,741,3,7413,7,Alolan,Oricorio,,,,Psychic,...,,,75,70,70,98,70,93,,
876,741,4,7414,7,Alolan,Oricorio,,,,Ghost,...,,,75,70,70,98,70,93,,

CURRENT INDICIES
[873, 874, 875, 876]
Returning Entries for: #741 - Oricorio
https://bulbapedia.bulbagarden.net/wiki/Oricorio_(Pok%C3%A9mon)

Acquiring 162 Images for Oricorio from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Oricorio

Acquiring 38 Tables for Oricorio from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/oricorio

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/741.shtml

Acquiring 39 Tables for Oricorio from Serebii
[█████████████████████████] 100.0% ...Collected

873    \nUpdated Body Type for all entries of Oricorio
874    \nUpdated Body Type for all entries of Oricorio
875    \nUpdated Body Type for all entries of Oricorio
876    \nUpdated Body Type for all entries of Oricorio
Name: NAME, dtype: object
Oricorio
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Oricorio
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Oricorio
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
873,741,1,7411,7,Alolan,Oricorio,,,,Fire,...,,,75,70,70,98,70,93,,
874,741,2,7412,7,Alolan,Oricorio,,,,Electric,...,,,75,70,70,98,70,93,,
875,741,3,7413,7,Alolan,Oricorio,,,,Psychic,...,,,75,70,70,98,70,93,,
876,741,4,7414,7,Alolan,Oricorio,,,,Ghost,...,,,75,70,70,98,70,93,,

CURRENT INDICIES
[873, 874, 875, 876]
Returning Entries for: #741 - Oricorio
https://bulbapedia.bulbagarden.net/wiki/Oricorio_(Pok%C3%A9mon)

Acquiring 162 Images for Oricorio from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Oricorio

Acquiring 38 Tables for Oricorio from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/oricorio

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/741.shtml

Acquiring 39 Tables for Oricorio from Serebii
[█████████████████████████] 100.0% ...Collected

873    \nUpdated Body Type for all entries of Oricorio
874    \nUpdated Body Type for all entries of Oricorio
875    \nUpdated Body Type for all entries of Oricorio
876    \nUpdated Body Type for all entries of Oricorio
Name: NAME, dtype: object
Oricorio
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Oricorio
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Oricorio
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
873,741,1,7411,7,Alolan,Oricorio,,,,Fire,...,,,75,70,70,98,70,93,,
874,741,2,7412,7,Alolan,Oricorio,,,,Electric,...,,,75,70,70,98,70,93,,
875,741,3,7413,7,Alolan,Oricorio,,,,Psychic,...,,,75,70,70,98,70,93,,
876,741,4,7414,7,Alolan,Oricorio,,,,Ghost,...,,,75,70,70,98,70,93,,

CURRENT INDICIES
[873, 874, 875, 876]
Returning Entries for: #741 - Oricorio
https://bulbapedia.bulbagarden.net/wiki/Oricorio_(Pok%C3%A9mon)

Acquiring 162 Images for Oricorio from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Oricorio

Acquiring 38 Tables for Oricorio from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/oricorio

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/741.shtml

Acquiring 39 Tables for Oricorio from Serebii
[█████████████████████████] 100.0% ...Collected

873    \nUpdated Body Type for all entries of Oricorio
874    \nUpdated Body Type for all entries of Oricorio
875    \nUpdated Body Type for all entries of Oricorio
876    \nUpdated Body Type for all entries of Oricorio
Name: NAME, dtype: object
Oricorio
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Oricorio
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Oricorio
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
873,741,1,7411,7,Alolan,Oricorio,,,,Fire,...,,,75,70,70,98,70,93,,
874,741,2,7412,7,Alolan,Oricorio,,,,Electric,...,,,75,70,70,98,70,93,,
875,741,3,7413,7,Alolan,Oricorio,,,,Psychic,...,,,75,70,70,98,70,93,,
876,741,4,7414,7,Alolan,Oricorio,,,,Ghost,...,,,75,70,70,98,70,93,,

CURRENT INDICIES
[873, 874, 875, 876]
Returning Entries for: #741 - Oricorio
https://bulbapedia.bulbagarden.net/wiki/Oricorio_(Pok%C3%A9mon)

Acquiring 162 Images for Oricorio from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Oricorio

Acquiring 38 Tables for Oricorio from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/oricorio

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/741.shtml

Acquiring 39 Tables for Oricorio from Serebii
[█████████████████████████] 100.0% ...Collected

873    \nUpdated Body Type for all entries of Oricorio
874    \nUpdated Body Type for all entries of Oricorio
875    \nUpdated Body Type for all entries of Oricorio
876    \nUpdated Body Type for all entries of Oricorio
Name: NAME, dtype: object
Oricorio
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Oricorio
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Oricorio
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
877,742,1,7421,7,Alolan,Cutiefly,,,,Bug,...,,,40,45,40,55,40,84,,

CURRENT INDICIES
[877]
Returning Entries for: #742 - Cutiefly
https://bulbapedia.bulbagarden.net/wiki/Cutiefly_(Pok%C3%A9mon)

Acquiring 97 Images for Cutiefly from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cutiefly

Acquiring 19 Tables for Cutiefly from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cutiefly

Acquiring 37 Tables for Cutiefly from Serebii
[█████████████████████████] 100.0% ...Collected

877    \nUpdated Body Type for all entries of Cutiefly
Name: NAME, dtype: object
Cutiefly
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cutiefly
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cutiefly
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
878,743,1,7431,7,Alolan,Ribombee,,,,Bug,...,,,60,55,60,95,70,124,,

CURRENT INDICIES
[878]
Returning Entries for: #743 - Ribombee
https://bulbapedia.bulbagarden.net/wiki/Ribombee_(Pok%C3%A9mon)

Acquiring 100 Images for Ribombee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Ribombee

Acquiring 21 Tables for Ribombee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/ribombee

Acquiring 37 Tables for Ribombee from Serebii
[█████████████████████████] 100.0% ...Collected

878    \nUpdated Body Type for all entries of Ribombee
Name: NAME, dtype: object
Ribombee
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Ribombee
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Ribombee
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
879,744,1,7441,7,Alolan,Rockruff,,,,Rock,...,,,45,65,40,30,40,60,,
880,744,2,7442,7,Alolan,Rockruff,,,,Rock,...,,,45,65,40,30,40,60,,

CURRENT INDICIES
[879, 880]
Returning Entries for: #744 - Rockruff
https://bulbapedia.bulbagarden.net/wiki/Rockruff_(Pok%C3%A9mon)

Acquiring 140 Images for Rockruff from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rockruff

Acquiring 25 Tables for Rockruff from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rockruff

Acquiring 36 Tables for Rockruff from Serebii
[█████████████████████████] 100.0% ...Collected

879    \nUpdated Body Type for all entries of Rockruff
880    \nUpdated Body Type for all entries of Rockruff
Name: NAME, dtype: object
Rockruff
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rockruff
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rockruff
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
879,744,1,7441,7,Alolan,Rockruff,,,,Rock,...,,,45,65,40,30,40,60,,
880,744,2,7442,7,Alolan,Rockruff,,,,Rock,...,,,45,65,40,30,40,60,,

CURRENT INDICIES
[879, 880]
Returning Entries for: #744 - Rockruff
https://bulbapedia.bulbagarden.net/wiki/Rockruff_(Pok%C3%A9mon)

Acquiring 140 Images for Rockruff from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rockruff

Acquiring 25 Tables for Rockruff from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rockruff

Acquiring 36 Tables for Rockruff from Serebii
[█████████████████████████] 100.0% ...Collected

879    \nUpdated Body Type for all entries of Rockruff
880    \nUpdated Body Type for all entries of Rockruff
Name: NAME, dtype: object
Rockruff
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rockruff
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rockruff
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
881,745,1,7451,7,Alolan,Lycanroc,,,,Rock,...,,,75,115,65,55,65,112,,
882,745,2,7452,7,Alolan,Lycanroc,,,,Rock,...,,,85,115,75,55,75,82,,
883,745,3,7453,7,Alolan,Lycanroc,,,,Rock,...,,,75,117,65,55,65,110,,

CURRENT INDICIES
[881, 882, 883]
Returning Entries for: #745 - Lycanroc
https://bulbapedia.bulbagarden.net/wiki/Lycanroc_(Pok%C3%A9mon)

Acquiring 314 Images for Lycanroc from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lycanroc

Acquiring 53 Tables for Lycanroc from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lycanroc

Acquiring 111 Tables for Lycanroc from Serebii
[█████████████████████████] 100.0% ...Collected

881    \nUpdated Body Type for all entries of Lycanroc
882    \nUpdated Body Type for all entries of Lycanroc
883    \nUpdated Body Type for all entries of Lycanroc
Name: NAME, dtype: object
Lycanroc
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lycanroc
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lycanroc
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
881,745,1,7451,7,Alolan,Lycanroc,,,,Rock,...,,,75,115,65,55,65,112,,
882,745,2,7452,7,Alolan,Lycanroc,,,,Rock,...,,,85,115,75,55,75,82,,
883,745,3,7453,7,Alolan,Lycanroc,,,,Rock,...,,,75,117,65,55,65,110,,

CURRENT INDICIES
[881, 882, 883]
Returning Entries for: #745 - Lycanroc
https://bulbapedia.bulbagarden.net/wiki/Lycanroc_(Pok%C3%A9mon)

Acquiring 314 Images for Lycanroc from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lycanroc

Acquiring 53 Tables for Lycanroc from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lycanroc

Acquiring 111 Tables for Lycanroc from Serebii
[█████████████████████████] 100.0% ...Collected

881    \nUpdated Body Type for all entries of Lycanroc
882    \nUpdated Body Type for all entries of Lycanroc
883    \nUpdated Body Type for all entries of Lycanroc
Name: NAME, dtype: object
Lycanroc
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lycanroc
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lycanroc
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
881,745,1,7451,7,Alolan,Lycanroc,,,,Rock,...,,,75,115,65,55,65,112,,
882,745,2,7452,7,Alolan,Lycanroc,,,,Rock,...,,,85,115,75,55,75,82,,
883,745,3,7453,7,Alolan,Lycanroc,,,,Rock,...,,,75,117,65,55,65,110,,

CURRENT INDICIES
[881, 882, 883]
Returning Entries for: #745 - Lycanroc
https://bulbapedia.bulbagarden.net/wiki/Lycanroc_(Pok%C3%A9mon)

Acquiring 314 Images for Lycanroc from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lycanroc

Acquiring 53 Tables for Lycanroc from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lycanroc

Acquiring 111 Tables for Lycanroc from Serebii
[█████████████████████████] 100.0% ...Collected

881    \nUpdated Body Type for all entries of Lycanroc
882    \nUpdated Body Type for all entries of Lycanroc
883    \nUpdated Body Type for all entries of Lycanroc
Name: NAME, dtype: object
Lycanroc
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lycanroc
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lycanroc
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
884,746,1,7461,7,Alolan,Wishiwashi,,,,Water,...,,,45,20,20,25,25,40,,
885,746,2,7462,7,Alolan,Wishiwashi,,,,Water,...,,,45,140,130,140,135,30,,

CURRENT INDICIES
[884, 885]
Returning Entries for: #746 - Wishiwashi
https://bulbapedia.bulbagarden.net/wiki/Wishiwashi_(Pok%C3%A9mon)

Acquiring 133 Images for Wishiwashi from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Wishiwashi

Acquiring 26 Tables for Wishiwashi from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/wishiwashi

Acquiring 41 Tables for Wishiwashi from Serebii
[█████████████████████████] 100.0% ...Collected

884    \nUpdated Body Type for all entries of Wishiwashi
885    \nUpdated Body Type for all entries of Wishiwashi
Name: NAME, dtype: object
Wishiwashi
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Wishiwashi
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Wishiwashi
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
884,746,1,7461,7,Alolan,Wishiwashi,,,,Water,...,,,45,20,20,25,25,40,,
885,746,2,7462,7,Alolan,Wishiwashi,,,,Water,...,,,45,140,130,140,135,30,,

CURRENT INDICIES
[884, 885]
Returning Entries for: #746 - Wishiwashi
https://bulbapedia.bulbagarden.net/wiki/Wishiwashi_(Pok%C3%A9mon)

Acquiring 133 Images for Wishiwashi from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Wishiwashi

Acquiring 26 Tables for Wishiwashi from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/wishiwashi

Acquiring 41 Tables for Wishiwashi from Serebii
[█████████████████████████] 100.0% ...Collected

884    \nUpdated Body Type for all entries of Wishiwashi
885    \nUpdated Body Type for all entries of Wishiwashi
Name: NAME, dtype: object
Wishiwashi
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Wishiwashi
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Wishiwashi
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
886,747,1,7471,7,Alolan,Mareanie,,,,Poison,...,,,50,53,62,43,52,45,,

CURRENT INDICIES
[886]
Returning Entries for: #747 - Mareanie
https://bulbapedia.bulbagarden.net/wiki/Mareanie_(Pok%C3%A9mon)

Acquiring 91 Images for Mareanie from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mareanie

Acquiring 18 Tables for Mareanie from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mareanie

Acquiring 36 Tables for Mareanie from Serebii
[█████████████████████████] 100.0% ...Collected

886    \nUpdated Body Type for all entries of Mareanie
Name: NAME, dtype: object
Mareanie
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mareanie
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mareanie
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
887,748,1,7481,7,Alolan,Toxapex,,,,Poison,...,,,50,63,152,53,142,35,,

CURRENT INDICIES
[887]
Returning Entries for: #748 - Toxapex
https://bulbapedia.bulbagarden.net/wiki/Toxapex_(Pok%C3%A9mon)

Acquiring 90 Images for Toxapex from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Toxapex

Acquiring 20 Tables for Toxapex from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/toxapex

Acquiring 36 Tables for Toxapex from Serebii
[█████████████████████████] 100.0% ...Collected

887    \nUpdated Body Type for all entries of Toxapex
Name: NAME, dtype: object
Toxapex
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Toxapex
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Toxapex
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
888,749,1,7491,7,Alolan,Mudbray,,,,Ground,...,,,70,100,70,45,55,45,,

CURRENT INDICIES
[888]
Returning Entries for: #749 - Mudbray
https://bulbapedia.bulbagarden.net/wiki/Mudbray_(Pok%C3%A9mon)

Acquiring 135 Images for Mudbray from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mudbray

Acquiring 18 Tables for Mudbray from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mudbray

Acquiring 36 Tables for Mudbray from Serebii
[█████████████████████████] 100.0% ...Collected

888    \nUpdated Body Type for all entries of Mudbray
Name: NAME, dtype: object
Mudbray
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mudbray
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mudbray
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
889,750,1,7501,7,Alolan,Mudsdale,,,,Ground,...,,,100,125,100,55,85,35,,

CURRENT INDICIES
[889]
Returning Entries for: #750 - Mudsdale
https://bulbapedia.bulbagarden.net/wiki/Mudsdale_(Pok%C3%A9mon)

Acquiring 143 Images for Mudsdale from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mudsdale

Acquiring 19 Tables for Mudsdale from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mudsdale

Acquiring 37 Tables for Mudsdale from Serebii
[█████████████████████████] 100.0% ...Collected

889    \nUpdated Body Type for all entries of Mudsdale
Name: NAME, dtype: object
Mudsdale
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mudsdale
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mudsdale
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
890,751,1,7511,7,Alolan,Dewpider,,,,Water,...,,,38,40,52,40,72,27,,

CURRENT INDICIES
[890]
Returning Entries for: #751 - Dewpider
https://bulbapedia.bulbagarden.net/wiki/Dewpider_(Pok%C3%A9mon)

Acquiring 81 Images for Dewpider from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dewpider

Acquiring 21 Tables for Dewpider from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dewpider

Acquiring 37 Tables for Dewpider from Serebii
[█████████████████████████] 100.0% ...Collected

890    \nUpdated Body Type for all entries of Dewpider
Name: NAME, dtype: object
Dewpider
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dewpider
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dewpider
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
891,752,1,7521,7,Alolan,Araquanid,,,,Water,...,,,68,70,92,50,132,42,,

CURRENT INDICIES
[891]
Returning Entries for: #752 - Araquanid
https://bulbapedia.bulbagarden.net/wiki/Araquanid_(Pok%C3%A9mon)

Acquiring 86 Images for Araquanid from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Araquanid

Acquiring 22 Tables for Araquanid from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/araquanid

Acquiring 37 Tables for Araquanid from Serebii
[█████████████████████████] 100.0% ...Collected

891    \nUpdated Body Type for all entries of Araquanid
Name: NAME, dtype: object
Araquanid
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Araquanid
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Araquanid
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
892,753,1,7531,7,Alolan,Fomantis,,,,Grass,...,,,40,55,35,50,35,35,,

CURRENT INDICIES
[892]
Returning Entries for: #753 - Fomantis
https://bulbapedia.bulbagarden.net/wiki/Fomantis_(Pok%C3%A9mon)

Acquiring 91 Images for Fomantis from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Fomantis

Acquiring 19 Tables for Fomantis from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/fomantis

Acquiring 37 Tables for Fomantis from Serebii
[█████████████████████████] 100.0% ...Collected

892    \nUpdated Body Type for all entries of Fomantis
Name: NAME, dtype: object
Fomantis
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Fomantis
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Fomantis
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
893,754,1,7541,7,Alolan,Lurantis,,,,Grass,...,,,70,105,90,80,90,45,,

CURRENT INDICIES
[893]
Returning Entries for: #754 - Lurantis
https://bulbapedia.bulbagarden.net/wiki/Lurantis_(Pok%C3%A9mon)

Acquiring 98 Images for Lurantis from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lurantis

Acquiring 22 Tables for Lurantis from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lurantis

Acquiring 37 Tables for Lurantis from Serebii
[█████████████████████████] 100.0% ...Collected

893    \nUpdated Body Type for all entries of Lurantis
Name: NAME, dtype: object
Lurantis
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lurantis
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lurantis
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
894,755,1,7551,7,Alolan,Morelull,,,,Grass,...,,,40,35,55,65,75,15,,

CURRENT INDICIES
[894]
Returning Entries for: #755 - Morelull
https://bulbapedia.bulbagarden.net/wiki/Morelull_(Pok%C3%A9mon)

Acquiring 143 Images for Morelull from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Morelull

Acquiring 18 Tables for Morelull from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/morelull

Acquiring 37 Tables for Morelull from Serebii
[█████████████████████████] 100.0% ...Collected

894    \nUpdated Body Type for all entries of Morelull
Name: NAME, dtype: object
Morelull
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Morelull
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Morelull
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
895,756,1,7561,7,Alolan,Shiinotic,,,,Grass,...,,,60,45,80,90,100,30,,

CURRENT INDICIES
[895]
Returning Entries for: #756 - Shiinotic
https://bulbapedia.bulbagarden.net/wiki/Shiinotic_(Pok%C3%A9mon)

Acquiring 145 Images for Shiinotic from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Shiinotic

Acquiring 18 Tables for Shiinotic from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/shiinotic

Acquiring 37 Tables for Shiinotic from Serebii
[█████████████████████████] 100.0% ...Collected

895    \nUpdated Body Type for all entries of Shiinotic
Name: NAME, dtype: object
Shiinotic
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Shiinotic
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Shiinotic
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
896,757,1,7571,7,Alolan,Salandit,,,,Poison,...,,,48,44,40,71,40,77,,

CURRENT INDICIES
[896]
Returning Entries for: #757 - Salandit
https://bulbapedia.bulbagarden.net/wiki/Salandit_(Pok%C3%A9mon)

Acquiring 106 Images for Salandit from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Salandit

Acquiring 19 Tables for Salandit from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/salandit

Acquiring 37 Tables for Salandit from Serebii
[█████████████████████████] 100.0% ...Collected

896    \nUpdated Body Type for all entries of Salandit
Name: NAME, dtype: object
Salandit
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Salandit
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Salandit
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
897,758,1,7581,7,Alolan,Salazzle,,,,Poison,...,,,68,64,60,111,60,117,,

CURRENT INDICIES
[897]
Returning Entries for: #758 - Salazzle
https://bulbapedia.bulbagarden.net/wiki/Salazzle_(Pok%C3%A9mon)

Acquiring 114 Images for Salazzle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Salazzle

Acquiring 22 Tables for Salazzle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/salazzle

Acquiring 37 Tables for Salazzle from Serebii
[█████████████████████████] 100.0% ...Collected

897    \nUpdated Body Type for all entries of Salazzle
Name: NAME, dtype: object
Salazzle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Salazzle
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Salazzle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
898,759,1,7591,7,Alolan,Stufful,,,,Normal,...,,,70,75,50,45,50,50,,

CURRENT INDICIES
[898]
Returning Entries for: #759 - Stufful
https://bulbapedia.bulbagarden.net/wiki/Stufful_(Pok%C3%A9mon)

Acquiring 121 Images for Stufful from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Stufful

Acquiring 23 Tables for Stufful from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/stufful

Acquiring 37 Tables for Stufful from Serebii
[█████████████████████████] 100.0% ...Collected

898    \nUpdated Body Type for all entries of Stufful
Name: NAME, dtype: object
Stufful
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Stufful
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Stufful
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
899,760,1,7601,7,Alolan,Bewear,,,,Normal,...,,,120,125,80,55,60,60,,

CURRENT INDICIES
[899]
Returning Entries for: #760 - Bewear
https://bulbapedia.bulbagarden.net/wiki/Bewear_(Pok%C3%A9mon)

Acquiring 138 Images for Bewear from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bewear

Acquiring 25 Tables for Bewear from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bewear

Acquiring 37 Tables for Bewear from Serebii
[█████████████████████████] 100.0% ...Collected

899    \nUpdated Body Type for all entries of Bewear
Name: NAME, dtype: object
Bewear
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bewear
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bewear
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
900,761,1,7611,7,Alolan,Bounsweet,,,,Grass,...,,,42,30,38,30,38,32,,

CURRENT INDICIES
[900]
Returning Entries for: #761 - Bounsweet
https://bulbapedia.bulbagarden.net/wiki/Bounsweet_(Pok%C3%A9mon)

Acquiring 100 Images for Bounsweet from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bounsweet

Acquiring 19 Tables for Bounsweet from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bounsweet

Acquiring 37 Tables for Bounsweet from Serebii
[█████████████████████████] 100.0% ...Collected

900    \nUpdated Body Type for all entries of Bounsweet
Name: NAME, dtype: object
Bounsweet
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bounsweet
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bounsweet
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
901,762,1,7621,7,Alolan,Steenee,,,,Grass,...,,,52,40,48,40,48,62,,

CURRENT INDICIES
[901]
Returning Entries for: #762 - Steenee
https://bulbapedia.bulbagarden.net/wiki/Steenee_(Pok%C3%A9mon)

Acquiring 105 Images for Steenee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Steenee

Acquiring 21 Tables for Steenee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/steenee

Acquiring 37 Tables for Steenee from Serebii
[█████████████████████████] 100.0% ...Collected

901    \nUpdated Body Type for all entries of Steenee
Name: NAME, dtype: object
Steenee
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Steenee
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Steenee
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
902,763,1,7631,7,Alolan,Tsareena,,,,Grass,...,,,72,120,98,50,98,72,,

CURRENT INDICIES
[902]
Returning Entries for: #763 - Tsareena
https://bulbapedia.bulbagarden.net/wiki/Tsareena_(Pok%C3%A9mon)

Acquiring 111 Images for Tsareena from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Tsareena

Acquiring 22 Tables for Tsareena from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tsareena

Acquiring 37 Tables for Tsareena from Serebii
[█████████████████████████] 100.0% ...Collected

902    \nUpdated Body Type for all entries of Tsareena
Name: NAME, dtype: object
Tsareena
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tsareena
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tsareena
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
903,764,1,7641,7,Alolan,Comfey,,,,Fairy,...,,,51,52,90,82,110,100,,

CURRENT INDICIES
[903]
Returning Entries for: #764 - Comfey
https://bulbapedia.bulbagarden.net/wiki/Comfey_(Pok%C3%A9mon)

Acquiring 97 Images for Comfey from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Comfey

Acquiring 19 Tables for Comfey from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/comfey

Acquiring 37 Tables for Comfey from Serebii
[█████████████████████████] 100.0% ...Collected

903    \nUpdated Body Type for all entries of Comfey
Name: NAME, dtype: object
Comfey
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Comfey
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Comfey
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
904,765,1,7651,7,Alolan,Oranguru,,,,Normal,...,,,90,60,80,90,110,60,,

CURRENT INDICIES
[904]
Returning Entries for: #765 - Oranguru
https://bulbapedia.bulbagarden.net/wiki/Oranguru_(Pok%C3%A9mon)

Acquiring 119 Images for Oranguru from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Oranguru

Acquiring 19 Tables for Oranguru from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/oranguru

Acquiring 37 Tables for Oranguru from Serebii
[█████████████████████████] 100.0% ...Collected

904    \nUpdated Body Type for all entries of Oranguru
Name: NAME, dtype: object
Oranguru
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Oranguru
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Oranguru
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
905,766,1,7661,7,Alolan,Passimian,,,,Fighting,...,,,100,120,90,40,60,80,,

CURRENT INDICIES
[905]
Returning Entries for: #766 - Passimian
https://bulbapedia.bulbagarden.net/wiki/Passimian_(Pok%C3%A9mon)

Acquiring 174 Images for Passimian from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Passimian

Acquiring 19 Tables for Passimian from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/passimian

Acquiring 37 Tables for Passimian from Serebii
[█████████████████████████] 100.0% ...Collected

905    \nUpdated Body Type for all entries of Passimian
Name: NAME, dtype: object
Passimian
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Passimian
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Passimian
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
906,767,1,7671,7,Alolan,Wimpod,,,,Bug,...,,,25,35,40,20,30,80,,

CURRENT INDICIES
[906]
Returning Entries for: #767 - Wimpod
https://bulbapedia.bulbagarden.net/wiki/Wimpod_(Pok%C3%A9mon)

Acquiring 105 Images for Wimpod from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Wimpod

Acquiring 19 Tables for Wimpod from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/wimpod

Acquiring 37 Tables for Wimpod from Serebii
[█████████████████████████] 100.0% ...Collected

906    \nUpdated Body Type for all entries of Wimpod
Name: NAME, dtype: object
Wimpod
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Wimpod
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Wimpod
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
907,768,1,7681,7,Alolan,Golisopod,,,,Bug,...,,,75,125,140,60,90,40,,

CURRENT INDICIES
[907]
Returning Entries for: #768 - Golisopod
https://bulbapedia.bulbagarden.net/wiki/Golisopod_(Pok%C3%A9mon)

Acquiring 140 Images for Golisopod from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Golisopod

Acquiring 21 Tables for Golisopod from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/golisopod

Acquiring 37 Tables for Golisopod from Serebii
[█████████████████████████] 100.0% ...Collected

907    \nUpdated Body Type for all entries of Golisopod
Name: NAME, dtype: object
Golisopod
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Golisopod
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Golisopod
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
908,769,1,7691,7,Alolan,Sandygast,,,,Ghost,...,,,55,55,80,70,45,15,,

CURRENT INDICIES
[908]
Returning Entries for: #769 - Sandygast
https://bulbapedia.bulbagarden.net/wiki/Sandygast_(Pok%C3%A9mon)

Acquiring 118 Images for Sandygast from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sandygast

Acquiring 19 Tables for Sandygast from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sandygast

Acquiring 37 Tables for Sandygast from Serebii
[█████████████████████████] 100.0% ...Collected

908    \nUpdated Body Type for all entries of Sandygast
Name: NAME, dtype: object
Sandygast
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sandygast
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sandygast
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
909,770,1,7701,7,Alolan,Palossand,,,,Ghost,...,,,85,75,110,100,75,35,,

CURRENT INDICIES
[909]
Returning Entries for: #770 - Palossand
https://bulbapedia.bulbagarden.net/wiki/Palossand_(Pok%C3%A9mon)

Acquiring 117 Images for Palossand from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Palossand

Acquiring 19 Tables for Palossand from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/palossand

Acquiring 37 Tables for Palossand from Serebii
[█████████████████████████] 100.0% ...Collected

909    \nUpdated Body Type for all entries of Palossand
Name: NAME, dtype: object
Palossand
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Palossand
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Palossand
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
910,771,1,7711,7,Alolan,Pyukumuku,,,,Water,...,,,55,60,130,30,130,5,,

CURRENT INDICIES
[910]
Returning Entries for: #771 - Pyukumuku
https://bulbapedia.bulbagarden.net/wiki/Pyukumuku_(Pok%C3%A9mon)

Acquiring 76 Images for Pyukumuku from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pyukumuku

Acquiring 18 Tables for Pyukumuku from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pyukumuku

Acquiring 36 Tables for Pyukumuku from Serebii
[█████████████████████████] 100.0% ...Collected

910    \nUpdated Body Type for all entries of Pyukumuku
Name: NAME, dtype: object
Pyukumuku
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pyukumuku
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pyukumuku
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
911,772,1,7721,7,Alolan,Type: Null,,,,Normal,...,,,95,95,95,95,95,59,,

CURRENT INDICIES
[911]
Returning Entries for: #772 - Type: Null
https://bulbapedia.bulbagarden.net/wiki/Type:_Null_(Pok%C3%A9mon)

Acquiring 91 Images for Type:_Null from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/type-null

Acquiring 17 Tables for type-null from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/type:null

Acquiring 33 Tables for type:null from Serebii
[█████████████████████████] 100.0% ...Collected

911    \nUpdated Body Type for all entries of Type: Null
Name: NAME, dtype: object
Type: Null
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Type: Null
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Type: Null
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
912,773,1,7731,7,Alolan,Silvally,,,,Normal,...,,,95,95,95,95,95,95,,

CURRENT INDICIES
[912]
Returning Entries for: #773 - Silvally
https://bulbapedia.bulbagarden.net/wiki/Silvally_(Pok%C3%A9mon)

Acquiring 290 Images for Silvally from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Silvally

Acquiring 20 Tables for Silvally from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/silvally

Acquiring 37 Tables for Silvally from Serebii
[█████████████████████████] 100.0% ...Collected

912    \nUpdated Body Type for all entries of Silvally
Name: NAME, dtype: object
Silvally
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Silvally
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Silvally
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
913,774,1,7741,7,Alolan,Minior,,,,Rock,...,,,60,60,100,60,100,60,,
914,774,2,7742,7,Alolan,Minior,,,,Rock,...,,,60,100,60,100,60,120,,

CURRENT INDICIES
[913, 914]
Returning Entries for: #774 - Minior
https://bulbapedia.bulbagarden.net/wiki/Minior_(Pok%C3%A9mon)

Acquiring 127 Images for Minior from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Minior

Acquiring 22 Tables for Minior from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/minior

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/774.shtml

Acquiring 36 Tables for Minior from Serebii
[█████████████████████████] 100.0% ...Collected

913    \nUpdated Body Type for all entries of Minior
914    \nUpdated Body Type for all entries of Minior
Name: NAME, dtype: object
Minior
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Minior
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Minior
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
913,774,1,7741,7,Alolan,Minior,,,,Rock,...,,,60,60,100,60,100,60,,
914,774,2,7742,7,Alolan,Minior,,,,Rock,...,,,60,100,60,100,60,120,,

CURRENT INDICIES
[913, 914]
Returning Entries for: #774 - Minior
https://bulbapedia.bulbagarden.net/wiki/Minior_(Pok%C3%A9mon)

Acquiring 127 Images for Minior from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Minior

Acquiring 22 Tables for Minior from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/minior

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/774.shtml

Acquiring 36 Tables for Minior from Serebii
[█████████████████████████] 100.0% ...Collected

913    \nUpdated Body Type for all entries of Minior
914    \nUpdated Body Type for all entries of Minior
Name: NAME, dtype: object
Minior
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Minior
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
TM & HM Attacks added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Minior
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
915,775,1,7751,7,Alolan,Komala,,,,Normal,...,,,65,115,65,75,95,65,,

CURRENT INDICIES
[915]
Returning Entries for: #775 - Komala
https://bulbapedia.bulbagarden.net/wiki/Komala_(Pok%C3%A9mon)

Acquiring 40 Images for Komala from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Komala

Acquiring 17 Tables for Komala from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/komala

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/775.shtml

Acquiring 35 Tables for Komala from Serebii
[█████████████████████████] 100.0% ...Collected

915    \nUpdated Body Type for all entries of Komala
Name: NAME, dtype: object
Komala
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Komala
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Komala
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
916,776,1,7761,7,Alolan,Turtonator,,,,Fire,...,,,60,78,135,91,85,36,,

CURRENT INDICIES
[916]
Returning Entries for: #776 - Turtonator
https://bulbapedia.bulbagarden.net/wiki/Turtonator_(Pok%C3%A9mon)

Acquiring 116 Images for Turtonator from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Turtonator

Acquiring 19 Tables for Turtonator from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/turtonator

Acquiring 38 Tables for Turtonator from Serebii
[█████████████████████████] 100.0% ...Collected

916    \nUpdated Body Type for all entries of Turtonator
Name: NAME, dtype: object
Turtonator
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Turtonator
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Turtonator
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
917,777,1,7771,7,Alolan,Togedemaru,,,,Electric,...,,,65,98,63,40,73,96,,

CURRENT INDICIES
[917]
Returning Entries for: #777 - Togedemaru
https://bulbapedia.bulbagarden.net/wiki/Togedemaru_(Pok%C3%A9mon)

Acquiring 138 Images for Togedemaru from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Togedemaru

Acquiring 23 Tables for Togedemaru from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/togedemaru

Acquiring 38 Tables for Togedemaru from Serebii
[█████████████████████████] 100.0% ...Collected

917    \nUpdated Body Type for all entries of Togedemaru
Name: NAME, dtype: object
Togedemaru
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Togedemaru
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Togedemaru
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
918,778,1,7781,7,Alolan,Mimikyu,,,,Ghost,...,,,55,90,80,50,105,96,,

CURRENT INDICIES
[918]
Returning Entries for: #778 - Mimikyu
https://bulbapedia.bulbagarden.net/wiki/Mimikyu_(Pok%C3%A9mon)

Acquiring 173 Images for Mimikyu from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Mimikyu

Acquiring 20 Tables for Mimikyu from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mimikyu

Acquiring 40 Tables for Mimikyu from Serebii
[█████████████████████████] 100.0% ...Collected

918    \nUpdated Body Type for all entries of Mimikyu
Name: NAME, dtype: object
Mimikyu
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mimikyu
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mimikyu
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
919,779,1,7791,7,Alolan,Bruxish,,,,Water,...,,,68,105,70,70,70,92,,

CURRENT INDICIES
[919]
Returning Entries for: #779 - Bruxish
https://bulbapedia.bulbagarden.net/wiki/Bruxish_(Pok%C3%A9mon)

Acquiring 41 Images for Bruxish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Bruxish

Acquiring 17 Tables for Bruxish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/bruxish

Generation VIII Data Not Available, using Generation VII Data
https://www.serebii.net/pokedex-sm/779.shtml

Acquiring 35 Tables for Bruxish from Serebii
[█████████████████████████] 100.0% ...Collected

919    \nUpdated Body Type for all entries of Bruxish
Name: NAME, dtype: object
Bruxish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Bruxish
TM & HM Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Z Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Bruxish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
920,780,1,7801,7,Alolan,Drampa,,,,Normal,...,,,78,60,85,135,91,36,,

CURRENT INDICIES
[920]
Returning Entries for: #780 - Drampa
https://bulbapedia.bulbagarden.net/wiki/Drampa_(Pok%C3%A9mon)

Acquiring 125 Images for Drampa from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Drampa

Acquiring 23 Tables for Drampa from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/drampa

Acquiring 38 Tables for Drampa from Serebii
[█████████████████████████] 100.0% ...Collected

920    \nUpdated Body Type for all entries of Drampa
Name: NAME, dtype: object
Drampa
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Drampa
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Drampa
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
921,781,1,7811,7,Alolan,Dhelmise,,,,Ghost,...,,,70,131,100,86,90,40,,

CURRENT INDICIES
[921]
Returning Entries for: #781 - Dhelmise
https://bulbapedia.bulbagarden.net/wiki/Dhelmise_(Pok%C3%A9mon)

Acquiring 87 Images for Dhelmise from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dhelmise

Acquiring 17 Tables for Dhelmise from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dhelmise

Acquiring 34 Tables for Dhelmise from Serebii
[█████████████████████████] 100.0% ...Collected

921    \nUpdated Body Type for all entries of Dhelmise
Name: NAME, dtype: object
Dhelmise
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dhelmise
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dhelmise
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
922,782,1,7821,7,Alolan,Jangmo-o,,,,Dragon,...,,,45,55,65,45,45,45,,

CURRENT INDICIES
[922]
Returning Entries for: #782 - Jangmo-o
https://bulbapedia.bulbagarden.net/wiki/Jangmo-o_(Pok%C3%A9mon)

Acquiring 122 Images for Jangmo-o from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Jangmo-o

Acquiring 19 Tables for Jangmo-o from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/jangmo-o

Acquiring 38 Tables for Jangmo-o from Serebii
[█████████████████████████] 100.0% ...Collected

922    \nUpdated Body Type for all entries of Jangmo-o
Name: NAME, dtype: object
Jangmo-o
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Jangmo-o
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Jangmo-o
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
923,783,1,7831,7,Alolan,Hakamo-o,,,,Dragon,...,,,55,75,90,65,70,65,,

CURRENT INDICIES
[923]
Returning Entries for: #783 - Hakamo-o
https://bulbapedia.bulbagarden.net/wiki/Hakamo-o_(Pok%C3%A9mon)

Acquiring 127 Images for Hakamo-o from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hakamo-o

Acquiring 20 Tables for Hakamo-o from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hakamo-o

Acquiring 38 Tables for Hakamo-o from Serebii
[█████████████████████████] 100.0% ...Collected

923    \nUpdated Body Type for all entries of Hakamo-o
Name: NAME, dtype: object
Hakamo-o
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hakamo-o
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hakamo-o
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
924,784,1,7841,7,Alolan,Kommo-o,,,,Dragon,...,,,75,110,125,100,105,85,,

CURRENT INDICIES
[924]
Returning Entries for: #784 - Kommo-o
https://bulbapedia.bulbagarden.net/wiki/Kommo-o_(Pok%C3%A9mon)

Acquiring 144 Images for Kommo-o from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kommo-o

Acquiring 22 Tables for Kommo-o from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kommo-o

Acquiring 38 Tables for Kommo-o from Serebii
[█████████████████████████] 100.0% ...Collected

924    \nUpdated Body Type for all entries of Kommo-o
Name: NAME, dtype: object
Kommo-o
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kommo-o
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kommo-o
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
925,785,1,7851,7,Alolan,Tapu Koko,,,,Electric,...,,,70,115,85,95,75,130,,

CURRENT INDICIES
[925]
Returning Entries for: #785 - Tapu Koko
https://bulbapedia.bulbagarden.net/wiki/Tapu_Koko_(Pok%C3%A9mon)

Acquiring 101 Images for Tapu_Koko from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/tapu-koko

Acquiring 16 Tables for tapu-koko from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tapukoko

Acquiring 31 Tables for tapukoko from Serebii
[█████████████████████████] 100.0% ...Collected

925    \nUpdated Body Type for all entries of Tapu Koko
Name: NAME, dtype: object
Tapu Koko
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tapu Koko
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tapu Koko
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
926,786,1,7861,7,Alolan,Tapu Lele,,,,Psychic,...,,,70,85,75,130,115,95,,

CURRENT INDICIES
[926]
Returning Entries for: #786 - Tapu Lele
https://bulbapedia.bulbagarden.net/wiki/Tapu_Lele_(Pok%C3%A9mon)

Acquiring 88 Images for Tapu_Lele from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/tapu-lele

Acquiring 16 Tables for tapu-lele from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tapulele

Acquiring 31 Tables for tapulele from Serebii
[█████████████████████████] 100.0% ...Collected

926    \nUpdated Body Type for all entries of Tapu Lele
Name: NAME, dtype: object
Tapu Lele
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tapu Lele
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tapu Lele
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
927,787,1,7871,7,Alolan,Tapu Bulu,,,,Grass,...,,,70,130,115,85,95,75,,

CURRENT INDICIES
[927]
Returning Entries for: #787 - Tapu Bulu
https://bulbapedia.bulbagarden.net/wiki/Tapu_Bulu_(Pok%C3%A9mon)

Acquiring 97 Images for Tapu_Bulu from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/tapu-bulu

Acquiring 16 Tables for tapu-bulu from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tapubulu

Acquiring 31 Tables for tapubulu from Serebii
[█████████████████████████] 100.0% ...Collected

927    \nUpdated Body Type for all entries of Tapu Bulu
Name: NAME, dtype: object
Tapu Bulu
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tapu Bulu
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tapu Bulu
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
928,788,1,7881,7,Alolan,Tapu Fini,,,,Water,...,,,70,75,115,95,130,85,,

CURRENT INDICIES
[928]
Returning Entries for: #788 - Tapu Fini
https://bulbapedia.bulbagarden.net/wiki/Tapu_Fini_(Pok%C3%A9mon)

Acquiring 88 Images for Tapu_Fini from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/tapu-fini

Acquiring 16 Tables for tapu-fini from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/tapufini

Acquiring 31 Tables for tapufini from Serebii
[█████████████████████████] 100.0% ...Collected

928    \nUpdated Body Type for all entries of Tapu Fini
Name: NAME, dtype: object
Tapu Fini
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Tapu Fini
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Tapu Fini
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
929,789,1,7891,7,Alolan,Cosmog,,,,Psychic,...,,,43,29,31,29,31,37,,

CURRENT INDICIES
[929]
Returning Entries for: #789 - Cosmog
https://bulbapedia.bulbagarden.net/wiki/Cosmog_(Pok%C3%A9mon)

Acquiring 53 Images for Cosmog from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cosmog

Acquiring 12 Tables for Cosmog from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cosmog

Acquiring 30 Tables for Cosmog from Serebii
[█████████████████████████] 100.0% ...Collected

929    \nUpdated Body Type for all entries of Cosmog
Name: NAME, dtype: object
Cosmog
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cosmog
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cosmog
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
930,790,1,7901,7,Alolan,Cosmoem,,,,Psychic,...,,,43,29,131,29,131,37,,

CURRENT INDICIES
[930]
Returning Entries for: #790 - Cosmoem
https://bulbapedia.bulbagarden.net/wiki/Cosmoem_(Pok%C3%A9mon)

Acquiring 57 Images for Cosmoem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cosmoem

Acquiring 16 Tables for Cosmoem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cosmoem

Acquiring 31 Tables for Cosmoem from Serebii
[█████████████████████████] 100.0% ...Collected

930    \nUpdated Body Type for all entries of Cosmoem
Name: NAME, dtype: object
Cosmoem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cosmoem
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cosmoem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
931,791,1,7911,7,Alolan,Solgaleo,,,,Psychic,...,,,137,137,107,113,89,97,,

CURRENT INDICIES
[931]
Returning Entries for: #791 - Solgaleo
https://bulbapedia.bulbagarden.net/wiki/Solgaleo_(Pok%C3%A9mon)

Acquiring 132 Images for Solgaleo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Solgaleo

Acquiring 20 Tables for Solgaleo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/solgaleo

Acquiring 34 Tables for Solgaleo from Serebii
[█████████████████████████] 100.0% ...Collected

931    \nUpdated Body Type for all entries of Solgaleo
Name: NAME, dtype: object
Solgaleo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Solgaleo
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Solgaleo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
932,792,1,7921,7,Alolan,Lunala,,,,Psychic,...,,,137,113,89,137,107,97,,

CURRENT INDICIES
[932]
Returning Entries for: #792 - Lunala
https://bulbapedia.bulbagarden.net/wiki/Lunala_(Pok%C3%A9mon)

Acquiring 124 Images for Lunala from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Lunala

Acquiring 20 Tables for Lunala from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/lunala

Acquiring 33 Tables for Lunala from Serebii
[█████████████████████████] 100.0% ...Collected

932    \nUpdated Body Type for all entries of Lunala
Name: NAME, dtype: object
Lunala
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Lunala
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Lunala
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
933,793,1,7931,7,Alolan,Nihilego,,,,Rock,...,,,109,53,47,127,131,103,,

CURRENT INDICIES
[933]
Returning Entries for: #793 - Nihilego
https://bulbapedia.bulbagarden.net/wiki/Nihilego_(Pok%C3%A9mon)

Acquiring 98 Images for Nihilego from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Nihilego

Acquiring 17 Tables for Nihilego from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/nihilego

Acquiring 32 Tables for Nihilego from Serebii
[█████████████████████████] 100.0% ...Collected

933    \nUpdated Body Type for all entries of Nihilego
Name: NAME, dtype: object
Nihilego
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Nihilego
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Nihilego
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
934,794,1,7941,7,Alolan,Buzzwole,,,,Bug,...,,,107,139,139,53,53,79,,

CURRENT INDICIES
[934]
Returning Entries for: #794 - Buzzwole
https://bulbapedia.bulbagarden.net/wiki/Buzzwole_(Pok%C3%A9mon)

Acquiring 88 Images for Buzzwole from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Buzzwole

Acquiring 17 Tables for Buzzwole from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/buzzwole

Acquiring 32 Tables for Buzzwole from Serebii
[█████████████████████████] 100.0% ...Collected

934    \nUpdated Body Type for all entries of Buzzwole
Name: NAME, dtype: object
Buzzwole
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Buzzwole
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Buzzwole
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
935,795,1,7951,7,Alolan,Pheromosa,,,,Bug,...,,,71,137,37,137,37,151,,

CURRENT INDICIES
[935]
Returning Entries for: #795 - Pheromosa
https://bulbapedia.bulbagarden.net/wiki/Pheromosa_(Pok%C3%A9mon)

Acquiring 80 Images for Pheromosa from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pheromosa

Acquiring 17 Tables for Pheromosa from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pheromosa

Acquiring 32 Tables for Pheromosa from Serebii
[█████████████████████████] 100.0% ...Collected

935    \nUpdated Body Type for all entries of Pheromosa
Name: NAME, dtype: object
Pheromosa
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pheromosa
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pheromosa
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
936,796,1,7961,7,Alolan,Xurkitree,,,,Electric,...,,,83,89,71,173,71,83,,

CURRENT INDICIES
[936]
Returning Entries for: #796 - Xurkitree
https://bulbapedia.bulbagarden.net/wiki/Xurkitree_(Pok%C3%A9mon)

Acquiring 78 Images for Xurkitree from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Xurkitree

Acquiring 17 Tables for Xurkitree from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/xurkitree

Acquiring 32 Tables for Xurkitree from Serebii
[█████████████████████████] 100.0% ...Collected

936    \nUpdated Body Type for all entries of Xurkitree
Name: NAME, dtype: object
Xurkitree
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Xurkitree
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Xurkitree
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
937,797,1,7971,7,Alolan,Celesteela,,,,Steel,...,,,97,101,103,107,101,61,,

CURRENT INDICIES
[937]
Returning Entries for: #797 - Celesteela
https://bulbapedia.bulbagarden.net/wiki/Celesteela_(Pok%C3%A9mon)

Acquiring 83 Images for Celesteela from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Celesteela

Acquiring 17 Tables for Celesteela from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/celesteela

Acquiring 33 Tables for Celesteela from Serebii
[█████████████████████████] 100.0% ...Collected

937    \nUpdated Body Type for all entries of Celesteela
Name: NAME, dtype: object
Celesteela
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Celesteela
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Celesteela
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
938,798,1,7981,7,Alolan,Kartana,,,,Grass,...,,,59,181,131,59,31,109,,

CURRENT INDICIES
[938]
Returning Entries for: #798 - Kartana
https://bulbapedia.bulbagarden.net/wiki/Kartana_(Pok%C3%A9mon)

Acquiring 66 Images for Kartana from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kartana

Acquiring 16 Tables for Kartana from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kartana

Acquiring 32 Tables for Kartana from Serebii
[█████████████████████████] 100.0% ...Collected

938    \nUpdated Body Type for all entries of Kartana
Name: NAME, dtype: object
Kartana
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kartana
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kartana
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
939,799,1,7991,7,Alolan,Guzzlord,,,,Dark,...,,,223,101,53,97,53,43,,

CURRENT INDICIES
[939]
Returning Entries for: #799 - Guzzlord
https://bulbapedia.bulbagarden.net/wiki/Guzzlord_(Pok%C3%A9mon)

Acquiring 95 Images for Guzzlord from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Guzzlord

Acquiring 17 Tables for Guzzlord from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/guzzlord

Acquiring 33 Tables for Guzzlord from Serebii
[█████████████████████████] 100.0% ...Collected

939    \nUpdated Body Type for all entries of Guzzlord
Name: NAME, dtype: object
Guzzlord
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Guzzlord
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Guzzlord
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
940,800,1,8001,7,Alolan,Necrozma,,,,Psychic,...,,,97,107,101,127,89,79,,
941,800,2,8002,7,Alolan,Necrozma,,,,Psychic,...,,,97,157,127,113,109,77,,
942,800,3,8003,7,Alolan,Necrozma,,,,Psychic,...,,,97,113,109,157,127,77,,
943,800,4,8004,7,Alolan,Necrozma,,,,Psychic,...,,,97,167,97,167,97,129,,

CURRENT INDICIES
[940, 941, 942, 943]
Returning Entries for: #800 - Necrozma
https://bulbapedia.bulbagarden.net/wiki/Necrozma_(Pok%C3%A9mon)

Acquiring 174 Images for Necrozma from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Necrozma

Acquiring 38 Tables for Necrozma from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/necrozma

Acquiring 59 Tables for Necrozma from Serebii
[█████████████████████████] 100.0% ...Collected

940    \nUpdated Body Type for all entries of Necrozma
941    \nUpdated Body Type for all entries of Necrozma
942    \nUpdated Body Type for all entries of Necrozma
943    \nUpdated Body Type for all entries of Necrozma
Name: NAME, dtype: object
Necrozma
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Necrozma
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Necrozma
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
940,800,1,8001,7,Alolan,Necrozma,,,,Psychic,...,,,97,107,101,127,89,79,,
941,800,2,8002,7,Alolan,Necrozma,,,,Psychic,...,,,97,157,127,113,109,77,,
942,800,3,8003,7,Alolan,Necrozma,,,,Psychic,...,,,97,113,109,157,127,77,,
943,800,4,8004,7,Alolan,Necrozma,,,,Psychic,...,,,97,167,97,167,97,129,,

CURRENT INDICIES
[940, 941, 942, 943]
Returning Entries for: #800 - Necrozma
https://bulbapedia.bulbagarden.net/wiki/Necrozma_(Pok%C3%A9mon)

Acquiring 174 Images for Necrozma from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Necrozma

Acquiring 38 Tables for Necrozma from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/necrozma

Acquiring 59 Tables for Necrozma from Serebii
[█████████████████████████] 100.0% ...Collected

940    \nUpdated Body Type for all entries of Necrozma
941    \nUpdated Body Type for all entries of Necrozma
942    \nUpdated Body Type for all entries of Necrozma
943    \nUpdated Body Type for all entries of Necrozma
Name: NAME, dtype: object
Necrozma
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Necrozma
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Necrozma
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
940,800,1,8001,7,Alolan,Necrozma,,,,Psychic,...,,,97,107,101,127,89,79,,
941,800,2,8002,7,Alolan,Necrozma,,,,Psychic,...,,,97,157,127,113,109,77,,
942,800,3,8003,7,Alolan,Necrozma,,,,Psychic,...,,,97,113,109,157,127,77,,
943,800,4,8004,7,Alolan,Necrozma,,,,Psychic,...,,,97,167,97,167,97,129,,

CURRENT INDICIES
[940, 941, 942, 943]
Returning Entries for: #800 - Necrozma
https://bulbapedia.bulbagarden.net/wiki/Necrozma_(Pok%C3%A9mon)

Acquiring 174 Images for Necrozma from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Necrozma

Acquiring 38 Tables for Necrozma from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/necrozma

Acquiring 59 Tables for Necrozma from Serebii
[█████████████████████████] 100.0% ...Collected

940    \nUpdated Body Type for all entries of Necrozma
941    \nUpdated Body Type for all entries of Necrozma
942    \nUpdated Body Type for all entries of Necrozma
943    \nUpdated Body Type for all entries of Necrozma
Name: NAME, dtype: object
Necrozma
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Necrozma
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Necrozma
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
940,800,1,8001,7,Alolan,Necrozma,,,,Psychic,...,,,97,107,101,127,89,79,,
941,800,2,8002,7,Alolan,Necrozma,,,,Psychic,...,,,97,157,127,113,109,77,,
942,800,3,8003,7,Alolan,Necrozma,,,,Psychic,...,,,97,113,109,157,127,77,,
943,800,4,8004,7,Alolan,Necrozma,,,,Psychic,...,,,97,167,97,167,97,129,,

CURRENT INDICIES
[940, 941, 942, 943]
Returning Entries for: #800 - Necrozma
https://bulbapedia.bulbagarden.net/wiki/Necrozma_(Pok%C3%A9mon)

Acquiring 174 Images for Necrozma from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Necrozma

Acquiring 38 Tables for Necrozma from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/necrozma

Acquiring 59 Tables for Necrozma from Serebii
[█████████████████████████] 100.0% ...Collected

940    \nUpdated Body Type for all entries of Necrozma
941    \nUpdated Body Type for all entries of Necrozma
942    \nUpdated Body Type for all entries of Necrozma
943    \nUpdated Body Type for all entries of Necrozma
Name: NAME, dtype: object
Necrozma
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Necrozma
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Necrozma
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
944,801,1,8011,7,Alolan,Magearna,,,,Steel,...,,,80,95,115,130,115,65,,

CURRENT INDICIES
[944]
Returning Entries for: #801 - Magearna
https://bulbapedia.bulbagarden.net/wiki/Magearna_(Pok%C3%A9mon)

Acquiring 107 Images for Magearna from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Magearna

Acquiring 18 Tables for Magearna from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/magearna

Acquiring 36 Tables for Magearna from Serebii
[█████████████████████████] 100.0% ...Collected

944    \nUpdated Body Type for all entries of Magearna
Name: NAME, dtype: object
Magearna
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Magearna
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Magearna
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
945,802,1,8021,7,Alolan,Marshadow,,,,Fighting,...,,,90,125,80,90,90,125,,

CURRENT INDICIES
[945]
Returning Entries for: #802 - Marshadow
https://bulbapedia.bulbagarden.net/wiki/Marshadow_(Pok%C3%A9mon)

Acquiring 101 Images for Marshadow from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Marshadow

Acquiring 17 Tables for Marshadow from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/marshadow

Acquiring 33 Tables for Marshadow from Serebii
[█████████████████████████] 100.0% ...Collected

945    \nUpdated Body Type for all entries of Marshadow
Name: NAME, dtype: object
Marshadow
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Marshadow
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Marshadow
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
946,803,1,8031,7,Alolan,Poipole,,,,Poison,...,,,67,73,67,73,67,73,,

CURRENT INDICIES
[946]
Returning Entries for: #803 - Poipole
https://bulbapedia.bulbagarden.net/wiki/Poipole_(Pok%C3%A9mon)

Acquiring 68 Images for Poipole from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Poipole

Acquiring 16 Tables for Poipole from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/poipole

Acquiring 31 Tables for Poipole from Serebii
[█████████████████████████] 100.0% ...Collected

946    \nUpdated Body Type for all entries of Poipole
Name: NAME, dtype: object
Poipole
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Poipole
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Poipole
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
947,804,1,8041,7,Alolan,Naganadel,,,,Poison,...,,,73,73,73,127,73,121,,

CURRENT INDICIES
[947]
Returning Entries for: #804 - Naganadel
https://bulbapedia.bulbagarden.net/wiki/Naganadel_(Pok%C3%A9mon)

Acquiring 90 Images for Naganadel from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Naganadel

Acquiring 20 Tables for Naganadel from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/naganadel

Acquiring 33 Tables for Naganadel from Serebii
[█████████████████████████] 100.0% ...Collected

947    \nUpdated Body Type for all entries of Naganadel
Name: NAME, dtype: object
Naganadel
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Naganadel
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Naganadel
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
948,805,1,8051,7,Alolan,Stakataka,,,,Rock,...,,,61,131,211,53,101,13,,

CURRENT INDICIES
[948]
Returning Entries for: #805 - Stakataka
https://bulbapedia.bulbagarden.net/wiki/Stakataka_(Pok%C3%A9mon)

Acquiring 75 Images for Stakataka from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Stakataka

Acquiring 17 Tables for Stakataka from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/stakataka

Acquiring 33 Tables for Stakataka from Serebii
[█████████████████████████] 100.0% ...Collected

948    \nUpdated Body Type for all entries of Stakataka
Name: NAME, dtype: object
Stakataka
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Stakataka
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Stakataka
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
949,806,1,8061,7,Alolan,Blacephalon,,,,Fire,...,,,53,127,53,151,79,107,,

CURRENT INDICIES
[949]
Returning Entries for: #806 - Blacephalon
https://bulbapedia.bulbagarden.net/wiki/Blacephalon_(Pok%C3%A9mon)

Acquiring 76 Images for Blacephalon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Blacephalon

Acquiring 17 Tables for Blacephalon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/blacephalon

Acquiring 32 Tables for Blacephalon from Serebii
[█████████████████████████] 100.0% ...Collected

949    \nUpdated Body Type for all entries of Blaceph...
Name: NAME, dtype: object
Blacephalon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Blacephalon
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Blacephalon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
950,807,1,8071,7,Alolan,Zeraora,,,,Electric,...,,,88,112,75,102,80,143,,

CURRENT INDICIES
[950]
Returning Entries for: #807 - Zeraora
https://bulbapedia.bulbagarden.net/wiki/Zeraora_(Pok%C3%A9mon)

Acquiring 92 Images for Zeraora from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zeraora

Acquiring 17 Tables for Zeraora from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zeraora

Acquiring 33 Tables for Zeraora from Serebii
[█████████████████████████] 100.0% ...Collected

950    \nUpdated Body Type for all entries of Zeraora
Name: NAME, dtype: object
Zeraora
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zeraora
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zeraora
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
951,808,1,8081,7,Alolan,Meltan,,,,Steel,...,,,46,65,65,55,35,34,,

CURRENT INDICIES
[951]
Returning Entries for: #808 - Meltan
https://bulbapedia.bulbagarden.net/wiki/Meltan_(Pok%C3%A9mon)

Acquiring 51 Images for Meltan from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Meltan

Acquiring 15 Tables for Meltan from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meltan

Acquiring 33 Tables for Meltan from Serebii
[█████████████████████████] 100.0% ...Collected

951    \nUpdated Body Type for all entries of Meltan
Name: NAME, dtype: object
Meltan
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meltan
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meltan
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
952,809,1,8091,7,Alolan,Melmetal,,,,Steel,...,,,135,143,143,80,65,34,,

CURRENT INDICIES
[952]
Returning Entries for: #809 - Melmetal
https://bulbapedia.bulbagarden.net/wiki/Melmetal_(Pok%C3%A9mon)

Acquiring 80 Images for Melmetal from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Melmetal

Acquiring 19 Tables for Melmetal from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/melmetal

Acquiring 46 Tables for Melmetal from Serebii
[█████████████████████████] 100.0% ...Collected

952    \nUpdated Body Type for all entries of Melmetal
Name: NAME, dtype: object
Melmetal
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Melmetal
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Melmetal
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
953,810,1,8101,8,Galarian,Grookey,,,,Grass,...,,,50,65,50,40,40,65,,

CURRENT INDICIES
[953]
Returning Entries for: #810 - Grookey
https://bulbapedia.bulbagarden.net/wiki/Grookey_(Pok%C3%A9mon)

Acquiring 199 Images for Grookey from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Grookey

Acquiring 15 Tables for Grookey from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/grookey

Acquiring 37 Tables for Grookey from Serebii
[█████████████████████████] 100.0% ...Collected

953    \nUpdated Body Type for all entries of Grookey
Name: NAME, dtype: object
Grookey
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Grookey
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Grookey
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
954,811,1,8111,8,Galarian,Thwackey,,,,Grass,...,,,70,85,70,55,60,80,,

CURRENT INDICIES
[954]
Returning Entries for: #811 - Thwackey
https://bulbapedia.bulbagarden.net/wiki/Thwackey_(Pok%C3%A9mon)

Acquiring 156 Images for Thwackey from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Thwackey

Acquiring 16 Tables for Thwackey from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/thwackey

Acquiring 37 Tables for Thwackey from Serebii
[█████████████████████████] 100.0% ...Collected

954    \nUpdated Body Type for all entries of Thwackey
Name: NAME, dtype: object
Thwackey
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Thwackey
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Thwackey
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
955,812,1,8121,8,Galarian,Rillaboom,,,,Grass,...,,,100,125,90,60,70,85,,

CURRENT INDICIES
[955]
Returning Entries for: #812 - Rillaboom
https://bulbapedia.bulbagarden.net/wiki/Rillaboom_(Pok%C3%A9mon)

Acquiring 184 Images for Rillaboom from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rillaboom

Acquiring 17 Tables for Rillaboom from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rillaboom

Acquiring 47 Tables for Rillaboom from Serebii
[█████████████████████████] 100.0% ...Collected

955    \nUpdated Body Type for all entries of Rillaboom
Name: NAME, dtype: object
Rillaboom
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rillaboom
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rillaboom
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
956,813,1,8131,8,Galarian,Scorbunny,,,,Fire,...,,,50,71,40,40,40,69,,

CURRENT INDICIES
[956]
Returning Entries for: #813 - Scorbunny
https://bulbapedia.bulbagarden.net/wiki/Scorbunny_(Pok%C3%A9mon)

Acquiring 191 Images for Scorbunny from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Scorbunny

Acquiring 14 Tables for Scorbunny from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/scorbunny

Acquiring 36 Tables for Scorbunny from Serebii
[█████████████████████████] 100.0% ...Collected

956    \nUpdated Body Type for all entries of Scorbunny
Name: NAME, dtype: object
Scorbunny
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Scorbunny
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Scorbunny
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
957,814,1,8141,8,Galarian,Raboot,,,,Fire,...,,,65,86,60,55,60,94,,

CURRENT INDICIES
[957]
Returning Entries for: #814 - Raboot
https://bulbapedia.bulbagarden.net/wiki/Raboot_(Pok%C3%A9mon)

Acquiring 152 Images for Raboot from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Raboot

Acquiring 14 Tables for Raboot from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/raboot

Acquiring 36 Tables for Raboot from Serebii
[█████████████████████████] 100.0% ...Collected

957    \nUpdated Body Type for all entries of Raboot
Name: NAME, dtype: object
Raboot
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Raboot
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Raboot
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
958,815,1,8151,8,Galarian,Cinderace,,,,Fire,...,,,80,116,75,65,75,119,,

CURRENT INDICIES
[958]
Returning Entries for: #815 - Cinderace
https://bulbapedia.bulbagarden.net/wiki/Cinderace_(Pok%C3%A9mon)

Acquiring 170 Images for Cinderace from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cinderace

Acquiring 17 Tables for Cinderace from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cinderace

Acquiring 52 Tables for Cinderace from Serebii
[█████████████████████████] 100.0% ...Collected

958    \nUpdated Body Type for all entries of Cinderace
Name: NAME, dtype: object
Cinderace
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cinderace
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cinderace
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
959,816,1,8161,8,Galarian,Sobble,,,,Water,...,,,50,40,40,70,40,70,,

CURRENT INDICIES
[959]
Returning Entries for: #816 - Sobble
https://bulbapedia.bulbagarden.net/wiki/Sobble_(Pok%C3%A9mon)

Acquiring 163 Images for Sobble from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sobble

Acquiring 14 Tables for Sobble from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sobble

Acquiring 36 Tables for Sobble from Serebii
[█████████████████████████] 100.0% ...Collected

959    \nUpdated Body Type for all entries of Sobble
Name: NAME, dtype: object
Sobble
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sobble
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sobble
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
960,817,1,8171,8,Galarian,Drizzile,,,,Water,...,,,65,60,60,95,55,90,,

CURRENT INDICIES
[960]
Returning Entries for: #817 - Drizzile
https://bulbapedia.bulbagarden.net/wiki/Drizzile_(Pok%C3%A9mon)

Acquiring 122 Images for Drizzile from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Drizzile

Acquiring 14 Tables for Drizzile from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/drizzile

Acquiring 36 Tables for Drizzile from Serebii
[█████████████████████████] 100.0% ...Collected

960    \nUpdated Body Type for all entries of Drizzile
Name: NAME, dtype: object
Drizzile
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Drizzile
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Drizzile
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
961,818,1,8181,8,Galarian,Inteleon,,,,Water,...,,,70,85,75,125,65,120,,

CURRENT INDICIES
[961]
Returning Entries for: #818 - Inteleon
https://bulbapedia.bulbagarden.net/wiki/Inteleon_(Pok%C3%A9mon)

Acquiring 149 Images for Inteleon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Inteleon

Acquiring 17 Tables for Inteleon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/inteleon

Acquiring 49 Tables for Inteleon from Serebii
[█████████████████████████] 100.0% ...Collected

961    \nUpdated Body Type for all entries of Inteleon
Name: NAME, dtype: object
Inteleon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Inteleon
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Inteleon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
962,819,1,8191,8,Galarian,Skwovet,,,,Normal,...,,,70,55,40,35,35,25,,

CURRENT INDICIES
[962]
Returning Entries for: #819 - Skwovet
https://bulbapedia.bulbagarden.net/wiki/Skwovet_(Pok%C3%A9mon)

Acquiring 110 Images for Skwovet from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Skwovet

Acquiring 14 Tables for Skwovet from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/skwovet

Acquiring 35 Tables for Skwovet from Serebii
[█████████████████████████] 100.0% ...Collected

962    \nUpdated Body Type for all entries of Skwovet
Name: NAME, dtype: object
Skwovet
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Skwovet
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Skwovet
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
963,820,1,8201,8,Galarian,Greedent,,,,Normal,...,,,120,95,55,55,75,20,,

CURRENT INDICIES
[963]
Returning Entries for: #820 - Greedent
https://bulbapedia.bulbagarden.net/wiki/Greedent_(Pok%C3%A9mon)

Acquiring 118 Images for Greedent from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Greedent

Acquiring 15 Tables for Greedent from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/greedent

Acquiring 35 Tables for Greedent from Serebii
[█████████████████████████] 100.0% ...Collected

963    \nUpdated Body Type for all entries of Greedent
Name: NAME, dtype: object
Greedent
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Greedent
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Greedent
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
964,821,1,8211,8,Galarian,Rookidee,,,,Flying,...,,,38,47,65,33,35,57,,

CURRENT INDICIES
[964]
Returning Entries for: #821 - Rookidee
https://bulbapedia.bulbagarden.net/wiki/Rookidee_(Pok%C3%A9mon)

Acquiring 108 Images for Rookidee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rookidee

Acquiring 15 Tables for Rookidee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rookidee

Acquiring 36 Tables for Rookidee from Serebii
[█████████████████████████] 100.0% ...Collected

964    \nUpdated Body Type for all entries of Rookidee
Name: NAME, dtype: object
Rookidee
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rookidee
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rookidee
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
965,822,1,8221,8,Galarian,Corvisquire,,,,Flying,...,,,68,67,55,43,55,77,,

CURRENT INDICIES
[965]
Returning Entries for: #822 - Corvisquire
https://bulbapedia.bulbagarden.net/wiki/Corvisquire_(Pok%C3%A9mon)

Acquiring 107 Images for Corvisquire from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Corvisquire

Acquiring 15 Tables for Corvisquire from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/corvisquire

Acquiring 36 Tables for Corvisquire from Serebii
[█████████████████████████] 100.0% ...Collected

965    \nUpdated Body Type for all entries of Corvisq...
Name: NAME, dtype: object
Corvisquire
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Corvisquire
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Corvisquire
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
966,823,1,8231,8,Galarian,Corviknight,,,,Flying,...,,,98,87,105,53,85,67,,

CURRENT INDICIES
[966]
Returning Entries for: #823 - Corviknight
https://bulbapedia.bulbagarden.net/wiki/Corviknight_(Pok%C3%A9mon)

Acquiring 134 Images for Corviknight from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Corviknight

Acquiring 17 Tables for Corviknight from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/corviknight

Acquiring 46 Tables for Corviknight from Serebii
[█████████████████████████] 100.0% ...Collected

966    \nUpdated Body Type for all entries of Corvikn...
Name: NAME, dtype: object
Corviknight
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Corviknight
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Corviknight
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
967,824,1,8241,8,Galarian,Blipbug,,,,Bug,...,,,25,20,20,25,45,45,,

CURRENT INDICIES
[967]
Returning Entries for: #824 - Blipbug
https://bulbapedia.bulbagarden.net/wiki/Blipbug_(Pok%C3%A9mon)

Acquiring 44 Images for Blipbug from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Blipbug

Acquiring 12 Tables for Blipbug from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/blipbug

Acquiring 33 Tables for Blipbug from Serebii
[█████████████████████████] 100.0% ...Collected

967    \nUpdated Body Type for all entries of Blipbug
Name: NAME, dtype: object
Blipbug
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Blipbug
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Blipbug
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
968,825,1,8251,8,Galarian,Dottler,,,,Bug,...,,,50,35,80,50,90,30,,

CURRENT INDICIES
[968]
Returning Entries for: #825 - Dottler
https://bulbapedia.bulbagarden.net/wiki/Dottler_(Pok%C3%A9mon)

Acquiring 81 Images for Dottler from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dottler

Acquiring 16 Tables for Dottler from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dottler

Acquiring 36 Tables for Dottler from Serebii
[█████████████████████████] 100.0% ...Collected

968    \nUpdated Body Type for all entries of Dottler
Name: NAME, dtype: object
Dottler
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dottler
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dottler
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
969,826,1,8261,8,Galarian,Orbeetle,,,,Bug,...,,,60,45,110,80,120,90,,

CURRENT INDICIES
[969]
Returning Entries for: #826 - Orbeetle
https://bulbapedia.bulbagarden.net/wiki/Orbeetle_(Pok%C3%A9mon)

Acquiring 98 Images for Orbeetle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Orbeetle

Acquiring 16 Tables for Orbeetle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/orbeetle

Acquiring 46 Tables for Orbeetle from Serebii
[█████████████████████████] 100.0% ...Collected

969    \nUpdated Body Type for all entries of Orbeetle
Name: NAME, dtype: object
Orbeetle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Orbeetle
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Orbeetle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
970,827,1,8271,8,Galarian,Nickit,,,,Dark,...,,,40,28,28,47,52,50,,

CURRENT INDICIES
[970]
Returning Entries for: #827 - Nickit
https://bulbapedia.bulbagarden.net/wiki/Nickit_(Pok%C3%A9mon)

Acquiring 91 Images for Nickit from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Nickit

Acquiring 15 Tables for Nickit from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/nickit

Acquiring 36 Tables for Nickit from Serebii
[█████████████████████████] 100.0% ...Collected

970    \nUpdated Body Type for all entries of Nickit
Name: NAME, dtype: object
Nickit
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Nickit
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Nickit
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
971,828,1,8281,8,Galarian,Thievul,,,,Dark,...,,,70,58,58,87,92,90,,

CURRENT INDICIES
[971]
Returning Entries for: #828 - Thievul
https://bulbapedia.bulbagarden.net/wiki/Thievul_(Pok%C3%A9mon)

Acquiring 103 Images for Thievul from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Thievul

Acquiring 16 Tables for Thievul from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/thievul

Acquiring 36 Tables for Thievul from Serebii
[█████████████████████████] 100.0% ...Collected

971    \nUpdated Body Type for all entries of Thievul
Name: NAME, dtype: object
Thievul
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Thievul
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Thievul
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
972,829,1,8291,8,Galarian,Gossifleur,,,,Grass,...,,,40,40,60,40,60,10,,

CURRENT INDICIES
[972]
Returning Entries for: #829 - Gossifleur
https://bulbapedia.bulbagarden.net/wiki/Gossifleur_(Pok%C3%A9mon)

Acquiring 144 Images for Gossifleur from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Gossifleur

Acquiring 15 Tables for Gossifleur from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/gossifleur

Acquiring 36 Tables for Gossifleur from Serebii
[█████████████████████████] 100.0% ...Collected

972    \nUpdated Body Type for all entries of Gossifleur
Name: NAME, dtype: object
Gossifleur
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Gossifleur
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Gossifleur
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
973,830,1,8301,8,Galarian,Eldegoss,,,,Grass,...,,,60,50,90,80,120,60,,

CURRENT INDICIES
[973]
Returning Entries for: #830 - Eldegoss
https://bulbapedia.bulbagarden.net/wiki/Eldegoss_(Pok%C3%A9mon)

Acquiring 149 Images for Eldegoss from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eldegoss

Acquiring 16 Tables for Eldegoss from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eldegoss

Acquiring 36 Tables for Eldegoss from Serebii
[█████████████████████████] 100.0% ...Collected

973    \nUpdated Body Type for all entries of Eldegoss
Name: NAME, dtype: object
Eldegoss
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eldegoss
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eldegoss
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
974,831,1,8311,8,Galarian,Wooloo,,,,Normal,...,,,42,40,55,40,45,48,,

CURRENT INDICIES
[974]
Returning Entries for: #831 - Wooloo
https://bulbapedia.bulbagarden.net/wiki/Wooloo_(Pok%C3%A9mon)

Acquiring 96 Images for Wooloo from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Wooloo

Acquiring 19 Tables for Wooloo from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/wooloo

Acquiring 36 Tables for Wooloo from Serebii
[█████████████████████████] 100.0% ...Collected

974    \nUpdated Body Type for all entries of Wooloo
Name: NAME, dtype: object
Wooloo
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Wooloo
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Wooloo
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
975,832,1,8321,8,Galarian,Dubwool,,,,Normal,...,,,72,80,100,60,90,88,,

CURRENT INDICIES
[975]
Returning Entries for: #832 - Dubwool
https://bulbapedia.bulbagarden.net/wiki/Dubwool_(Pok%C3%A9mon)

Acquiring 104 Images for Dubwool from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dubwool

Acquiring 19 Tables for Dubwool from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dubwool

Acquiring 36 Tables for Dubwool from Serebii
[█████████████████████████] 100.0% ...Collected

975    \nUpdated Body Type for all entries of Dubwool
Name: NAME, dtype: object
Dubwool
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dubwool
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dubwool
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
976,833,1,8331,8,Galarian,Chewtle,,,,Water,...,,,50,64,50,38,38,44,,

CURRENT INDICIES
[976]
Returning Entries for: #833 - Chewtle
https://bulbapedia.bulbagarden.net/wiki/Chewtle_(Pok%C3%A9mon)

Acquiring 64 Images for Chewtle from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Chewtle

Acquiring 15 Tables for Chewtle from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/chewtle

Acquiring 36 Tables for Chewtle from Serebii
[█████████████████████████] 100.0% ...Collected

976    \nUpdated Body Type for all entries of Chewtle
Name: NAME, dtype: object
Chewtle
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Chewtle
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Chewtle
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
977,834,1,8341,8,Galarian,Drednaw,,,,Water,...,,,90,115,90,48,68,74,,

CURRENT INDICIES
[977]
Returning Entries for: #834 - Drednaw
https://bulbapedia.bulbagarden.net/wiki/Drednaw_(Pok%C3%A9mon)

Acquiring 110 Images for Drednaw from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Drednaw

Acquiring 17 Tables for Drednaw from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/drednaw

Acquiring 50 Tables for Drednaw from Serebii
[█████████████████████████] 100.0% ...Collected

977    \nUpdated Body Type for all entries of Drednaw
Name: NAME, dtype: object
Drednaw
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Drednaw
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Drednaw
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
978,835,1,8351,8,Galarian,Yamper,,,,Electric,...,,,59,45,50,40,50,26,,

CURRENT INDICIES
[978]
Returning Entries for: #835 - Yamper
https://bulbapedia.bulbagarden.net/wiki/Yamper_(Pok%C3%A9mon)

Acquiring 153 Images for Yamper from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Yamper

Acquiring 15 Tables for Yamper from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/yamper

Acquiring 36 Tables for Yamper from Serebii
[█████████████████████████] 100.0% ...Collected

978    \nUpdated Body Type for all entries of Yamper
Name: NAME, dtype: object
Yamper
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Yamper
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Yamper
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
979,836,1,8361,8,Galarian,Boltund,,,,Electric,...,,,69,90,60,90,60,121,,

CURRENT INDICIES
[979]
Returning Entries for: #836 - Boltund
https://bulbapedia.bulbagarden.net/wiki/Boltund_(Pok%C3%A9mon)

Acquiring 158 Images for Boltund from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Boltund

Acquiring 15 Tables for Boltund from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/boltund

Acquiring 36 Tables for Boltund from Serebii
[█████████████████████████] 100.0% ...Collected

979    \nUpdated Body Type for all entries of Boltund
Name: NAME, dtype: object
Boltund
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Boltund
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Boltund
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
980,837,1,8371,8,Galarian,Rolycoly,,,,Rock,...,,,30,40,50,40,50,30,,

CURRENT INDICIES
[980]
Returning Entries for: #837 - Rolycoly
https://bulbapedia.bulbagarden.net/wiki/Rolycoly_(Pok%C3%A9mon)

Acquiring 69 Images for Rolycoly from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Rolycoly

Acquiring 19 Tables for Rolycoly from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/rolycoly

Acquiring 36 Tables for Rolycoly from Serebii
[█████████████████████████] 100.0% ...Collected

980    \nUpdated Body Type for all entries of Rolycoly
Name: NAME, dtype: object
Rolycoly
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Rolycoly
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Rolycoly
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
981,838,1,8381,8,Galarian,Carkol,,,,Rock,...,,,80,60,90,60,70,50,,

CURRENT INDICIES
[981]
Returning Entries for: #838 - Carkol
https://bulbapedia.bulbagarden.net/wiki/Carkol_(Pok%C3%A9mon)

Acquiring 78 Images for Carkol from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Carkol

Acquiring 20 Tables for Carkol from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/carkol

Acquiring 36 Tables for Carkol from Serebii
[█████████████████████████] 100.0% ...Collected

981    \nUpdated Body Type for all entries of Carkol
Name: NAME, dtype: object
Carkol
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Carkol
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Carkol
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
982,839,1,8391,8,Galarian,Coalossal,,,,Rock,...,,,110,80,120,80,90,30,,

CURRENT INDICIES
[982]
Returning Entries for: #839 - Coalossal
https://bulbapedia.bulbagarden.net/wiki/Coalossal_(Pok%C3%A9mon)

Acquiring 101 Images for Coalossal from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Coalossal

Acquiring 21 Tables for Coalossal from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/coalossal

Acquiring 47 Tables for Coalossal from Serebii
[█████████████████████████] 100.0% ...Collected

982    \nUpdated Body Type for all entries of Coalossal
Name: NAME, dtype: object
Coalossal
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Coalossal
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Coalossal
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
983,840,1,8401,8,Galarian,Applin,,,,Grass,...,,,40,40,80,40,40,20,,

CURRENT INDICIES
[983]
Returning Entries for: #840 - Applin
https://bulbapedia.bulbagarden.net/wiki/Applin_(Pok%C3%A9mon)

Acquiring 46 Images for Applin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Applin

Acquiring 14 Tables for Applin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/applin

Acquiring 36 Tables for Applin from Serebii
[█████████████████████████] 100.0% ...Collected

983    \nUpdated Body Type for all entries of Applin
Name: NAME, dtype: object
Applin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Applin
Technical Machine Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Applin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
984,841,1,8411,8,Galarian,Flapple,,,,Grass,...,,,70,110,80,95,60,70,,

CURRENT INDICIES
[984]
Returning Entries for: #841 - Flapple
https://bulbapedia.bulbagarden.net/wiki/Flapple_(Pok%C3%A9mon)

Acquiring 79 Images for Flapple from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Flapple

Acquiring 17 Tables for Flapple from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/flapple

Acquiring 50 Tables for Flapple from Serebii
[█████████████████████████] 100.0% ...Collected

984    \nUpdated Body Type for all entries of Flapple
Name: NAME, dtype: object
Flapple
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Flapple
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Flapple
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
985,842,1,8421,8,Galarian,Appletun,,,,Grass,...,,,110,85,80,100,80,30,,

CURRENT INDICIES
[985]
Returning Entries for: #842 - Appletun
https://bulbapedia.bulbagarden.net/wiki/Appletun_(Pok%C3%A9mon)

Acquiring 85 Images for Appletun from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Appletun

Acquiring 21 Tables for Appletun from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/appletun

Acquiring 49 Tables for Appletun from Serebii
[█████████████████████████] 100.0% ...Collected

985    \nUpdated Body Type for all entries of Appletun
Name: NAME, dtype: object
Appletun
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Appletun
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Appletun
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
986,843,1,8431,8,Galarian,Silicobra,,,,Ground,...,,,52,57,75,35,50,46,,

CURRENT INDICIES
[986]
Returning Entries for: #843 - Silicobra
https://bulbapedia.bulbagarden.net/wiki/Silicobra_(Pok%C3%A9mon)

Acquiring 107 Images for Silicobra from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Silicobra

Acquiring 15 Tables for Silicobra from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/silicobra

Acquiring 36 Tables for Silicobra from Serebii
[█████████████████████████] 100.0% ...Collected

986    \nUpdated Body Type for all entries of Silicobra
Name: NAME, dtype: object
Silicobra
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Silicobra
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Silicobra
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
987,844,1,8441,8,Galarian,Sandaconda,,,,Ground,...,,,72,107,125,65,70,71,,

CURRENT INDICIES
[987]
Returning Entries for: #844 - Sandaconda
https://bulbapedia.bulbagarden.net/wiki/Sandaconda_(Pok%C3%A9mon)

Acquiring 131 Images for Sandaconda from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sandaconda

Acquiring 16 Tables for Sandaconda from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sandaconda

Acquiring 51 Tables for Sandaconda from Serebii
[█████████████████████████] 100.0% ...Collected

987    \nUpdated Body Type for all entries of Sandaconda
Name: NAME, dtype: object
Sandaconda
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sandaconda
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sandaconda
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
988,845,1,8451,8,Galarian,Cramorant,,,,Flying,...,,,70,85,55,85,95,85,,

CURRENT INDICIES
[988]
Returning Entries for: #845 - Cramorant
https://bulbapedia.bulbagarden.net/wiki/Cramorant_(Pok%C3%A9mon)

Acquiring 139 Images for Cramorant from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cramorant

Acquiring 17 Tables for Cramorant from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cramorant

Acquiring 39 Tables for Cramorant from Serebii
[█████████████████████████] 100.0% ...Collected

988    \nUpdated Body Type for all entries of Cramorant
Name: NAME, dtype: object
Cramorant
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cramorant
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cramorant
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
989,846,1,8461,8,Galarian,Arrokuda,,,,Water,...,,,41,63,40,40,30,66,,

CURRENT INDICIES
[989]
Returning Entries for: #846 - Arrokuda
https://bulbapedia.bulbagarden.net/wiki/Arrokuda_(Pok%C3%A9mon)

Acquiring 69 Images for Arrokuda from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Arrokuda

Acquiring 15 Tables for Arrokuda from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/arrokuda

Acquiring 36 Tables for Arrokuda from Serebii
[█████████████████████████] 100.0% ...Collected

989    \nUpdated Body Type for all entries of Arrokuda
Name: NAME, dtype: object
Arrokuda
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Arrokuda
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Arrokuda
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
990,847,1,8471,8,Galarian,Barraskewda,,,,Water,...,,,61,123,60,60,50,136,,

CURRENT INDICIES
[990]
Returning Entries for: #847 - Barraskewda
https://bulbapedia.bulbagarden.net/wiki/Barraskewda_(Pok%C3%A9mon)

Acquiring 71 Images for Barraskewda from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Barraskewda

Acquiring 15 Tables for Barraskewda from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/barraskewda

Acquiring 36 Tables for Barraskewda from Serebii
[█████████████████████████] 100.0% ...Collected

990    \nUpdated Body Type for all entries of Barrask...
Name: NAME, dtype: object
Barraskewda
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Barraskewda
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Barraskewda
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
991,848,1,8481,8,Galarian,Toxel,,,,Electric,...,,,40,38,35,54,35,40,,

CURRENT INDICIES
[991]
Returning Entries for: #848 - Toxel
https://bulbapedia.bulbagarden.net/wiki/Toxel_(Pok%C3%A9mon)

Acquiring 48 Images for Toxel from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Toxel

Acquiring 14 Tables for Toxel from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/toxel

Acquiring 34 Tables for Toxel from Serebii
[█████████████████████████] 100.0% ...Collected

991    \nUpdated Body Type for all entries of Toxel
Name: NAME, dtype: object
Toxel
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Toxel
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Toxel
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
992,849,1,8491,8,Galarian,Toxtricity,,,,Electric,...,,,75,98,70,114,70,75,,
993,849,2,8492,8,Galarian,Toxtricity,,,,Electric,...,,,75,98,70,114,70,75,,

CURRENT INDICIES
[992, 993]
Returning Entries for: #849 - Toxtricity
https://bulbapedia.bulbagarden.net/wiki/Toxtricity_(Pok%C3%A9mon)

Acquiring 158 Images for Toxtricity from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Toxtricity

Acquiring 27 Tables for Toxtricity from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/toxtricity

Acquiring 93 Tables for Toxtricity from Serebii
[█████████████████████████] 100.0% ...Collected

992    \nUpdated Body Type for all entries of Toxtricity
993    \nUpdated Body Type for all entries of Toxtricity
Name: NAME, dtype: object
Toxtricity
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Toxtricity
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Toxtricity
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
992,849,1,8491,8,Galarian,Toxtricity,,,,Electric,...,,,75,98,70,114,70,75,,
993,849,2,8492,8,Galarian,Toxtricity,,,,Electric,...,,,75,98,70,114,70,75,,

CURRENT INDICIES
[992, 993]
Returning Entries for: #849 - Toxtricity
https://bulbapedia.bulbagarden.net/wiki/Toxtricity_(Pok%C3%A9mon)

Acquiring 158 Images for Toxtricity from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Toxtricity

Acquiring 27 Tables for Toxtricity from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/toxtricity

Acquiring 93 Tables for Toxtricity from Serebii
[█████████████████████████] 100.0% ...Collected

992    \nUpdated Body Type for all entries of Toxtricity
993    \nUpdated Body Type for all entries of Toxtricity
Name: NAME, dtype: object
Toxtricity
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Toxtricity
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Toxtricity
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
994,850,1,8501,8,Galarian,Sizzlipede,,,,Fire,...,,,50,65,45,50,50,45,,

CURRENT INDICIES
[994]
Returning Entries for: #850 - Sizzlipede
https://bulbapedia.bulbagarden.net/wiki/Sizzlipede_(Pok%C3%A9mon)

Acquiring 73 Images for Sizzlipede from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sizzlipede

Acquiring 19 Tables for Sizzlipede from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sizzlipede

Acquiring 36 Tables for Sizzlipede from Serebii
[█████████████████████████] 100.0% ...Collected

994    \nUpdated Body Type for all entries of Sizzlipede
Name: NAME, dtype: object
Sizzlipede
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sizzlipede
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sizzlipede
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
995,851,1,8511,8,Galarian,Centiskorch,,,,Fire,...,,,100,115,65,90,90,65,,

CURRENT INDICIES
[995]
Returning Entries for: #851 - Centiskorch
https://bulbapedia.bulbagarden.net/wiki/Centiskorch_(Pok%C3%A9mon)

Acquiring 99 Images for Centiskorch from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Centiskorch

Acquiring 20 Tables for Centiskorch from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/centiskorch

Acquiring 51 Tables for Centiskorch from Serebii
[█████████████████████████] 100.0% ...Collected

995    \nUpdated Body Type for all entries of Centisk...
Name: NAME, dtype: object
Centiskorch
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Centiskorch
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Centiskorch
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
996,852,1,8521,8,Galarian,Clobbopus,,,,Fighting,...,,,50,68,60,50,50,32,,

CURRENT INDICIES
[996]
Returning Entries for: #852 - Clobbopus
https://bulbapedia.bulbagarden.net/wiki/Clobbopus_(Pok%C3%A9mon)

Acquiring 95 Images for Clobbopus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Clobbopus

Acquiring 15 Tables for Clobbopus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/clobbopus

Acquiring 36 Tables for Clobbopus from Serebii
[█████████████████████████] 100.0% ...Collected

996    \nUpdated Body Type for all entries of Clobbopus
Name: NAME, dtype: object
Clobbopus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Clobbopus
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Clobbopus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
997,853,1,8531,8,Galarian,Grapploct,,,,Fighting,...,,,80,118,90,70,80,42,,

CURRENT INDICIES
[997]
Returning Entries for: #853 - Grapploct
https://bulbapedia.bulbagarden.net/wiki/Grapploct_(Pok%C3%A9mon)

Acquiring 106 Images for Grapploct from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Grapploct

Acquiring 16 Tables for Grapploct from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/grapploct

Acquiring 36 Tables for Grapploct from Serebii
[█████████████████████████] 100.0% ...Collected

997    \nUpdated Body Type for all entries of Grapploct
Name: NAME, dtype: object
Grapploct
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Grapploct
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Grapploct
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
998,854,1,8541,8,Galarian,Sinistea,,,,Ghost,...,,,40,45,45,74,54,50,,

CURRENT INDICIES
[998]
Returning Entries for: #854 - Sinistea
https://bulbapedia.bulbagarden.net/wiki/Sinistea_(Pok%C3%A9mon)

Acquiring 83 Images for Sinistea from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sinistea

Acquiring 15 Tables for Sinistea from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sinistea

Acquiring 36 Tables for Sinistea from Serebii
[█████████████████████████] 100.0% ...Collected

998    \nUpdated Body Type for all entries of Sinistea
Name: NAME, dtype: object
Sinistea
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sinistea
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sinistea
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
999,855,1,8551,8,Galarian,Polteageist,,,,Ghost,...,,,60,65,65,134,114,70,,

CURRENT INDICIES
[999]
Returning Entries for: #855 - Polteageist
https://bulbapedia.bulbagarden.net/wiki/Polteageist_(Pok%C3%A9mon)

Acquiring 88 Images for Polteageist from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Polteageist

Acquiring 16 Tables for Polteageist from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/polteageist

Acquiring 36 Tables for Polteageist from Serebii
[█████████████████████████] 100.0% ...Collected

999    \nUpdated Body Type for all entries of Polteag...
Name: NAME, dtype: object
Polteageist
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Polteageist
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Polteageist
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1000,856,1,8561,8,Galarian,Hatenna,,,,Psychic,...,,,42,30,60,56,53,39,,

CURRENT INDICIES
[1000]
Returning Entries for: #856 - Hatenna
https://bulbapedia.bulbagarden.net/wiki/Hatenna_(Pok%C3%A9mon)

Acquiring 72 Images for Hatenna from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hatenna

Acquiring 15 Tables for Hatenna from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hatenna

Acquiring 36 Tables for Hatenna from Serebii
[█████████████████████████] 100.0% ...Collected

1000    \nUpdated Body Type for all entries of Hatenna
Name: NAME, dtype: object
Hatenna
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hatenna
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hatenna
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1001,857,1,8571,8,Galarian,Hattrem,,,,Psychic,...,,,57,40,90,86,73,49,,

CURRENT INDICIES
[1001]
Returning Entries for: #857 - Hattrem
https://bulbapedia.bulbagarden.net/wiki/Hattrem_(Pok%C3%A9mon)

Acquiring 73 Images for Hattrem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hattrem

Acquiring 16 Tables for Hattrem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hattrem

Acquiring 36 Tables for Hattrem from Serebii
[█████████████████████████] 100.0% ...Collected

1001    \nUpdated Body Type for all entries of Hattrem
Name: NAME, dtype: object
Hattrem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hattrem
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hattrem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1002,858,1,8581,8,Galarian,Hatterene,,,,Psychic,...,,,57,90,45,136,103,29,,

CURRENT INDICIES
[1002]
Returning Entries for: #858 - Hatterene
https://bulbapedia.bulbagarden.net/wiki/Hatterene_(Pok%C3%A9mon)

Acquiring 94 Images for Hatterene from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Hatterene

Acquiring 17 Tables for Hatterene from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/hatterene

Acquiring 47 Tables for Hatterene from Serebii
[█████████████████████████] 100.0% ...Collected

1002    \nUpdated Body Type for all entries of Hatterene
Name: NAME, dtype: object
Hatterene
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Hatterene
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Hatterene
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1003,859,1,8591,8,Galarian,Impidimp,,,,Dark,...,,,45,45,65,55,40,50,,

CURRENT INDICIES
[1003]
Returning Entries for: #859 - Impidimp
https://bulbapedia.bulbagarden.net/wiki/Impidimp_(Pok%C3%A9mon)

Acquiring 62 Images for Impidimp from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Impidimp

Acquiring 14 Tables for Impidimp from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/impidimp

Acquiring 35 Tables for Impidimp from Serebii
[█████████████████████████] 100.0% ...Collected

1003    \nUpdated Body Type for all entries of Impidimp
Name: NAME, dtype: object
Impidimp
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Impidimp
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Impidimp
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1004,860,1,8601,8,Galarian,Morgrem,,,,Dark,...,,,65,60,45,75,55,70,,

CURRENT INDICIES
[1004]
Returning Entries for: #860 - Morgrem
https://bulbapedia.bulbagarden.net/wiki/Morgrem_(Pok%C3%A9mon)

Acquiring 64 Images for Morgrem from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Morgrem

Acquiring 15 Tables for Morgrem from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/morgrem

Acquiring 35 Tables for Morgrem from Serebii
[█████████████████████████] 100.0% ...Collected

1004    \nUpdated Body Type for all entries of Morgrem
Name: NAME, dtype: object
Morgrem
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Morgrem
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Morgrem
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1005,861,1,8611,8,Galarian,Grimmsnarl,,,,Dark,...,,,95,120,65,95,75,60,,

CURRENT INDICIES
[1005]
Returning Entries for: #861 - Grimmsnarl
https://bulbapedia.bulbagarden.net/wiki/Grimmsnarl_(Pok%C3%A9mon)

Acquiring 95 Images for Grimmsnarl from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Grimmsnarl

Acquiring 16 Tables for Grimmsnarl from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/grimmsnarl

Acquiring 49 Tables for Grimmsnarl from Serebii
[█████████████████████████] 100.0% ...Collected

1005    \nUpdated Body Type for all entries of Grimmsnarl
Name: NAME, dtype: object
Grimmsnarl
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Grimmsnarl
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Grimmsnarl
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1006,862,1,8621,8,Galarian,Obstagoon,,,,Dark,...,,,93,90,101,60,81,95,,

CURRENT INDICIES
[1006]
Returning Entries for: #862 - Obstagoon
https://bulbapedia.bulbagarden.net/wiki/Obstagoon_(Pok%C3%A9mon)

Acquiring 116 Images for Obstagoon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Obstagoon

Acquiring 16 Tables for Obstagoon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/obstagoon

Acquiring 36 Tables for Obstagoon from Serebii
[█████████████████████████] 100.0% ...Collected

1006    \nUpdated Body Type for all entries of Obstagoon
Name: NAME, dtype: object
Obstagoon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Obstagoon
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Obstagoon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1007,863,1,8631,8,Galarian,Perrserker,,,,Steel,...,,,70,110,100,50,60,50,,

CURRENT INDICIES
[1007]
Returning Entries for: #863 - Perrserker
https://bulbapedia.bulbagarden.net/wiki/Perrserker_(Pok%C3%A9mon)

Acquiring 150 Images for Perrserker from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Perrserker

Acquiring 16 Tables for Perrserker from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/perrserker

Acquiring 37 Tables for Perrserker from Serebii
[█████████████████████████] 100.0% ...Collected

1007    \nUpdated Body Type for all entries of Perrserker
Name: NAME, dtype: object
Perrserker
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Perrserker
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Perrserker
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1008,864,1,8641,8,Galarian,Cursola,,,,Ghost,...,,,60,95,50,145,130,30,,

CURRENT INDICIES
[1008]
Returning Entries for: #864 - Cursola
https://bulbapedia.bulbagarden.net/wiki/Cursola_(Pok%C3%A9mon)

Acquiring 128 Images for Cursola from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cursola

Acquiring 15 Tables for Cursola from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cursola

Acquiring 36 Tables for Cursola from Serebii
[█████████████████████████] 100.0% ...Collected

1008    \nUpdated Body Type for all entries of Cursola
Name: NAME, dtype: object
Cursola
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cursola
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cursola
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1009,865,1,8651,8,Galarian,Sirfetch'd,,,,Fighting,...,,,62,135,95,68,82,65,,

CURRENT INDICIES
[1009]
Returning Entries for: #865 - Sirfetch'd
https://bulbapedia.bulbagarden.net/wiki/Sirfetch'd_(Pok%C3%A9mon)

Acquiring 236 Images for Sirfetch'd from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/sirfetchd

Acquiring 16 Tables for sirfetchd from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sirfetch'd

Acquiring 36 Tables for sirfetch'd from Serebii
[█████████████████████████] 100.0% ...Collected

1009    \nUpdated Body Type for all entries of Sirfetch'd
Name: NAME, dtype: object
Sirfetch'd
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sirfetch'd
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sirfetch'd
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1010,866,1,8661,8,Galarian,Mr. Rime,,,,Ice,...,,,80,85,75,110,100,70,,

CURRENT INDICIES
[1010]
Returning Entries for: #866 - Mr. Rime
https://bulbapedia.bulbagarden.net/wiki/Mr._Rime_(Pok%C3%A9mon)

Acquiring 130 Images for Mr._Rime from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/mr-rime

Acquiring 15 Tables for mr-rime from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/mr.rime

Acquiring 37 Tables for mr.rime from Serebii
[█████████████████████████] 100.0% ...Collected

1010    \nUpdated Body Type for all entries of Mr. Rime
Name: NAME, dtype: object
Mr. Rime
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Mr. Rime
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Mr. Rime
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1011,867,1,8671,8,Galarian,Runerigus,,,,Ground,...,,,58,95,145,50,105,30,,

CURRENT INDICIES
[1011]
Returning Entries for: #867 - Runerigus
https://bulbapedia.bulbagarden.net/wiki/Runerigus_(Pok%C3%A9mon)

Acquiring 93 Images for Runerigus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Runerigus

Acquiring 16 Tables for Runerigus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/runerigus

Acquiring 36 Tables for Runerigus from Serebii
[█████████████████████████] 100.0% ...Collected

1011    \nUpdated Body Type for all entries of Runerigus
Name: NAME, dtype: object
Runerigus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Runerigus
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Runerigus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1012,868,1,8681,8,Galarian,Milcery,,,,Fairy,...,,,45,40,40,50,61,34,,

CURRENT INDICIES
[1012]
Returning Entries for: #868 - Milcery
https://bulbapedia.bulbagarden.net/wiki/Milcery_(Pok%C3%A9mon)

Acquiring 71 Images for Milcery from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Milcery

Acquiring 14 Tables for Milcery from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/milcery

Acquiring 35 Tables for Milcery from Serebii
[█████████████████████████] 100.0% ...Collected

1012    \nUpdated Body Type for all entries of Milcery
Name: NAME, dtype: object
Milcery
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Milcery
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Milcery
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1013,869,1,8691,8,Galarian,Alcremie,,,,Fairy,...,,,65,60,75,110,121,64,,

CURRENT INDICIES
[1013]
Returning Entries for: #869 - Alcremie
https://bulbapedia.bulbagarden.net/wiki/Alcremie_(Pok%C3%A9mon)

Acquiring 242 Images for Alcremie from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Alcremie

Acquiring 25 Tables for Alcremie from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/alcremie

Acquiring 51 Tables for Alcremie from Serebii
[█████████████████████████] 100.0% ...Collected

1013    \nUpdated Body Type for all entries of Alcremie
Name: NAME, dtype: object
Alcremie
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Alcremie
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Alcremie
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1014,870,1,8701,8,Galarian,Falinks,,,,Fighting,...,,,65,100,100,70,60,75,,

CURRENT INDICIES
[1014]
Returning Entries for: #870 - Falinks
https://bulbapedia.bulbagarden.net/wiki/Falinks_(Pok%C3%A9mon)

Acquiring 65 Images for Falinks from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Falinks

Acquiring 14 Tables for Falinks from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/falinks

Acquiring 33 Tables for Falinks from Serebii
[█████████████████████████] 100.0% ...Collected

1014    \nUpdated Body Type for all entries of Falinks
Name: NAME, dtype: object
Falinks
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Falinks
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Falinks
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1015,871,1,8711,8,Galarian,Pincurchin,,,,Electric,...,,,48,101,95,91,85,15,,

CURRENT INDICIES
[1015]
Returning Entries for: #871 - Pincurchin
https://bulbapedia.bulbagarden.net/wiki/Pincurchin_(Pok%C3%A9mon)

Acquiring 79 Images for Pincurchin from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Pincurchin

Acquiring 17 Tables for Pincurchin from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/pincurchin

Acquiring 36 Tables for Pincurchin from Serebii
[█████████████████████████] 100.0% ...Collected

1015    \nUpdated Body Type for all entries of Pincurchin
Name: NAME, dtype: object
Pincurchin
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Pincurchin
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Pincurchin
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1016,872,1,8721,8,Galarian,Snom,,,,Ice,...,,,30,25,35,45,30,20,,

CURRENT INDICIES
[1016]
Returning Entries for: #872 - Snom
https://bulbapedia.bulbagarden.net/wiki/Snom_(Pok%C3%A9mon)

Acquiring 74 Images for Snom from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Snom

Acquiring 15 Tables for Snom from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/snom

Acquiring 36 Tables for Snom from Serebii
[█████████████████████████] 100.0% ...Collected

1016    \nUpdated Body Type for all entries of Snom
Name: NAME, dtype: object
Snom
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Snom
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Snom
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1017,873,1,8731,8,Galarian,Frosmoth,,,,Ice,...,,,70,65,60,125,90,65,,

CURRENT INDICIES
[1017]
Returning Entries for: #873 - Frosmoth
https://bulbapedia.bulbagarden.net/wiki/Frosmoth_(Pok%C3%A9mon)

Acquiring 95 Images for Frosmoth from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Frosmoth

Acquiring 16 Tables for Frosmoth from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/frosmoth

Acquiring 36 Tables for Frosmoth from Serebii
[█████████████████████████] 100.0% ...Collected

1017    \nUpdated Body Type for all entries of Frosmoth
Name: NAME, dtype: object
Frosmoth
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Frosmoth
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Frosmoth
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1018,874,1,8741,8,Galarian,Stonjourner,,,,Rock,...,,,100,125,135,20,20,70,,

CURRENT INDICIES
[1018]
Returning Entries for: #874 - Stonjourner
https://bulbapedia.bulbagarden.net/wiki/Stonjourner_(Pok%C3%A9mon)

Acquiring 76 Images for Stonjourner from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Stonjourner

Acquiring 15 Tables for Stonjourner from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/stonjourner

Acquiring 36 Tables for Stonjourner from Serebii
[█████████████████████████] 100.0% ...Collected

1018    \nUpdated Body Type for all entries of Stonjou...
Name: NAME, dtype: object
Stonjourner
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Stonjourner
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Stonjourner
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1019,875,1,8751,8,Galarian,Eiscue,,,,Ice,...,,,75,80,110,65,90,50,,
1020,875,2,8752,8,Galarian,Eiscue,,,,Ice,...,,,75,80,70,65,50,130,,

CURRENT INDICIES
[1019, 1020]
Returning Entries for: #875 - Eiscue
https://bulbapedia.bulbagarden.net/wiki/Eiscue_(Pok%C3%A9mon)

Acquiring 159 Images for Eiscue from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eiscue

Acquiring 21 Tables for Eiscue from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eiscue

Acquiring 39 Tables for Eiscue from Serebii
[█████████████████████████] 100.0% ...Collected

1019    \nUpdated Body Type for all entries of Eiscue
1020    \nUpdated Body Type for all entries of Eiscue
Name: NAME, dtype: object
Eiscue
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eiscue
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eiscue
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1019,875,1,8751,8,Galarian,Eiscue,,,,Ice,...,,,75,80,110,65,90,50,,
1020,875,2,8752,8,Galarian,Eiscue,,,,Ice,...,,,75,80,70,65,50,130,,

CURRENT INDICIES
[1019, 1020]
Returning Entries for: #875 - Eiscue
https://bulbapedia.bulbagarden.net/wiki/Eiscue_(Pok%C3%A9mon)

Acquiring 159 Images for Eiscue from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eiscue

Acquiring 21 Tables for Eiscue from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eiscue

Acquiring 39 Tables for Eiscue from Serebii
[█████████████████████████] 100.0% ...Collected

1019    \nUpdated Body Type for all entries of Eiscue
1020    \nUpdated Body Type for all entries of Eiscue
Name: NAME, dtype: object
Eiscue
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eiscue
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eiscue
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1021,876,1,8761,8,Galarian,Indeedee M,,,,Psychic,...,,,60,65,55,105,95,95,,
1022,876,2,8762,8,Galarian,Indeedee F,,,,Psychic,...,,,70,55,65,95,105,85,,

CURRENT INDICIES
[1021, 1022]
Returning Entries for: #876 - Indeedee M/F
https://bulbapedia.bulbagarden.net/wiki/Indeedee_(Pok%C3%A9mon)

Acquiring 125 Images for Indeedee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/indeedee

Acquiring 26 Tables for indeedee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/indeedee

Acquiring 92 Tables for indeedee from Serebii
[█████████████████████████] 100.0% ...Collected

1021    \nUpdated Body Type for all entries of Indeedee M
1022    \nUpdated Body Type for all entries of Indeedee F
Name: NAME, dtype: object
Indeedee M
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Indeedee M/F
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Indeedee M
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1021,876,1,8761,8,Galarian,Indeedee M,,,,Psychic,...,,,60,65,55,105,95,95,,
1022,876,2,8762,8,Galarian,Indeedee F,,,,Psychic,...,,,70,55,65,95,105,85,,

CURRENT INDICIES
[1021, 1022]
Returning Entries for: #876 - Indeedee M/F
https://bulbapedia.bulbagarden.net/wiki/Indeedee_(Pok%C3%A9mon)

Acquiring 125 Images for Indeedee from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/indeedee

Acquiring 26 Tables for indeedee from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/indeedee

Acquiring 92 Tables for indeedee from Serebii
[█████████████████████████] 100.0% ...Collected

1021    \nUpdated Body Type for all entries of Indeedee M
1022    \nUpdated Body Type for all entries of Indeedee F
Name: NAME, dtype: object
Indeedee M
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Indeedee M/F
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Indeedee M
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1023,877,1,8771,8,Galarian,Morpeko,,,,Electric,...,,,58,95,58,70,58,97,,

CURRENT INDICIES
[1023]
Returning Entries for: #877 - Morpeko
https://bulbapedia.bulbagarden.net/wiki/Morpeko_(Pok%C3%A9mon)

Acquiring 168 Images for Morpeko from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Morpeko

Acquiring 22 Tables for Morpeko from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/morpeko

Acquiring 39 Tables for Morpeko from Serebii
[█████████████████████████] 100.0% ...Collected

1023    \nUpdated Body Type for all entries of Morpeko
Name: NAME, dtype: object
Morpeko
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Morpeko
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Morpeko
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1024,878,1,8781,8,Galarian,Cufant,,,,Steel,...,,,72,80,49,40,49,40,,

CURRENT INDICIES
[1024]
Returning Entries for: #878 - Cufant
https://bulbapedia.bulbagarden.net/wiki/Cufant_(Pok%C3%A9mon)

Acquiring 173 Images for Cufant from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Cufant

Acquiring 15 Tables for Cufant from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/cufant

Acquiring 37 Tables for Cufant from Serebii
[█████████████████████████] 100.0% ...Collected

1024    \nUpdated Body Type for all entries of Cufant
Name: NAME, dtype: object
Cufant
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Cufant
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Cufant
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1025,879,1,8791,8,Galarian,Copperajah,,,,Steel,...,,,122,130,69,80,69,30,,

CURRENT INDICIES
[1025]
Returning Entries for: #879 - Copperajah
https://bulbapedia.bulbagarden.net/wiki/Copperajah_(Pok%C3%A9mon)

Acquiring 198 Images for Copperajah from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Copperajah

Acquiring 17 Tables for Copperajah from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/copperajah

Acquiring 52 Tables for Copperajah from Serebii
[█████████████████████████] 100.0% ...Collected

1025    \nUpdated Body Type for all entries of Copperajah
Name: NAME, dtype: object
Copperajah
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Copperajah
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Copperajah
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1026,880,1,8801,8,Galarian,Dracozolt,,,,Electric,...,,,90,100,90,80,70,75,,

CURRENT INDICIES
[1026]
Returning Entries for: #880 - Dracozolt
https://bulbapedia.bulbagarden.net/wiki/Dracozolt_(Pok%C3%A9mon)

Acquiring 70 Images for Dracozolt from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dracozolt

Acquiring 18 Tables for Dracozolt from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dracozolt

Acquiring 33 Tables for Dracozolt from Serebii
[█████████████████████████] 100.0% ...Collected

1026    \nUpdated Body Type for all entries of Dracozolt
Name: NAME, dtype: object
Dracozolt
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dracozolt
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dracozolt
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1027,881,1,8811,8,Galarian,Arctozolt,,,,Electric,...,,,90,100,90,90,80,55,,

CURRENT INDICIES
[1027]
Returning Entries for: #881 - Arctozolt
https://bulbapedia.bulbagarden.net/wiki/Arctozolt_(Pok%C3%A9mon)

Acquiring 68 Images for Arctozolt from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Arctozolt

Acquiring 18 Tables for Arctozolt from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/arctozolt

Acquiring 32 Tables for Arctozolt from Serebii
[█████████████████████████] 100.0% ...Collected

1027    \nUpdated Body Type for all entries of Arctozolt
Name: NAME, dtype: object
Arctozolt
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Arctozolt
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Arctozolt
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1028,882,1,8821,8,Galarian,Dracovish,,,,Water,...,,,90,90,100,70,80,75,,

CURRENT INDICIES
[1028]
Returning Entries for: #882 - Dracovish
https://bulbapedia.bulbagarden.net/wiki/Dracovish_(Pok%C3%A9mon)

Acquiring 67 Images for Dracovish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dracovish

Acquiring 18 Tables for Dracovish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dracovish

Acquiring 33 Tables for Dracovish from Serebii
[█████████████████████████] 100.0% ...Collected

1028    \nUpdated Body Type for all entries of Dracovish
Name: NAME, dtype: object
Dracovish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dracovish
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dracovish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1029,883,1,8831,8,Galarian,Arctovish,,,,Water,...,,,90,90,100,80,90,55,,

CURRENT INDICIES
[1029]
Returning Entries for: #883 - Arctovish
https://bulbapedia.bulbagarden.net/wiki/Arctovish_(Pok%C3%A9mon)

Acquiring 62 Images for Arctovish from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Arctovish

Acquiring 18 Tables for Arctovish from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/arctovish

Acquiring 32 Tables for Arctovish from Serebii
[█████████████████████████] 100.0% ...Collected

1029    \nUpdated Body Type for all entries of Arctovish
Name: NAME, dtype: object
Arctovish
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Arctovish
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Arctovish
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1030,884,1,8841,8,Galarian,Duraludon,,,,Steel,...,,,70,95,115,120,50,85,,

CURRENT INDICIES
[1030]
Returning Entries for: #884 - Duraludon
https://bulbapedia.bulbagarden.net/wiki/Duraludon_(Pok%C3%A9mon)

Acquiring 101 Images for Duraludon from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Duraludon

Acquiring 16 Tables for Duraludon from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/duraludon

Acquiring 50 Tables for Duraludon from Serebii
[█████████████████████████] 100.0% ...Collected

1030    \nUpdated Body Type for all entries of Duraludon
Name: NAME, dtype: object
Duraludon
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Duraludon
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Duraludon
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1031,885,1,8851,8,Galarian,Dreepy,,,,Dragon,...,,,28,60,30,40,30,82,,

CURRENT INDICIES
[1031]
Returning Entries for: #885 - Dreepy
https://bulbapedia.bulbagarden.net/wiki/Dreepy_(Pok%C3%A9mon)

Acquiring 124 Images for Dreepy from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dreepy

Acquiring 14 Tables for Dreepy from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dreepy

Acquiring 36 Tables for Dreepy from Serebii
[█████████████████████████] 100.0% ...Collected

1031    \nUpdated Body Type for all entries of Dreepy
Name: NAME, dtype: object
Dreepy
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dreepy
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dreepy
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1032,886,1,8861,8,Galarian,Drakloak,,,,Dragon,...,,,68,80,50,60,50,102,,

CURRENT INDICIES
[1032]
Returning Entries for: #886 - Drakloak
https://bulbapedia.bulbagarden.net/wiki/Drakloak_(Pok%C3%A9mon)

Acquiring 148 Images for Drakloak from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Drakloak

Acquiring 15 Tables for Drakloak from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/drakloak

Acquiring 36 Tables for Drakloak from Serebii
[█████████████████████████] 100.0% ...Collected

1032    \nUpdated Body Type for all entries of Drakloak
Name: NAME, dtype: object
Drakloak
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Drakloak
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Drakloak
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1033,887,1,8871,8,Galarian,Dragapult,,,,Dragon,...,,,88,120,75,100,75,142,,

CURRENT INDICIES
[1033]
Returning Entries for: #887 - Dragapult
https://bulbapedia.bulbagarden.net/wiki/Dragapult_(Pok%C3%A9mon)

Acquiring 158 Images for Dragapult from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Dragapult

Acquiring 15 Tables for Dragapult from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/dragapult

Acquiring 36 Tables for Dragapult from Serebii
[█████████████████████████] 100.0% ...Collected

1033    \nUpdated Body Type for all entries of Dragapult
Name: NAME, dtype: object
Dragapult
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Dragapult
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Dragapult
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1034,888,1,8881,8,Galarian,Zacian,,,,Fairy,...,,,92,130,115,80,115,138,,
1035,888,2,8882,8,Galarian,Zacian,,,,Fairy,...,,,92,170,115,80,115,148,,

CURRENT INDICIES
[1034, 1035]
Returning Entries for: #888 - Zacian
https://bulbapedia.bulbagarden.net/wiki/Zacian_(Pok%C3%A9mon)

Acquiring 103 Images for Zacian from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zacian

Acquiring 20 Tables for Zacian from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zacian

Acquiring 37 Tables for Zacian from Serebii
[█████████████████████████] 100.0% ...Collected

1034    \nUpdated Body Type for all entries of Zacian
1035    \nUpdated Body Type for all entries of Zacian
Name: NAME, dtype: object
Zacian
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zacian
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zacian
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1034,888,1,8881,8,Galarian,Zacian,,,,Fairy,...,,,92,130,115,80,115,138,,
1035,888,2,8882,8,Galarian,Zacian,,,,Fairy,...,,,92,170,115,80,115,148,,

CURRENT INDICIES
[1034, 1035]
Returning Entries for: #888 - Zacian
https://bulbapedia.bulbagarden.net/wiki/Zacian_(Pok%C3%A9mon)

Acquiring 103 Images for Zacian from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zacian

Acquiring 20 Tables for Zacian from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zacian

Acquiring 37 Tables for Zacian from Serebii
[█████████████████████████] 100.0% ...Collected

1034    \nUpdated Body Type for all entries of Zacian
1035    \nUpdated Body Type for all entries of Zacian
Name: NAME, dtype: object
Zacian
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zacian
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zacian
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1036,889,1,8891,8,Galarian,Zamazenta,,,,Fighting,...,,,92,130,115,80,115,138,,
1037,889,2,8892,8,Galarian,Zamazenta,,,,Fighting,...,,,92,130,145,80,145,128,,

CURRENT INDICIES
[1036, 1037]
Returning Entries for: #889 - Zamazenta
https://bulbapedia.bulbagarden.net/wiki/Zamazenta_(Pok%C3%A9mon)

Acquiring 104 Images for Zamazenta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zamazenta

Acquiring 21 Tables for Zamazenta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zamazenta

Acquiring 38 Tables for Zamazenta from Serebii
[█████████████████████████] 100.0% ...Collected

1036    \nUpdated Body Type for all entries of Zamazenta
1037    \nUpdated Body Type for all entries of Zamazenta
Name: NAME, dtype: object
Zamazenta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zamazenta
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zamazenta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1036,889,1,8891,8,Galarian,Zamazenta,,,,Fighting,...,,,92,130,115,80,115,138,,
1037,889,2,8892,8,Galarian,Zamazenta,,,,Fighting,...,,,92,130,145,80,145,128,,

CURRENT INDICIES
[1036, 1037]
Returning Entries for: #889 - Zamazenta
https://bulbapedia.bulbagarden.net/wiki/Zamazenta_(Pok%C3%A9mon)

Acquiring 104 Images for Zamazenta from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zamazenta

Acquiring 21 Tables for Zamazenta from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zamazenta

Acquiring 38 Tables for Zamazenta from Serebii
[█████████████████████████] 100.0% ...Collected

1036    \nUpdated Body Type for all entries of Zamazenta
1037    \nUpdated Body Type for all entries of Zamazenta
Name: NAME, dtype: object
Zamazenta
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zamazenta
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zamazenta
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1038,890,1,8901,8,Galarian,Eternatus,,,,Poison,...,,,140,85,95,145,95,130,,
1039,890,2,8902,8,Galarian,Eternatus,,,,Poison,...,,,255,115,250,125,250,130,,

CURRENT INDICIES
[1038, 1039]
Returning Entries for: #890 - Eternatus
https://bulbapedia.bulbagarden.net/wiki/Eternatus_(Pok%C3%A9mon)

Acquiring 78 Images for Eternatus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eternatus

Acquiring 21 Tables for Eternatus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eternatus

Acquiring 43 Tables for Eternatus from Serebii
[█████████████████████████] 100.0% ...Collected

1038    \nUpdated Body Type for all entries of Eternatus
1039    \nUpdated Body Type for all entries of Eternatus
Name: NAME, dtype: object
Eternatus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eternatus
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eternatus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1038,890,1,8901,8,Galarian,Eternatus,,,,Poison,...,,,140,85,95,145,95,130,,
1039,890,2,8902,8,Galarian,Eternatus,,,,Poison,...,,,255,115,250,125,250,130,,

CURRENT INDICIES
[1038, 1039]
Returning Entries for: #890 - Eternatus
https://bulbapedia.bulbagarden.net/wiki/Eternatus_(Pok%C3%A9mon)

Acquiring 78 Images for Eternatus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Eternatus

Acquiring 21 Tables for Eternatus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/eternatus

Acquiring 43 Tables for Eternatus from Serebii
[█████████████████████████] 100.0% ...Collected

1038    \nUpdated Body Type for all entries of Eternatus
1039    \nUpdated Body Type for all entries of Eternatus
Name: NAME, dtype: object
Eternatus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Eternatus
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Eternatus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1040,891,1,8911,8,Galarian,Kubfu,,,,Fighting,...,,,60,90,60,53,50,72,,

CURRENT INDICIES
[1040]
Returning Entries for: #891 - Kubfu
https://bulbapedia.bulbagarden.net/wiki/Kubfu_(Pok%C3%A9mon)

Acquiring 60 Images for Kubfu from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kubfu

Acquiring 14 Tables for Kubfu from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kubfu

Acquiring 34 Tables for Kubfu from Serebii
[█████████████████████████] 100.0% ...Collected

1040    \nUpdated Body Type for all entries of Kubfu
Name: NAME, dtype: object
Kubfu
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kubfu
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kubfu
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1041,892,1,8921,8,Galarian,Urshifu,,,,Fighting,...,,,100,130,100,63,60,97,,
1042,892,2,8922,8,Galarian,Urshifu,,,,Fighting,...,,,100,130,100,63,60,97,,

CURRENT INDICIES
[1041, 1042]
Returning Entries for: #892 - Urshifu
https://bulbapedia.bulbagarden.net/wiki/Urshifu_(Pok%C3%A9mon)

Acquiring 170 Images for Urshifu from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Urshifu

Acquiring 29 Tables for Urshifu from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/urshifu

Acquiring 124 Tables for Urshifu from Serebii
[█████████████████████████] 100.0% ...Collected

1041    \nUpdated Body Type for all entries of Urshifu
1042    \nUpdated Body Type for all entries of Urshifu
Name: NAME, dtype: object
Urshifu
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Urshifu
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Urshifu
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1041,892,1,8921,8,Galarian,Urshifu,,,,Fighting,...,,,100,130,100,63,60,97,,
1042,892,2,8922,8,Galarian,Urshifu,,,,Fighting,...,,,100,130,100,63,60,97,,

CURRENT INDICIES
[1041, 1042]
Returning Entries for: #892 - Urshifu
https://bulbapedia.bulbagarden.net/wiki/Urshifu_(Pok%C3%A9mon)

Acquiring 170 Images for Urshifu from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Urshifu

Acquiring 29 Tables for Urshifu from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/urshifu

Acquiring 124 Tables for Urshifu from Serebii
[█████████████████████████] 100.0% ...Collected

1041    \nUpdated Body Type for all entries of Urshifu
1042    \nUpdated Body Type for all entries of Urshifu
Name: NAME, dtype: object
Urshifu
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Urshifu
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Urshifu
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1043,893,1,8931,8,Galarian,Zarude,,,,Dark,...,,,105,120,105,70,95,105,,

CURRENT INDICIES
[1043]
Returning Entries for: #893 - Zarude
https://bulbapedia.bulbagarden.net/wiki/Zarude_(Pok%C3%A9mon)

Acquiring 101 Images for Zarude from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Zarude

Acquiring 15 Tables for Zarude from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/zarude

Acquiring 35 Tables for Zarude from Serebii
[█████████████████████████] 100.0% ...Collected

1043    \nUpdated Body Type for all entries of Zarude
Name: NAME, dtype: object
Zarude
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Zarude
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Zarude
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1044,894,1,8941,8,Galarian,Regieleki,,,,Electric,...,,,80,100,50,100,50,200,,

CURRENT INDICIES
[1044]
Returning Entries for: #894 - Regieleki
https://bulbapedia.bulbagarden.net/wiki/Regieleki_(Pok%C3%A9mon)

Acquiring 55 Images for Regieleki from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Regieleki

Acquiring 14 Tables for Regieleki from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/regieleki

Acquiring 32 Tables for Regieleki from Serebii
[█████████████████████████] 100.0% ...Collected

1044    \nUpdated Body Type for all entries of Regieleki
Name: NAME, dtype: object
Regieleki
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Regieleki
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Regieleki
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1045,895,1,8951,8,Galarian,Regidrago,,,,Dragon,...,,,200,100,50,100,50,80,,

CURRENT INDICIES
[1045]
Returning Entries for: #895 - Regidrago
https://bulbapedia.bulbagarden.net/wiki/Regidrago_(Pok%C3%A9mon)

Acquiring 49 Images for Regidrago from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Regidrago

Acquiring 14 Tables for Regidrago from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/regidrago

Acquiring 33 Tables for Regidrago from Serebii
[█████████████████████████] 100.0% ...Collected

1045    \nUpdated Body Type for all entries of Regidrago
Name: NAME, dtype: object
Regidrago
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Regidrago
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Regidrago
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1046,896,1,8961,8,Galarian,Glastrier,,,,Ice,...,,,100,145,130,65,110,30,,

CURRENT INDICIES
[1046]
Returning Entries for: #896 - Glastrier
https://bulbapedia.bulbagarden.net/wiki/Glastrier_(Pok%C3%A9mon)

Acquiring 63 Images for Glastrier from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Glastrier

Acquiring 14 Tables for Glastrier from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/glastrier

Acquiring 32 Tables for Glastrier from Serebii
[█████████████████████████] 100.0% ...Collected

1046    \nUpdated Body Type for all entries of Glastrier
Name: NAME, dtype: object
Glastrier
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Glastrier
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Glastrier
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1047,897,1,8971,8,Galarian,Spectrier,,,,Ghost,...,,,100,65,60,145,80,130,,

CURRENT INDICIES
[1047]
Returning Entries for: #897 - Spectrier
https://bulbapedia.bulbagarden.net/wiki/Spectrier_(Pok%C3%A9mon)

Acquiring 57 Images for Spectrier from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Spectrier

Acquiring 14 Tables for Spectrier from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/spectrier

Acquiring 32 Tables for Spectrier from Serebii
[█████████████████████████] 100.0% ...Collected

1047    \nUpdated Body Type for all entries of Spectrier
Name: NAME, dtype: object
Spectrier
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Spectrier
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Spectrier
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1048,898,1,8981,8,Galarian,Calyrex,,,,Psychic,...,,,100,80,80,80,80,80,,
1049,898,2,8982,8,Galarian,Calyrex,,,,Psychic,...,,,100,165,150,85,130,50,,
1050,898,3,8983,8,Galarian,Calyrex,,,,Psychic,...,,,100,85,80,165,100,150,,

CURRENT INDICIES
[1048, 1049, 1050]
Returning Entries for: #898 - Calyrex
https://bulbapedia.bulbagarden.net/wiki/Calyrex_(Pok%C3%A9mon)

Acquiring 261 Images for Calyrex from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Calyrex

Acquiring 36 Tables for Calyrex from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/calyrex

Acquiring 145 Tables for Calyrex from Serebii
[█████████████████████████] 100.0% ...Collected

1048    \nUpdated Body Type for all entries of Calyrex
1049    \nUpdated Body Type for all entries of Calyrex
1050    \nUpdated Body Type for all entries of Calyrex
Name: NAME, dtype: object
Calyrex
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Calyrex
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Calyrex
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1048,898,1,8981,8,Galarian,Calyrex,,,,Psychic,...,,,100,80,80,80,80,80,,
1049,898,2,8982,8,Galarian,Calyrex,,,,Psychic,...,,,100,165,150,85,130,50,,
1050,898,3,8983,8,Galarian,Calyrex,,,,Psychic,...,,,100,85,80,165,100,150,,

CURRENT INDICIES
[1048, 1049, 1050]
Returning Entries for: #898 - Calyrex
https://bulbapedia.bulbagarden.net/wiki/Calyrex_(Pok%C3%A9mon)

Acquiring 261 Images for Calyrex from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Calyrex

Acquiring 36 Tables for Calyrex from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/calyrex

Acquiring 145 Tables for Calyrex from Serebii
[█████████████████████████] 100.0% ...Collected

1048    \nUpdated Body Type for all entries of Calyrex
1049    \nUpdated Body Type for all entries of Calyrex
1050    \nUpdated Body Type for all entries of Calyrex
Name: NAME, dtype: object
Calyrex
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Calyrex
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Calyrex
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1048,898,1,8981,8,Galarian,Calyrex,,,,Psychic,...,,,100,80,80,80,80,80,,
1049,898,2,8982,8,Galarian,Calyrex,,,,Psychic,...,,,100,165,150,85,130,50,,
1050,898,3,8983,8,Galarian,Calyrex,,,,Psychic,...,,,100,85,80,165,100,150,,

CURRENT INDICIES
[1048, 1049, 1050]
Returning Entries for: #898 - Calyrex
https://bulbapedia.bulbagarden.net/wiki/Calyrex_(Pok%C3%A9mon)

Acquiring 261 Images for Calyrex from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Calyrex

Acquiring 36 Tables for Calyrex from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/calyrex

Acquiring 145 Tables for Calyrex from Serebii
[█████████████████████████] 100.0% ...Collected

1048    \nUpdated Body Type for all entries of Calyrex
1049    \nUpdated Body Type for all entries of Calyrex
1050    \nUpdated Body Type for all entries of Calyrex
Name: NAME, dtype: object
Calyrex
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Calyrex
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Calyrex
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1051,899,1,8991,8,Hisuian,Wyrdeer,,,,Normal,...,,,103,105,72,105,75,65,,

CURRENT INDICIES
[1051]
Returning Entries for: #899 - Wyrdeer
https://bulbapedia.bulbagarden.net/wiki/Wyrdeer_(Pok%C3%A9mon)

Acquiring 25 Images for Wyrdeer from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Wyrdeer

Acquiring 15 Tables for Wyrdeer from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/wyrdeer

Acquiring 40 Tables for Wyrdeer from Serebii
[█████████████████████████] 100.0% ...Collected

1051    \nUpdated Body Type for all entries of Wyrdeer
Name: NAME, dtype: object
Wyrdeer
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Wyrdeer
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Wyrdeer
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1052,900,1,9001,8,Hisuian,Kleavor,,,,Bug,...,,,70,135,95,45,70,85,,

CURRENT INDICIES
[1052]
Returning Entries for: #900 - Kleavor
https://bulbapedia.bulbagarden.net/wiki/Kleavor_(Pok%C3%A9mon)

Acquiring 23 Images for Kleavor from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Kleavor

Acquiring 11 Tables for Kleavor from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/kleavor

Acquiring 39 Tables for Kleavor from Serebii
[█████████████████████████] 100.0% ...Collected

1052    \nUpdated Body Type for all entries of Kleavor
Name: NAME, dtype: object
Kleavor
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Kleavor
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Kleavor
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1053,901,1,9011,8,Hisuian,Ursaluna,,,,Ground,...,,,130,140,105,45,80,50,,

CURRENT INDICIES
[1053]
Returning Entries for: #901 - Ursaluna
https://bulbapedia.bulbagarden.net/wiki/Ursaluna_(Pok%C3%A9mon)

Acquiring 24 Images for Ursaluna from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Ursaluna

Acquiring 11 Tables for Ursaluna from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/ursaluna

Acquiring 40 Tables for Ursaluna from Serebii
[█████████████████████████] 100.0% ...Collected

1053    \nUpdated Body Type for all entries of Ursaluna
Name: NAME, dtype: object
Ursaluna
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Ursaluna
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Ursaluna
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1054,902,1,9021,8,Hisuian,Basculegion,,,,Water,...,,,120,112,65,80,75,78,,

CURRENT INDICIES
[1054]
Returning Entries for: #902 - Basculegion
https://bulbapedia.bulbagarden.net/wiki/Basculegion_(Pok%C3%A9mon)

Acquiring 24 Images for Basculegion from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Basculegion

Acquiring 17 Tables for Basculegion from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/basculegion

Acquiring 45 Tables for Basculegion from Serebii
[█████████████████████████] 100.0% ...Collected

1054    \nUpdated Body Type for all entries of Bascule...
Name: NAME, dtype: object
Basculegion
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Basculegion
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Basculegion
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1055,903,1,9031,8,Hisuian,Sneasler,,,,Fighting,...,,,80,130,60,40,80,120,,

CURRENT INDICIES
[1055]
Returning Entries for: #903 - Sneasler
https://bulbapedia.bulbagarden.net/wiki/Sneasler_(Pok%C3%A9mon)

Acquiring 22 Images for Sneasler from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Sneasler

Acquiring 11 Tables for Sneasler from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/sneasler

Acquiring 39 Tables for Sneasler from Serebii
[█████████████████████████] 100.0% ...Collected

1055    \nUpdated Body Type for all entries of Sneasler
Name: NAME, dtype: object
Sneasler
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Sneasler
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Sneasler
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1056,904,1,9041,8,Hisuian,Overqwil,,,,Dark,...,,,85,115,95,65,65,85,,

CURRENT INDICIES
[1056]
Returning Entries for: #904 - Overqwil
https://bulbapedia.bulbagarden.net/wiki/Overqwil_(Pok%C3%A9mon)

Acquiring 23 Images for Overqwil from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Overqwil

Acquiring 11 Tables for Overqwil from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/overqwil

Acquiring 40 Tables for Overqwil from Serebii
[█████████████████████████] 100.0% ...Collected

1056    \nUpdated Body Type for all entries of Overqwil
Name: NAME, dtype: object
Overqwil
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Overqwil
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Overqwil
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1057,905,1,9051,8,Hisuian,Enamorus,,,,Fairy,...,,,74,115,70,135,80,106,,
1058,905,2,9052,8,Hisuian,Enamorus,,,,Fairy,...,,,74,115,110,135,100,46,,

CURRENT INDICIES
[1057, 1058]
Returning Entries for: #905 - Enamorus
https://bulbapedia.bulbagarden.net/wiki/Enamorus_(Pok%C3%A9mon)

Acquiring 36 Images for Enamorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Enamorus

Acquiring 18 Tables for Enamorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/enamorus

Acquiring 38 Tables for Enamorus from Serebii
[█████████████████████████] 100.0% ...Collected

1057    \nUpdated Body Type for all entries of Enamorus
1058    \nUpdated Body Type for all entries of Enamorus
Name: NAME, dtype: object
Enamorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Enamorus
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Enamorus
Input 1 was Pokedex Number

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
1057,905,1,9051,8,Hisuian,Enamorus,,,,Fairy,...,,,74,115,70,135,80,106,,
1058,905,2,9052,8,Hisuian,Enamorus,,,,Fairy,...,,,74,115,110,135,100,46,,

CURRENT INDICIES
[1057, 1058]
Returning Entries for: #905 - Enamorus
https://bulbapedia.bulbagarden.net/wiki/Enamorus_(Pok%C3%A9mon)

Acquiring 36 Images for Enamorus from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Enamorus

Acquiring 18 Tables for Enamorus from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/enamorus

Acquiring 38 Tables for Enamorus from Serebii
[█████████████████████████] 100.0% ...Collected

1057    \nUpdated Body Type for all entries of Enamorus
1058    \nUpdated Body Type for all entries of Enamorus
Name: NAME, dtype: object
Enamorus
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Enamorus
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Standard Level Up added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Enamorus

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
0,556,1,5561,5,Unovan,Maractus,Head & Base,Grass,-,Grass,...,"[Spiky Shield, Peck, Absorb, After You, Ingrai...",50%:50%,75,86,67,106,67,60,"4,884-5,140","[Desert Resort, Mirage Spots, Route 6, Bridge ..."
1,557,1,5571,5,Unovan,Dwebble,Insectoid,Bug,Mineral,Bug,...,"[Fury Cutter, Sand Attack, Withdraw, Smack Dow...",50%:50%,50,65,85,35,35,55,"4,884-5,140","[Route 18, Desert Resort, Desert Resort, Route..."
2,558,1,5581,5,Unovan,Crustle,Insectoid,Bug,Mineral,Bug,...,"[Fury Cutter, Sand Attack, Withdraw, Smack Dow...",50%:50%,70,105,125,65,75,45,"4,884-5,140","[Route 18, Mirage Spots, Ultra Space Wilds, Ax..."
3,559,1,5591,5,Unovan,Scraggy,Bipedal & Tailed,Dragon,Field,Dark,...,"[Low Kick, Leer, Payback, Headbutt, Sand Attac...",50%:50%,50,75,70,35,70,48,"3,599-3,855","[Route 1, Route 4, Route 18, P2 Laboratory, De..."
4,560,1,5601,5,Unovan,Scrafty,Bipedal & Tailed,Dragon,Field,Dark,...,"[Low Kick, Leer, Payback, Headbutt, Sand Attac...",50%:50%,65,90,115,45,115,58,"3,599-3,855","[Route 1, Route 15, Route 18, P2 Laboratory]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,904,1,9041,8,Hisuian,Overqwil,Finned,Unknown,Unknown,Dark,...,"[Poison Sting, Spikes, Pin Missile, Barb Barra...",Unknown,85,115,95,65,65,85,Unknown,[Unknown]
537,905,1,9051,8,Hisuian,Incarnate Enamorus,Head & Arms,Unknown,Unknown,Fairy,...,"[Tackle, Bite, Twister, Draining Kiss, Iron De...",Unknown,74,115,70,135,80,106,Unknown,[Unknown]
538,905,2,9052,8,Hisuian,Therian Enamorus,Quadrapedal,Unknown,Unknown,Fairy,...,"[Tackle, Bite, Twister, Draining Kiss, Iron De...",Unknown,74,115,110,135,100,46,Unknown,[Unknown]
539,905,1,9051,8,Hisuian,Incarnate Enamorus,Head & Arms,Unknown,Unknown,Fairy,...,"[Tackle, Bite, Twister, Draining Kiss, Iron De...",Unknown,74,115,70,135,80,106,Unknown,[Unknown]
540,905,2,9052,8,Hisuian,Therian Enamorus,Quadrapedal,Unknown,Unknown,Fairy,...,"[Tackle, Bite, Twister, Draining Kiss, Iron De...",Unknown,74,115,110,135,100,46,Unknown,[Unknown]

<class 'pandas.core.frame.DataFrame'>
Final CSV Saved as: FinalDatabase2022.03.31-22.14.11.csv
Preserving: .\FinalDatabase2022.03.31-22.14.11.csv
Removing: .\temp2022.03.31-22.14.11.csv

### Section 6) Single Search - Research Display

In [46]:
#currentEntries, currentIndicies, NAME, DEXNUMB = pull_entries(fullListDF,'4') # Good Mega-Evo Example
#currentEntries, currentIndicies, NAME, DEXNUMB = pull_entries(fullListDF,'Yungoos') # Good Not-in-Gen-8 Example
#currentEntries, currentIndicies, NAME, DEXNUMB = pull_entries(fullListDF,'Meowth', '52') # Good Alt-Forms & Alt-Evolution Example
#currentEntries, currentIndicies, NAME, DEXNUMB = pull_entries(fullListDF,'26','Raichu') #

#SPECIAL_NAME_NUMBERS_LIST = [29, 32, 83, 122, 439, 678, 772, 865, 866, 876]

#ERROR AT 656 Darmanitan

currentEntries, currentIndicies, refName, NAME, DEXNUMB = pull_entries(fullListDF,'Meowth') # Good Not-in-Gen-8 Example

display(currentEntries)
print(currentIndicies)

Input 1 was Pokemon Name

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
66,52,1,521,1,Kantonian,Meowth,,,,Normal,...,,,40,45,35,40,40,90,,
67,52,2,522,7,Alolan,Meowth,,,,Dark,...,,,40,35,35,50,40,90,,
68,52,3,523,8,Galarian,Meowth,,,,Steel,...,,,50,65,55,40,40,40,,

CURRENT INDICIES
[66, 67, 68]
Returning Entries for: #52 - Meowth

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
66,52,1,521,1,Kantonian,Meowth,,,,Normal,...,,,40,45,35,40,40,90,,
67,52,2,522,7,Alolan,Meowth,,,,Dark,...,,,40,35,35,50,40,90,,
68,52,3,523,8,Galarian,Meowth,,,,Steel,...,,,50,65,55,40,40,40,,

[66, 67, 68]

In [47]:
print(refName)

BPimageDictionary = bulbapedia_images(NAME)

PDBtablesDictionary, PDBtableCount = pokemondb_tables(NAME)

SBtablesDictionary = serebii_tables(NAME, DEXNUMB)

Meowth
https://bulbapedia.bulbagarden.net/wiki/Meowth_(Pok%C3%A9mon)

Acquiring 685 Images for Meowth from Bulbapedia
[█████████████████████████] 100.0% ...Parsing

https://pokemondb.net/pokedex/Meowth

Acquiring 41 Tables for Meowth from PokemonDB
[█████████████████████████] 100.0% ...Collected

https://www.serebii.net/pokedex-swsh/meowth

Acquiring 113 Tables for Meowth from Serebii
[█████████████████████████] 100.0% ...Collected

In [48]:
print(refName)

BPparsed = bulbapedia_parser(BPimageDictionary, currentEntries, currentIndicies, refName)

PDBparsed = pokemondb_parser(PDBtablesDictionary, PDBtableCount, currentEntries, currentIndicies, NAME, refName)

SBparsed = serebii_parser(SBtablesDictionary, currentEntries, currentIndicies, refName)

alt_form_updater(NAME,currentIndicies, currentEntries)

alt_body_updater(NAME, currentIndicies, currentEntries)

display(currentEntries)

Meowth
66    \nUpdated Body Type for all entries of Meowth
67    \nUpdated Body Type for all entries of Meowth
68    \nUpdated Body Type for all entries of Meowth
Name: NAME, dtype: object
Meowth
Updated Egg Groups, Gender Ratios, Steps-To-Hatch, & Locations for all entries of Meowth
Standard Level Up added to Full Moves List
Sword & Shield Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
BDSP Technical Machine Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Alola Form Level Up added to Full Moves List
Sword & Shield Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
BDSP Technical Machine Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Galarian Form Level Up added to Full Moves List
Sword & Shield Technical Machine Attacks added to Full Moves List
Technical Record Attacks added to Full Moves List
BDSP Technical Machine Attacks added to Full Moves List
Egg Moves (Details) added to Full Moves List
Usable Max Moves added to Full Moves List
FULL MOVE SET COMPILED
Updated Full Move Set for all entries of Meowth

,NUMBER,CODE,SERIAL,GENERATION,REGION,NAME,BODY_TYPE,EGG_GROUP1,EGG_GROUP2,TYPE1,...,MOVES,GENDER_RATIOS(M:F),HP,ATK,DEF,SP_ATK,SP_DEF,SPD,STEPS_TO_HATCH,LOCATIONS
66,52,1,521,1,Kantonian,Meowth,Quadrapedal,Field,-,Normal,...,"[Fake Out, Growl, Feint, Scratch, Pay Day, Bit...",50%:50%,40,45,35,40,40,90,"4,884-5,140","[Route 5, Route 6, Route 7, Route 8, Route 5, ..."
67,52,2,522,7,Alolan,Meowth,Quadrapedal,Field,-,Dark,...,"[Fake Out, Growl, Feint, Scratch, Pay Day, Bit...",50%:50%,40,35,35,50,40,90,"4,884-5,140","[Route 5, Route 6, Route 7, Route 8, Route 5, ..."
68,52,3,523,8,Galarian,Meowth,Quadrapedal,Field,-,Steel,...,"[Fake Out, Growl, Hone Claws, Scratch, Pay Day...",50%:50%,50,65,55,40,40,40,"4,884-5,140","[Route 5, Route 6, Route 7, Route 8, Route 5, ..."